html, body, div, span, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, abbr, address, cite,
code, del, dfn, em, img, ins, kbd, q, samp, small, strong,
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/helveticaneuecyr-bold.eot");
  src: url("../fonts/helveticaneuecyr-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bold.woff") format("woff"), url("../fonts/helveticaneuecyr-bold.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold.svg#helveticaneuecyrbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Regular";
  src: url("../fonts/helveticaneuecyr-roman.eot");
  src: url("../fonts/helveticaneuecyr-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman.svg#helveticaneuecyrroman") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  color: black;
  font-family: "Helvetica Neue Regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: #f6f6f6;
}

a:focus, a:active, input:focus, input:active, button:focus, button:active, textarea:focus, textarea:active, select:focus, select:active {
  outline: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #1F2533;
  font-weight: 400;
  font-family: Georgia, serif;
  margin: 0 0 20px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
  color: inherit;
  text-decoration: none;
}
h1.h-regular, h2.h-regular, h3.h-regular, h4.h-regular, h5.h-regular, h6.h-regular,
.h1.h-regular, .h2.h-regular, .h3.h-regular, .h4.h-regular, .h5.h-regular, .h6.h-regular {
  font-weight: 400;
}
h1.block-title, h2.block-title, h3.block-title, h4.block-title, h5.block-title, h6.block-title,
.h1.block-title, .h2.block-title, .h3.block-title, .h4.block-title, .h5.block-title, .h6.block-title {
  margin-bottom: 30px;
}

.first-desc strong, .first-desc b {
  color: #DB3141;
  font-weight: 400;
  font-family: Georgia, serif;
}

strong, b {
  font-weight: 700;
  font-family: "Helvetica Neue Regular", Helvetica, Arial, sans-serif;
}

i, em {
  font-style: italic;
}

h1, .h1 {
  font-size: 12vw;
  line-height: 1.2;
}

h2, .h2 {
  font-size: 32px;
  line-height: 40px;
}

h3, .h3 {
  font-size: 28px;
  line-height: 38px;
}

h4, .h4 {
  font-size: 24px;
  line-height: 32px;
}

h5, .h5 {
  font-size: 18px;
  line-height: 26px;
}

h6, .h6 {
  font-size: 18px;
  line-height: 26px;
}

small {
  font-size: 12px;
  line-height: 20px;
  color: #555555;
}

a {
  color: #666666;
}
a:hover {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.align-right {
  float: right;
  margin: 0 0 15px 20px !important;
}

.align-left {
  float: left;
  margin: 0 20px 15px 0 !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  display: block;
  text-align: center !important;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #2F333A;
  margin: 0 0 35px;
}

.display-none {
  display: none;
}

*::-webkit-input-placeholder {
  opacity: 1;
  color: #bbbbbb;
}

*:-webkit-input-placeholder {
  opacity: 1;
  color: #bbbbbb;
}

*::-moz-placeholder {
  opacity: 1;
  color: #bbbbbb;
}

*:-moz-placeholder {
  opacity: 1;
  color: #bbbbbb;
}

*:-ms-input-placeholder {
  opacity: 1;
  color: #bbbbbb;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  color: #41454D;
  font-family: "Helvetica Neue Bold", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: left;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.modal-open {
  overflow: hidden;
}
.modal-open body {
  overflow: hidden;
}
.modal-open body .wrapper {
  overflow: hidden;
}

.body-section {
  position: relative;
  padding: 100px 0 60px;
}
.body-section .first-p {
  color: #131A26;
  font-size: 18px;
  margin-bottom: 50px;
}
.body-section img {
  display: block;
  max-width: 100%;
  height: auto;
}
.body-section .rent-table img {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.body-section p, .body-section ul, .body-section ol {
  line-height: 1.7;
  margin-bottom: 40px;
}
.body-section p:not(.first-p):last-child, .body-section ul:not(.first-p):last-child, .body-section ol:not(.first-p):last-child {
  margin-bottom: 0 !important;
}
.body-section ul, .body-section ol {
  padding: 0;
  list-style: none;
}
.body-section ul li, .body-section ol li {
  padding-left: 30px;
  position: relative;
}
.body-section ul li:last-child, .body-section ol li:last-child {
  margin: 0;
}
.body-section ul:not(.nav) li:before {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%227%22%20height%3D%222%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M0%20.6h6.3%22%20stroke%3D%22%23888%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.body-section ol {
  counter-reset: myCounter;
}
.body-section ol li:before {
  position: absolute;
  left: 0;
  width: 18px;
  top: 0;
  text-align: right;
  counter-increment: myCounter;
  content: counter(myCounter) ".";
}

.same-height > * {
  display: flex;
}
.same-height > * > * {
  flex: 1;
}

.simple-section.white-section {
  background-color: white;
}

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 8vw;
  }
}
@media (min-width: 992px) {
  h1, .h1 {
    font-size: 5.625vw;
    line-height: 6.25vw;
  }

  h2, .h2 {
    font-size: 80px;
    line-height: 100px;
  }

  h3, .h3 {
    font-size: 2.8125vw;
    line-height: 3.9375vw;
  }

  h4, .h4 {
    font-size: 2.25vw;
    line-height: 2.75vw;
  }

  h5, .h5 {
    font-size: 1.625vw;
    line-height: 1.875vw;
  }

  h6, .h6 {
    font-size: 1vw;
    line-height: 1.5vw;
  }

  h1.block-title, h2.block-title, h3.block-title, h4.block-title, h5.block-title, h6.block-title,
  .h1.block-title, .h2.block-title, .h3.block-title, .h4.block-title, .h5.block-title, .h6.block-title {
    margin-bottom: 70px;
  }

  a {
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
  }
  a:hover {
    color: #70A63A;
    text-decoration: none;
  }

  .body-section {
    padding: 200px 0;
  }
  .body-section .first-p {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
  }
}
@media (min-width: 1900px) {
  .body-section {
    padding: 10vw 0;
  }
}
/*__________________________________________________________________________ Grid        */
.container {
  padding: 0 30px;
}

@media (min-width: 992px) {
  .container {
    padding: 0;
  }
}
.row {
  font-size: 0;
  letter-spacing: -0.36em;
}
.row.row-center {
  text-align: center;
}
.row > [class^="col-"] {
  font-size: 16px;
  letter-spacing: normal;
}

.row:before,
.row:after,
[class^="col-"]:before,
[class^="col-"]:after {
  content: " ";
  display: table;
}

.row:after,
[class^="col-"]:after {
  clear: both;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  display: inline-block;
  box-sizing: border-box;
  letter-spacing: normal;
  font-size: 15px;
  vertical-align: top;
  width: 100%;
  text-align: left;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .row > [class^="col-"] {
    font-size: 16px;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1900px) {
  .row > [class^="col-"] {
    font-size: 1vw;
  }
}
/*__________________________________________________________________________ Header ______________________ */
.home_page.loaded .header .container {
  margin-top: 0;
  opacity: 1;
}

.home_page.loaded-fast .header .container {
  margin-top: 0;
  opacity: 1;
  transition: 0s ease-in-out;
  -webkit-transition: 0s ease-in-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
}

.home_page .header .container {
  opacity: 0;
  margin-top: -60px;
  transition: 1s cubic-bezier(0.9, 0.15, 0.1, 0.85);
  -webkit-transition: 1s cubic-bezier(0.9, 0.15, 0.1, 0.85);
}
.home_page .header .lang-switcher, .home_page .header .dropdown-menu {
  background-color: white;
}

.simple_page .header__logo svg path {
  fill: black;
}
.simple_page .menu-trigger:before, .simple_page .menu-trigger:after {
  background-color: black;
}

.header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}

.black .header__logo svg path {
  fill: black;
}
.black .menu-trigger:before, .black .menu-trigger:after {
  background-color: black;
}

.header__logo .black svg path {
  fill: black;
}

.menu-trigger .black:before, .menu-trigger .black:after {
  background-color: black;
}

.header__logo {
  position: fixed;
  top: 30px !important;
  left: 30px !important;
  z-index: 3;
  float: left;
  width: 70px;
  height: 45px;
}
.header__logo a {
  display: block;
}
.header__logo svg {
  display: block;
}

.main-menu-overlay {
  display: none;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-menu-overlay .overlay-logo {
  position: absolute;
  top: calc(50% - 34px);
  left: calc(35% - 53px);
  border: 2px solid white;
  padding: 25px 30px;
}
.main-menu-overlay .overlay-logo svg {
  display: block;
  width: 105px;
  height: auto;
}

.main-menu-block {
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  overflow-y: auto;
  background-color: #f6f6f6;
  transition: right 0.3s ease;
  -webkit-transition: right 0.3s ease;
}
.main-menu-block.open-menu {
  right: 0;
}
.main-menu-block .main-menu-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.main-menu-block .main-menu-wrap .main-menu-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.main-menu-block .header__main-menu {
  list-style: none;
  margin: 0;
  padding: 120px 30% 0 0;
  text-align: right;
}
.main-menu-block .header__main-menu > li {
  font-size: 24px;
  line-height: 27px;
  font-family: Georgia, serif;
  padding: 0 0 25px;
}
.main-menu-block .header__main-menu > li:last-child {
  padding: 0;
}
.main-menu-block .header__main-menu > li.grey {
  color: #dddddd;
}
.main-menu-block .header__main-menu > li.grey a {
  color: #dddddd;
}
.main-menu-block .header__main-menu > li a {
  position: relative;
  color: black;
  font-size: 24px;
  line-height: 27px;
  font-family: Georgia, serif;
  text-decoration: none;
}
.main-menu-block .header__main-menu > li a.current {
  color: #DB3141;
}
.main-menu-block .header__lang-menu {
  list-style: none;
  margin: 0;
  padding: 0 30% 50px 0;
  text-align: right;
  font-size: 0;
  letter-spacing: -0.36em;
}
.main-menu-block .header__lang-menu > li {
  display: inline-block;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: normal;
  margin-left: 15px;
  font-family: Georgia, serif;
  color: #dddddd;
}
.main-menu-block .header__lang-menu > li a {
  position: relative;
  color: black;
  font-size: 24px;
  line-height: 27px;
  text-decoration: none;
  font-family: Georgia, serif;
}
.main-menu-block .header__lang-menu > li a.current {
  color: #DB3141;
}
.main-menu-block .line {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  max-width: 274px;
  margin: 30px 30% 30px 0;
}

.trigger-block {
  position: fixed;
  top: 38px !important;
  right: 30px !important;
  left: auto !important;
  z-index: 6;
  float: right;
  width: 30px;
  height: 30px;
}

.midnightInner {
  overflow: unset !important;
}

.menu-trigger {
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
  overflow: hidden;
}
.menu-trigger.open:before, .menu-trigger.open:after {
  background-color: black;
}
.menu-trigger:before, .menu-trigger:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.menu-trigger:before {
  top: 9px;
}
.menu-trigger:after {
  bottom: 9px;
}
.menu-trigger.open:before {
  top: 14px;
  -webkit-transform: translateY(0) rotate(135deg);
  transform: translateY(0) rotate(135deg);
}
.menu-trigger.open:after {
  bottom: 14px;
  -webkit-transform: translateY(0) rotate(225deg);
  transform: translateY(0) rotate(225deg);
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    z-index: 5;
    top: 30px;
    left: 0;
    right: 0;
  }
  .header.fixed-amimate {
    top: 0;
    transition: top 0.3s ease-in-out;
    -webkit-transition: top 0.3s ease-in-out;
  }
}
@media (min-width: 992px) {
  .main-menu-block {
    right: -30%;
    width: 30%;
  }
  .main-menu-block.open-menu {
    right: 0;
  }
  .main-menu-block .header__main-menu {
    margin: 0;
    padding: 50px 25% 0 0;
    text-align: right;
  }
  .main-menu-block .header__main-menu > li {
    padding: 0 0 35px;
  }
  .main-menu-block .header__main-menu > li a:hover {
    color: #DB3141;
  }
  .main-menu-block .header__lang-menu {
    padding: 0 25% 50px 0;
    text-align: right;
  }
  .main-menu-block .header__lang-menu > li {
    margin-left: 15px;
  }
  .main-menu-block .header__lang-menu > li a:hover {
    color: #DB3141;
  }
  .main-menu-block .line {
    display: inline-block;
    vertical-align: top;
    margin: 80px 25% 80px 0;
  }

  .header__logo {
    left: 50px !important;
  }

  .trigger-block {
    right: 50px !important;
  }
}
@media (min-width: 1900px) {
  .main-menu-block .header__main-menu > li {
    font-size: 1.5vw;
    line-height: 1.75vw;
    padding: 0 0 2vw;
  }
  .main-menu-block .header__main-menu > li a {
    font-size: 1.5vw;
    line-height: 1.75vw;
  }
  .main-menu-block .header__lang-menu > li {
    font-size: 1.5vw;
    line-height: 1.75vw;
  }
  .main-menu-block .header__lang-menu > li a {
    font-size: 1.5vw;
    line-height: 1.75vw;
  }

  .main-menu-block .line {
    width: 15vw;
  }
}
/*__________________________________________________________________________ Footer ______________________ */
.simple_page .footer, .home_page .footer {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  right: 0;
}
.simple_page .footer .dev, .home_page .footer .dev {
  position: absolute;
  left: 35px;
  bottom: 23px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
  transform-origin: left;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.simple_page .footer .dev a, .home_page .footer .dev a {
  color: inherit;
  text-decoration: none;
}
.simple_page .footer .facebook, .home_page .footer .facebook {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 20px;
  height: 20px;
}
.simple_page .footer .facebook svg, .home_page .footer .facebook svg {
  display: block;
  margin: 0 auto;
}

.simple_page .footer .dev {
  color: rgba(0, 0, 0, 0.5);
}
.simple_page .footer .facebook svg path {
  fill: black;
  stroke: black;
}

.other_page .footer {
  padding: 70px 0;
  background-color: black;
}
.other_page .footer .footer-menu {
  list-style: none;
  text-align: center;
  margin-bottom: 70px;
}
.other_page .footer .footer-menu li {
  display: inline-block;
  margin: 0 15px;
  color: white;
  font-size: 18px;
  line-height: 36px;
  font-family: Georgia, serif;
}
.other_page .footer .footer-menu li.grey {
  color: #666666;
}
.other_page .footer .footer-menu li a {
  font-size: 18px;
  line-height: 36px;
  font-family: Georgia, serif;
  color: white;
  text-decoration: none;
}
.other_page .footer .facebook {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto 80px;
}
.other_page .footer .facebook svg {
  display: block;
  margin: 0 auto;
}
.other_page .footer .line {
  display: block;
  margin: 0 auto;
}
.other_page .footer .footer-links {
  margin-top: 65px;
  text-align: center;
}
.other_page .footer .footer-links a {
  display: inline-block;
  margin: 0 15px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  opacity: 0.5;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}
.other_page .footer .footer-links a:hover {
  opacity: 1;
}

@media (min-width: 992px) {
  .footer .dev {
    left: 55px;
  }
  .footer .facebook {
    right: 50px;
  }

  .other_page .footer {
    padding: 100px 0;
  }
}
@media (min-width: 1900px) {
  .other_page .footer {
    padding: 6vw 0;
  }
  .other_page .footer .footer-menu li {
    font-size: 1.25vw;
    line-height: 1.5vw;
  }
  .other_page .footer .footer-menu li a {
    font-size: 1.25vw;
    line-height: 1.5vw;
  }
  .other_page .footer .footer-links a {
    font-size: 0.75vw;
    line-height: 1.25vw;
  }
  .other_page .footer .facebook svg {
    width: 1vw;
    height: auto;
  }
  .other_page .footer .line {
    width: 15vw;
  }
}
/*__________________________________________________________________________ Buttons ______________________ */
.btn {
  display: inline-block;
  min-width: 165px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  white-space: nowrap;
  vertical-align: top;
}
.btn.btn-disable {
  opacity: 0.4;
  cursor: default;
}
.btn.btn-large {
  padding: 20px 10px 16px;
}
.btn.btn-medium {
  padding: 8px 10px;
}
.btn.btn-small {
  padding: 3px 10px;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
.btn.btn-black {
  color: white;
  background-color: black;
}
.btn.btn-green {
  color: white;
  background-color: #70A63A;
}
.btn svg {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
}

.win_os .btn.btn-large {
  padding: 17px 10px 19px;
}
.win_os .btn.btn-medium {
  padding: 5px 10px 11px;
}
.win_os .btn.btn-small {
  padding: 0 10px 3px;
}

@media (min-width: 992px) {
  .btn {
    min-width: 165px;
  }
  .btn.btn-green:hover:not(.btn-disable) {
    background-color: #7DC03A;
    -webkit-box-shadow: 0 16px 8px 0 rgba(112, 166, 58, 0.2);
    box-shadow: 0 16px 8px 0 rgba(112, 166, 58, 0.2);
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.nav:before, .nav:after {
  display: table;
  content: "";
}
.nav:after {
  clear: both;
}

.tabs.login-tabs {
  margin-bottom: 30px;
}
.tabs.login-tabs .nav-tabs li {
  width: 50%;
}
.tabs.results-tabs .nav-tabs li {
  width: 25%;
}
.tabs .nav-tabs {
  list-style: none;
  font-size: 0;
  letter-spacing: -0.36em;
  text-align: center;
}
.tabs .nav-tabs li {
  position: relative;
  display: inline-block;
  font-size: 15px;
  letter-spacing: normal;
  background-color: #f7f7f7;
  padding: 0 10px;
  box-sizing: border-box;
  width: 50%;
}
.tabs .nav-tabs li:first-child {
  border-radius: 3px 0 0 3px;
}
.tabs .nav-tabs li:last-child {
  border-radius: 0 3px 3px 0;
}
.tabs .nav-tabs li.active {
  background-color: #dfdfdf !important;
}
.tabs .nav-tabs li.active a {
  color: #444452;
}
.tabs .nav-tabs li a {
  display: block;
  color: #bbbbbb;
  line-height: 18px;
  font-weight: 600;
  padding: 16px 0;
  text-decoration: none;
}
.tabs .nav-tabs li a span {
  font-weight: 400;
}
.tabs .tab-pane {
  padding: 50px 0 0;
}

.main-filter-section .tabs .nav-tabs li {
  background-color: white;
}
.main-filter-section .tabs .tab-pane {
  padding: 30px 0 0;
}

@media (min-width: 992px) {
  .main-filter-section .tabs .nav-tabs li {
    font-size: 15px;
    width: 214px;
  }

  .tabs.login-tabs {
    margin-bottom: 50px;
  }
  .tabs.login-tabs .input-checkbox {
    margin-top: 12px;
  }
}
@media (max-width: 767px) {
  .tabs.results-tabs .nav-tabs li {
    width: 50%;
  }
}
.input-radio {
  position: relative;
  z-index: 2;
  line-height: 16px;
}
.input-radio [type="radio"]:checked,
.input-radio [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.input-radio [type="radio"]:checked + label,
.input-radio [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 11px;
  line-height: 16px;
  display: inline-block;
  color: #B6B9BF;
  text-transform: uppercase;
}
.input-radio [type="radio"]:checked + label:before,
.input-radio [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 14px;
  height: 14px;
  border: 1px solid #D8DCE6;
}
.input-radio [type="radio"]:checked + label:after,
.input-radio [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #70A63A;
  position: absolute;
  top: 5px;
  left: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.input-radio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.input-radio [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.discover-section {
  padding: 75px 0;
}

.discover-block .discover-first-block {
  position: relative;
  height: 440px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.discover-block .discover-first-block:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #1F2533;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}
.discover-block .discover-first-block .discover-first-block-company {
  position: absolute;
  z-index: 2;
  top: 35px;
  left: 35px;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
}
.discover-block .discover-first-block .discover-first-block-price {
  position: absolute;
  z-index: 2;
  top: 35px;
  right: 35px;
  color: white;
  font-size: 50px;
  line-height: 60px;
  text-align: right;
  text-transform: uppercase;
}
.discover-block .discover-first-block .discover-first-block-price span {
  display: block;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.7;
  margin-right: 5px;
}
.discover-block .discover-first-block .discover-first-block-content {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 35px;
  right: 35px;
  color: white;
  text-align: center;
}
.discover-block .discover-first-block .discover-first-block-content h3 {
  color: white;
}
.discover-block .discover-first-block .discover-first-block-content span {
  display: block;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.owl-theme {
  margin-bottom: 30px;
}
.owl-theme .owl-dots {
  position: absolute;
  left: 35px;
  right: 35px;
  bottom: 15px;
}
.owl-theme .owl-dots .owl-dot span {
  margin: 5px 6px;
  width: 32px;
  height: 4px;
  opacity: 0.5;
  border-radius: 4px;
  background-color: white;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.owl-theme .owl-dots .owl-dot.active span {
  opacity: 1;
  background-color: #70A63A;
}
.owl-theme .owl-dots .owl-dot:hover:not(.active) span {
  opacity: 1;
  background-color: white;
}

.discover-block .discover-first-block .discover-first-block-company {
  opacity: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
.discover-block .discover-first-block .discover-first-block-content h3, .discover-block .discover-first-block .discover-first-block-content span, .discover-block .discover-first-block .discover-first-block-content .btn {
  opacity: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.discover-block .discover-first-block .discover-first-block-content h3 {
  left: 0;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}
.discover-block .discover-first-block .discover-first-block-content span {
  transition-delay: 0.35s;
  -webkit-transition-delay: 0.35s;
}
.discover-block .discover-first-block .discover-first-block-content .btn {
  transition-delay: 0.65s;
  -webkit-transition-delay: 0.65s;
}

.discover-block .active .discover-first-block .discover-first-block-company {
  opacity: 0.7;
}
.discover-block .active .discover-first-block .discover-first-block-content h3, .discover-block .active .discover-first-block .discover-first-block-content span, .discover-block .active .discover-first-block .discover-first-block-content .btn {
  opacity: 1;
}

.converter-block {
  height: 440px;
  margin-bottom: 30px;
  padding: 50px 35px 20px;
  background-color: white;
  overflow: hidden;
}
.converter-block table {
  width: 100%;
}
.converter-block table tr:last-child td {
  border: none;
}
.converter-block table td {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 0 11px;
  border-bottom: 1px solid #E6EAF2;
}
.converter-block table td:nth-child(1) {
  width: 25%;
  opacity: 0.5;
}
.converter-block table td:nth-child(2) {
  width: 40%;
  padding-left: 10%;
}
.converter-block table td:nth-child(3) {
  width: 25%;
  text-align: right;
  font-size: 12px;
}
.converter-block table td.current {
  color: #70A63A;
}
.converter-block table td.empty:before {
  position: absolute;
  top: 24px;
  right: 0;
  width: 24px;
  height: 1px;
  content: "";
  background-color: #2F333A;
}

.win_os .converter-block table td {
  padding: 12px 0 14px;
}

.partner-discover-block {
  position: relative;
  height: 440px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #70A63A;
  overflow: hidden;
}
.partner-discover-block a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 75px 20px 20px;
}
.partner-discover-block .partner-block-icon {
  width: 136px;
  height: 136px;
  margin: 0 auto 25px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22136%22%20height%3D%22136%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M135%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M96%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M80%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-7a1%201%200%201%200%200-2%201%201%200%200%200%200%202m-8-2a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M96%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M80%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63%20134a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8-8a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2054a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2045a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2036a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-15%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2027a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2018a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M25%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M25%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63%20134a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2098a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2089a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2080a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2071a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2%22%20fill%3D%22%23A5F860%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M26%20107V73h14v9h10v-9h37v9h10v-9h14v34H26zm16-27h6V65h-6v15zm47%200h6V65h-6v15zm22-33v24H97v-8H87v8H50v-8H40v8H26V47h85zM50%2036.5c0-4.1%203.4-7.5%207.5-7.5h22c4.1%200%207.5%203.4%207.5%207.5V45H50v-8.5zM89%2045v-8.5c0-5.2-4.3-9.5-9.5-9.5h-22a9.5%209.5%200%200%200-9.5%209.5V45H24v64h89V45H89z%22%20fill%3D%22%23FFF%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.partner-discover-block h3 {
  color: white;
  font-size: 32px;
  line-height: 40px;
}
.partner-discover-block span {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  opacity: 0.7;
}

.dutyfree-discover-block {
  position: relative;
  height: 440px;
  overflow: hidden;
  margin-bottom: 30px;
}
.dutyfree-discover-block a {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 35px 20px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.dutyfree-discover-block a:before {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #1F2533;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}
.dutyfree-discover-block a h3 {
  position: relative;
  z-index: 3;
  color: white;
}
.dutyfree-discover-block a span {
  position: relative;
  z-index: 3;
  color: white;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.7;
}

.center-discover-block {
  position: relative;
  height: 135px;
  margin-bottom: 30px;
  background-color: white;
  overflow: hidden;
}
.center-discover-block a {
  position: relative;
  display: block;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 35px 10px 35px 35px;
}
.center-discover-block .center-discover-icon {
  float: left;
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
}
.center-discover-block .center-discover-icon.icon-tour {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2265%22%20height%3D%2265%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M64%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-32%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-32%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2036a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2027a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-32%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M17%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-7a1%201%200%201%200%200-2%201%201%200%200%200%200%202m-8-2a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M25%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2%22%20fill%3D%22%2372B33C%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M26%2032a6.5%206.5%200%201%201%2013%200%206.5%206.5%200%200%201-13%200zm15%200a8.5%208.5%200%201%200-17%200%208.5%208.5%200%200%200%2017%200zM25.6%2016l6.9-8.3%206.9%208.4H25.6zm7.7-10.5a1%201%200%200%200-1.6%200l-9%2011a1%201%200%200%200%20.8%201.6h18a1%201%200%200%200%20.8-1.7l-9-11zm-.8%2052L25.6%2049h13.8l-6.9%208.4zm9-10.5h-18a1%201%200%200%200-.8%201.7l9%2011a1%201%200%200%200%201.6%200l9-11a1%201%200%200%200-.8-1.7zm7.5-7.6V25.7l8.4%206.8-8.4%207zm10.6-7.6l-11-9a1%201%200%200%200-1.6.8v18a1%201%200%200%200%201.6.7l11-9a1%201%200%200%200%200-1.5zM16%2039.4l-8.4-6.9%208.4-6.8v13.7zm1.4-16.7a1%201%200%200%200-1%200l-11%209a1%201%200%200%200%200%201.6l11%209a1%201%200%200%200%201%20.1c.4-.1.6-.5.6-.9v-18a1%201%200%200%200-.6-.8z%22%20fill%3D%22%235EA91E%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.center-discover-block .center-discover-icon.icon-radar {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2265%22%20height%3D%2265%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M57%2030a24.5%2024.5%200%201%200-24.5%2025%201%201%200%200%200%200-2A22.5%2022.5%200%201%201%2055%2030h-6a16.5%2016.5%200%201%200-16.5%2017%201%201%200%201%200%200-2A14.5%2014.5%200%201%201%2047%2030h-6a8.5%208.5%200%201%200-8.5%209%201%201%200%201%200%200-2%206.5%206.5%200%201%201%206.5-7h-6a1%201%200%201%200%200%202h24a1%201%200%201%200%200-2%22%20fill%3D%22%235EA91E%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M64%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2054a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2045a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2036a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2027a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2018a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-7a1%201%200%201%200%200-2%201%201%200%200%200%200%202m-8-2a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M25%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2%22%20fill%3D%22%2372B33C%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.center-discover-block .center-discover-content {
  margin-left: 90px;
}
.center-discover-block .center-discover-content h3 {
  color: #1F2533;
  margin: -5px 0 0;
}
.center-discover-block .center-discover-content p {
  font-size: 15px;
  font-family: "StarPro Medium", Helvetica, Arial, sans-serif;
  color: #41454D;
}

@media (min-width: 768px) {
  .center-discover-block {
    height: 205px;
  }
  .center-discover-block a {
    position: absolute;
    padding: 70px 55px 50px;
  }
  .center-discover-block .center-discover-content {
    margin-left: 110px;
  }

  .partner-discover-block {
    height: 440px;
    padding: 100px 70px 20px;
  }

  .dutyfree-discover-block {
    height: 440px;
  }
  .dutyfree-discover-block a {
    padding: 50px 60px 20px 60px;
  }

  .converter-block {
    height: 440px;
    padding: 50px 60px 20px;
  }

  .discover-block .discover-first-block .discover-first-block-company {
    top: 50px;
    font-size: 18px;
    line-height: 24px;
  }
  .discover-block .discover-first-block .discover-first-block-price {
    top: 50px;
    right: 45px;
    font-size: 80px;
    line-height: 104px;
  }
  .discover-block .discover-first-block .discover-first-block-price span {
    font-size: 18px;
    line-height: 24px;
  }
  .discover-block .discover-first-block .discover-first-block-content {
    bottom: 55px;
    left: 50px;
    text-align: left;
  }
  .discover-block .discover-first-block .discover-first-block-content span {
    font-size: 24px;
    line-height: 33px;
  }

  .discover-block .discover-first-block .discover-first-block-company {
    left: -50px;
  }
  .discover-block .discover-first-block .discover-first-block-content h3, .discover-block .discover-first-block .discover-first-block-content span, .discover-block .discover-first-block .discover-first-block-content .btn {
    margin-left: -50px;
  }

  .discover-block .active .discover-first-block .discover-first-block-company {
    left: 0;
  }
  .discover-block .active .discover-first-block .discover-first-block-content h3, .discover-block .active .discover-first-block .discover-first-block-content span, .discover-block .active .discover-first-block .discover-first-block-content .btn {
    margin-left: 0;
  }

  .owl-theme {
    margin-bottom: 30px;
  }
  .owl-theme .owl-dots {
    position: absolute;
    left: auto;
    right: 45px;
    bottom: 45px;
  }

  .discover-block .active .discover-first-block .discover-first-block-company {
    left: 50px;
    opacity: 0.7;
  }
  .discover-block .active .discover-first-block .discover-first-block-content {
    left: 50px;
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .discover-section {
    padding: 150px 0;
  }

  .center-discover-block a {
    padding: 70px 55px 50px;
  }

  .discover-block .discover-first-block:hover:before {
    opacity: 0.6;
  }

  .dutyfree-discover-block a:hover:before {
    opacity: 0.6;
  }

  .center-discover-block {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
  }
  .center-discover-block:hover {
    -webkit-box-shadow: 0 16px 32px 0 rgba(13, 17, 26, 0.1);
    box-shadow: 0 16px 32px 0 rgba(13, 17, 26, 0.1);
  }

  .partner-discover-block {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
  }
  .partner-discover-block:hover {
    background-color: #7DC03A;
    -webkit-box-shadow: 0 16px 8px 0 rgba(112, 166, 58, 0.2);
    box-shadow: 0 16px 8px 0 rgba(112, 166, 58, 0.2);
  }
}
.slide-image {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.first-block {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.first-block .slide-image {
  background-image: url("../img/slide1.jpg");
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
}

.second-block {
  width: 100%;
  height: 100%;
  position: relative;
}

.home_page.loaded .main-title, .home_page.loaded .down {
  opacity: 1;
}
.home_page .down {
  opacity: 0;
  transition: 0.5s cubic-bezier(0.9, 0.15, 0.1, 0.85);
  -webkit-transition: 0.5s cubic-bezier(0.9, 0.15, 0.1, 0.85);
  transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
}

.main-title {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  margin: 0 30px;
  text-align: right;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.9, 0.15, 0.1, 0.85);
  -webkit-transition: 0.5s cubic-bezier(0.9, 0.15, 0.1, 0.85);
  transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
}
.main-title * {
  color: white;
}

.horizontal-swiper .slide-image {
  height: 50%;
  bottom: auto;
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
}
.horizontal-swiper .slide-image.image-1, .horizontal-swiper .slide-image.image-3 {
  background-image: url("../img/slide2.jpg");
}
.horizontal-swiper .slide-image.image-2 {
  background-image: url("../img/slide3.jpg");
}

.slider-block {
  height: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  padding: 100px 0 20px;
  box-sizing: border-box;
  background-color: white;
  overflow-y: auto;
}

.slider-block-wrap {
  position: relative;
  z-index: 1;
  display: table;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 30px;
  box-sizing: border-box;
}
.slider-block-wrap .slider-block-inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.line-1, .line-2, .line-3, .line-4, .line-5 {
  position: absolute;
  z-index: 2;
  content: "";
  background-color: white;
  transition: 1s cubic-bezier(0.9, 0.15, 0.1, 0.85);
  -webkit-transition: 1s cubic-bezier(0.9, 0.15, 0.1, 0.85);
}

.line-1 {
  top: 50%;
  left: 0;
  width: 0;
  height: 2px;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}

.line-2 {
  left: 50%;
  top: 0;
  width: 2px;
  height: 0;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}

.line-3 {
  left: 41.66666667%;
  bottom: 0;
  width: 2px;
  height: 0;
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
}

.line-4 {
  left: 8.33333333%;
  bottom: 0;
  width: 2px;
  height: 0;
  transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
}

.line-5 {
  right: 0;
  bottom: calc(50% - 8.33333333vw);
  width: 0;
  height: 2px;
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
}

.animate .line-1 {
  width: 50%;
}
.animate .line-2 {
  height: calc(50% + 8.33333333vw);
}
.animate .line-3 {
  height: 50%;
}
.animate .line-4 {
  height: 50%;
}
.animate .line-5 {
  width: calc(50% + 8.33333333vw);
}
.animate .title-block, .animate .slider-block {
  opacity: 1;
}

.horizontal-swiper .swiper-pagination {
  position: absolute;
  z-index: 2;
  right: calc(8.33333333vw - 50px);
  bottom: calc(((50% - 8.33333333vw) / 2) - 20px);
  left: auto;
  width: 100px;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-family: Georgia, serif;
  color: #E5E5E5;
}

.button-prev, .button-next {
  position: absolute;
  z-index: 3;
  width: 19px;
  height: 27px;
  bottom: calc(((50% - 8.33333333vw) / 2) - 13px);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-image 0.5s cubic-bezier(0.9, 0.15, 0.1, 0.85);
  -webkit-transition: background-image 0.5s cubic-bezier(0.9, 0.15, 0.1, 0.85);
}

.button-prev {
  right: calc(8.33333333vw + 60px);
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2227%22%20viewBox%3D%220%200%2019%2027%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23E5E5E5%22%20stroke-width%3D%222%22%20d%3D%22M18%202v23L2%2013.5z%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.button-prev:hover {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2227%22%20viewBox%3D%220%200%2019%2027%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23000000%22%20stroke-width%3D%222%22%20d%3D%22M18%202v23L2%2013.5z%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}

.button-next {
  right: calc(8.33333333vw - 80px);
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2227%22%20viewBox%3D%220%200%2019%2027%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23E5E5E5%22%20stroke-width%3D%222%22%20d%3D%22M1%202v23l16-11.5z%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.button-next:hover {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2227%22%20viewBox%3D%220%200%2019%2027%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23000000%22%20stroke-width%3D%222%22%20d%3D%22M1%202v23l16-11.5z%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}

@media (min-width: 768px) {
  .main-title {
    margin: 0 25%;
  }
}
@media (max-width: 1024px) {
  .horizontal-swiper .swiper-pagination {
    bottom: calc(50% - 70px);
    right: calc(50% - 50px);
  }

  .button-prev {
    left: calc(50% - 80px);
    bottom: calc(50% - 62px);
  }

  .button-next {
    bottom: calc(50% - 62px);
    right: calc(50% - 80px);
  }

  .title-block {
    display: none;
  }

  .line-1, .line-2, .line-3, .line-4, .line-5 {
    display: none;
  }
}
@media (min-width: 1025px) {
  .main-title .line {
    margin: 1.875vw 0 0.9375vw;
    width: 17vw;
  }

  .slider-block {
    opacity: 0;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: auto;
    top: auto;
    width: 33.33333333%;
    height: calc(50% - 8.33333333vw);
    padding: 0 16.66666667% 0 8.33333333%;
    background-color: white;
    transition: 0.4s cubic-bezier(0.9, 0.15, 0.1, 0.85);
    -webkit-transition: 0.4s cubic-bezier(0.9, 0.15, 0.1, 0.85);
    transition-delay: 1.2s;
    -webkit-transition-delay: 1.2s;
    font-size: 1vw;
    line-height: 1.75vw;
    overflow-y: auto;
    box-sizing: unset;
  }
  .slider-block .swiper-slide {
    text-align: left;
  }

  .swiper-pagination, .button-next, .button-prev {
    opacity: 0;
    transition: 0.4s cubic-bezier(0.9, 0.15, 0.1, 0.85);
    -webkit-transition: 0.4s cubic-bezier(0.9, 0.15, 0.1, 0.85);
    transition-delay: 1.2s;
    -webkit-transition-delay: 1.2s;
  }

  .horizontal-swiper .slide-image {
    height: 100%;
    bottom: 0;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .slider-block-wrap {
    display: table;
    padding: 0;
  }
  .slider-block-wrap .slider-block-inner {
    text-align: left;
  }

  .title-block {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 33.33333333%;
    height: 50%;
    padding: 0 8.33333333%;
    text-align: left;
    opacity: 0;
    transition: 0.4s cubic-bezier(0.9, 0.15, 0.1, 0.85);
    -webkit-transition: 0.4s cubic-bezier(0.9, 0.15, 0.1, 0.85);
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .title-block h3 {
    margin: 0;
    color: white;
  }

  .animate .title-block, .animate .slider-block, .animate .swiper-pagination, .animate .button-next, .animate .button-prev {
    opacity: 1;
  }
}
html, body, main, .page-section {
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.wines-swiper {
  background-color: black !important;
}
.wines-swiper .swiper-pagination {
  bottom: 30px;
  height: 10px;
}
.wines-swiper .swiper-pagination-bullet {
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin: 0 7px !important;
  opacity: 1;
  background-size: 100% !important;
}
.wines-swiper .swiper-pagination-bullet:nth-child(1) {
  background: url("../img/dote_1.png") no-repeat center center;
}
.wines-swiper .swiper-pagination-bullet:nth-child(2) {
  background: url("../img/dote_2.png") no-repeat center center;
}
.wines-swiper .swiper-pagination-bullet:nth-child(3) {
  background: url("../img/dote_3.png") no-repeat center center;
}
.wines-swiper .swiper-pagination-bullet:nth-child(4) {
  background: url("../img/dote_4.png") no-repeat center center;
}
.wines-swiper .swiper-pagination-bullet:nth-child(5) {
  background: url("../img/dote_5.png") no-repeat center center;
}
.wines-swiper .swiper-pagination-bullet:nth-child(6) {
  background: url("../img/dote_6.png") no-repeat center center;
}
.wines-swiper .swiper-pagination-bullet:nth-child(7) {
  background: url("../img/dote_7.png") no-repeat center center;
}
.wines-swiper .swiper-pagination-bullet:nth-child(8) {
  background: url("../img/dote_8.png") no-repeat center center;
}
.wines-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: black;
}
.wines-swiper .slide-image {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
}
.wines-swiper .slide-desc {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  text-align: left;
  overflow-y: auto;
}
.wines-swiper .slide-desc h4 {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 2px;
}
.wines-swiper .slide-desc p {
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin-bottom: 10px;
}

.slide-desc-wrap {
  display: table;
  width: calc(100% - 60px);
  padding: 0 30px;
  height: 100%;
}
.slide-desc-wrap .slide-desc-inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 100px 0;
}
.slide-desc-wrap .slide-desc-inner .close-slide-desc {
  position: absolute;
  bottom: 39px;
  left: calc(50% - 11px);
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M11.1%209.69l9.2-9.2a1%201%200%200%201%201.4%201.42l-9.19%209.2%209.2%209.18a1%201%200%200%201-1.42%201.42l-9.19-9.2-9.2%209.2a1%201%200%200%201-1.4-1.42l9.19-9.19-9.2-9.2A1%201%200%200%201%201.91.5l9.2%209.19z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A") no-repeat center center;
}

.desc-table {
  margin-bottom: 40px;
}
.desc-table > div {
  float: left;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Georgia, serif;
  line-height: 45px;
  border: 1px solid white;
  box-sizing: border-box;
}
.desc-table .table-year {
  font-size: 26px;
  border-right: none;
}
.desc-table .table-year, .desc-table .table-type {
  font-weight: 700;
  width: 50%;
  border-bottom: none;
}
.desc-table .table-alc {
  width: 60%;
  border-right: none;
}
.desc-table .table-vol {
  width: 40%;
}

.down {
  position: absolute;
  z-index: 2;
  bottom: 35px;
  left: calc(50% - 14px);
  width: 27px;
  height: 15px;
}
.down svg {
  display: block;
}

.image-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
}
.image-section:before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.image-section .container {
  position: relative;
  z-index: 2;
  height: 100%;
}
.image-section h1, .image-section .h1 {
  color: white;
  margin: 0;
}
.image-section .h1 {
  opacity: 0.4;
}

.table-block-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.table-block-wrap .table-block-inner {
  display: table-cell;
  vertical-align: middle;
}

.page-title {
  position: relative;
  z-index: 2;
  text-align: right;
}

.top-page-title {
  margin-bottom: 50px;
}

.top-page-desc h3 {
  margin: 0;
}

.winery-section {
  padding: 32px 0 80px;
  background-position: center top;
  background-repeat: repeat;
  background-image: url("../img/pattern.png");
}

.row-margin-100 {
  margin-bottom: 70px;
}

.row-margin-150 {
  margin-bottom: 30px;
}

.content-align-center img {
  display: block;
  margin: 0 auto;
  max-width: 80px;
}

.mob-width {
  width: calc(100% + 60px);
  max-width: none !important;
  margin: 0 -30px 30px;
}

.mob-width-left {
  margin-left: -30px;
}

.domains-small-image img {
  margin-left: -20px;
}

.last-img {
  margin: 50px -30px 0;
  width: calc(100% + 60px);
  max-width: none !important;
}

.awards-page h1, .awards-page .h1, .contacts-page h1, .contacts-page .h1 {
  margin: 0;
}
.awards-page h1, .contacts-page h1 {
  color: #DB3141;
}
.awards-page .h1, .contacts-page .h1 {
  color: #dddddd;
}

.awards-page {
  padding-bottom: 0;
}

.awards-block {
  margin-bottom: 100px;
}
.awards-block .awards-block-image {
  position: relative;
  max-width: 200px;
}
.awards-block .awards-block-image .position {
  position: absolute;
  z-index: 1;
  width: 65px;
  height: 64px;
  top: 0;
  right: -32px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.awards-block .awards-block-image .position.first {
  background-image: url("../img/gold.png");
}
.awards-block .awards-block-image .position.second {
  background-image: url("../img/silver.png");
}
.awards-block .awards-block-image .position.third {
  background-image: url("../img/bronze.png");
}
.awards-block .awards-block-image .position.best {
  background-image: url("../img/best.png");
}
.awards-block .awards-block-image img {
  display: block;
  width: 100%;
}
.awards-block .awards-block-desc {
  margin-right: -30px;
  padding: 0 10px 0 20px;
  padding-top: 25vw;
}
.awards-block .awards-block-desc time {
  display: block;
  margin-top: 15px;
  font-size: 20px;
  line-height: 28px;
  color: #999999;
  font-family: Georgia, serif;
}

.contacts-page h6 {
  margin-bottom: 50px;
}

.shop-block {
  margin-bottom: 50px;
}
.shop-block .shop-image {
  height: 120px;
  margin: 0 auto;
}
.shop-block .shop-image img {
  height: 120px;
  display: block;
  margin: 0 auto;
}
.shop-block p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #999999;
  text-align: center;
}
.shop-block p a {
  color: #999999;
  text-decoration: none;
}

.contacts-map {
  height: 500px;
}
.contacts-map .infoBox > img {
  display: none;
}

.contacts-table {
  margin-top: 50px;
}
.contacts-table > div {
  padding: 20px;
  text-align: left;
  font-size: 18px;
  font-family: Georgia, serif;
  line-height: 24px;
  border: 2px solid black;
  box-sizing: border-box;
}
.contacts-table > div a {
  color: black;
  text-decoration: none;
}
.contacts-table .table-address {
  font-weight: 700;
  border-bottom: none;
}
.contacts-table .table-hours {
  border-bottom: none;
}
.contacts-table .table-email {
  border-bottom: none;
}

@media (min-width: 768px) {
  .awards-block .awards-block-image {
    width: 75%;
    position: relative;
  }
  .awards-block .awards-block-desc {
    width: 75%;
    margin-right: 0;
    padding: 80px 0 0;
  }

  .top-page-title {
    margin-bottom: 0;
  }

  .top-page-desc {
    margin-top: 12vw;
  }

  .awards-page {
    padding-bottom: 50px;
  }

  .wines-swiper .swiper-pagination {
    top: 50px;
    bottom: auto;
  }

  .shop-block .shop-image {
    margin: 0 0 20px;
  }
  .shop-block .shop-image img {
    height: 120px;
    margin: 0 0 20px;
  }
  .shop-block p {
    text-align: left;
  }
}
@media (min-width: 1025px) {
  .row-margin-70 {
    margin-bottom: 70px;
  }

  .row-margin-100 {
    margin-bottom: 100px;
  }

  .row-margin-150 {
    margin-bottom: 150px;
  }

  .top-page-desc {
    margin-top: 8vw;
  }

  .mob-width {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .mob-width-left {
    margin-left: 0;
  }

  .domains-small-image img {
    margin: 0 auto;
  }

  .last-img {
    margin: -50px 70px 0;
    width: calc(100% - 140px);
  }

  .awards-block {
    margin-bottom: 150px;
  }
  .awards-block.few-awards .awards-block-image {
    -webkit-box-shadow: 3px 3px 0 0 #f6f6f6;
    box-shadow: 3px 3px 0 0 #f6f6f6;
  }
  .awards-block.few-awards .awards-block-image:before {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    content: "";
    background-color: white;
    -webkit-box-shadow: 3px 3px 0 0 #f6f6f6;
    box-shadow: 3px 3px 0 0 #f6f6f6;
  }
  .awards-block.few-awards .awards-block-image:after {
    position: absolute;
    z-index: -2;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    content: "";
    background-color: white;
  }
  .awards-block .awards-block-image {
    width: 75%;
    position: relative;
  }
  .awards-block .awards-block-image .position {
    width: 95px;
    height: 94px;
    right: -47px;
  }
  .awards-block .awards-block-desc {
    padding: 120px 0 0;
  }

  .page-title {
    margin: 0 25%;
  }

  .winery-section {
    padding: 200px 0;
  }

  .contacts-table {
    -webkit-box-shadow: 0 0 0 2px black inset;
    box-shadow: 0 0 0 2px black inset;
  }
  .contacts-table > div {
    padding: 20px;
    float: left;
    text-align: left;
    font-size: 18px;
    font-family: Georgia, serif;
    line-height: 24px;
    border: 2px solid black;
    box-sizing: border-box;
  }
  .contacts-table > div a {
    color: black;
    text-decoration: none;
  }
  .contacts-table .table-address {
    width: 60%;
    font-weight: 700;
    border-right: none;
    border-bottom: 0;
  }
  .contacts-table .table-hours {
    width: 40%;
    border-bottom: 0;
  }
  .contacts-table .table-email {
    width: 45%;
    border-right: none;
    border-bottom: 2px solid black;
  }
  .contacts-table .table-phone {
    width: 55%;
  }

  .slide-desc-wrap {
    width: 60%;
    padding: 0 20%;
  }
  .slide-desc-wrap .slide-desc-inner {
    padding: 0;
  }
  .slide-desc-wrap .slide-desc-inner .close-slide-desc {
    display: none;
  }

  .wines-swiper .slide-desc {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .contacts-map .infoBox {
    display: none;
  }

  .content-align-center img {
    max-width: 130px;
  }
}
.row-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-vertical .align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

@media (min-width: 1200px) {
  .contacts-table {
    width: 80%;
  }

  .awards-block .awards-block-image {
    max-width: none;
  }
}
@media (min-width: 1900px) {
  .awards-block .awards-block-desc {
    padding: 8vw 0 0;
  }
  .awards-block .awards-block-desc time {
    font-size: 1.25vw;
    line-height: 1.5vw;
  }

  .contacts-table {
    margin-top: 3vw;
  }
  .contacts-table > div {
    font-size: 1vw;
    line-height: 1.5vw;
  }

  .shop-block p {
    font-size: 0.75vw;
    line-height: 1vw;
  }

  .desc-table {
    margin-bottom: 40px;
  }
  .desc-table > div {
    font-size: 1.25vw;
    line-height: 2.25vw;
  }
  .desc-table .table-year {
    font-size: 1.5vw;
  }

  .wines-swiper .slide-desc p {
    font-size: 0.85vw;
    line-height: 1.1vw;
  }

  .row-margin-150 {
    margin-bottom: 9vw;
  }

  .last-img {
    margin: -50px 8% 0;
    width: 84%;
  }
}
.page-404,
.page-404 body {
  padding: 0;
  height: 100%;
  min-height: 325px;
}

.page-404 body {
  text-align: center;
  background-color: #F3F3F3;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.cover-container {
  margin: 50px auto;
  width: calc(100% - 40px);
  padding: 0 20px;
  text-align: center;
}
.cover-container .logo-404 {
  display: inline-block;
  margin: 0 auto 30px;
}
.cover-container .logo-404 img {
  display: block;
}
.cover-container h1 {
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.cover-container .btn-medium {
  padding: 12px 30px;
}
