body
	position: relative
	color: black
	font-family: $main_font
	font-size: 16px
	line-height: 1.75
	background-color: $grey_f6

a, input, button, textarea, select
	&:focus, &:active
		outline:  0

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
	color: $blue
	font-weight: 400
	font-family: $second_font
	margin: 0 0 20px
	a
		color: inherit
		text-decoration: none

	&.h-regular
		font-weight: 400

	&.block-title
		margin-bottom: 30px


.first-desc
	strong, b
		color: $red
		font-weight: 400
		font-family: $second_font


strong, b
	font-weight: 700
	font-family: $main_font

i, em
	font-style: italic

h1, .h1
	font-size: 12vw //30px
	line-height: 1.2 //40px

h2, .h2
	font-size: 32px
	line-height: 40px

h3, .h3
	font-size: 28px
	line-height: 38px

h4, .h4
	font-size: 24px
	line-height: 32px
	// font-size: 22px
	// line-height: 28px

h5, .h5
	font-size: 18px
	line-height: 26px

h6, .h6
	font-size: 18px
	line-height: 26px


small
	font-size: 12px
	line-height: 20px
	color: $grey_55

a
	color: $grey_66
	&:hover
		text-decoration: none

.clearfix:before,
.clearfix:after
	content: " "
	display: table

.clearfix:after
	clear: both

.align-right
	float: right
	margin: 0 0 15px 20px !important

.align-left
	float: left
	margin: 0 20px 15px 0 !important


.text-right
	text-align: right !important

.text-left
	text-align: left !important

.text-center
	display: block
	text-align: center !important


.pull-right
	float: right !important

.pull-left
	float: left !important



.hr
	display: block
	width: 100%
	height: 1px
	background-color: $main_grey
	margin: 0 0 35px

.display-none
	display: none

*::-webkit-input-placeholder
	opacity: 1
	color: $grey_bb
*:-webkit-input-placeholder
	opacity: 1
	color: $grey_bb
*::-moz-placeholder
	opacity: 1
	color: $grey_bb
*:-moz-placeholder
	opacity: 1
	color: $grey_bb
*:-ms-input-placeholder
	opacity: 1
	color: $grey_bb

*
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-tap-highlight-color: transparent

input, textarea
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	border-radius: 0
	color: $blue_lighter
	font-family: $main_font_bold
	font-size: 15px
	line-height: 22px


.wrapper
	position: relative
	box-sizing: border-box
	margin: 0 auto


.container
	position: relative
	display: block
	margin: 0 auto
	// padding: 0 30px
	text-align: left
	&:before,
	&:after
		content: " "
		display: table
	&:after
		clear: both


.modal-open
	// height: 100%
	overflow: hidden
	body
		// height: 100%
		overflow: hidden
		.wrapper
			// height: 100%
			overflow: hidden


.body-section
	position: relative
	padding: 100px 0 60px
	// .body-content
	// 	padding-bottom: 30px

	// h3, .h3, h4, .h4, h5, .h5
	// 	margin-bottom: 20px



	// h3, .h3
	// 	font-size: 18px
	// 	line-height: 24px

	// h4, .h4
	// 	font-size: 16px
	// 	line-height: 22px

	// h5, .h5
	// 	font-size: 14px
	// 	line-height: 20px


	.first-p
		color: $blue_dark_2
		font-size: 18px
		margin-bottom: 50px

	img
		display: block
		// margin: 40px 0
		max-width: 100%
		height: auto

	.rent-table
		img
			margin: 0
			display: inline-block
			vertical-align: middle



	p, ul, ol
		line-height: 1.7
		margin-bottom: 40px

		&:not(.first-p):last-child
			margin-bottom: 0 !important

	ul, ol
		padding: 0
		list-style: none
		li
			// margin-bottom: 10px
			padding-left: 30px
			position: relative
			&:last-child
				margin: 0

	ul:not(.nav)
		li
			&:before
				position: absolute
				top: 2px
				left: 1px
				width: 20px
				height: 20px
				content: ""
				background-position: center center
				background-repeat: no-repeat
				background-image: url("data:image/svg+xml,%3Csvg%20width%3D%227%22%20height%3D%222%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M0%20.6h6.3%22%20stroke%3D%22%23888%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A")

	ol
		counter-reset: myCounter
		li
			&:before
				position: absolute
				left: 0
				width: 18px
				top: 0
				text-align: right
				counter-increment: myCounter
				content: counter(myCounter) "."







.same-height
	> *
		display: flex
		> *
			flex: 1



// .owl-animated-out
// 	z-index : 0

// .owl-animated-in
// 	z-index : 1


// @-webkit-keyframes fadeIn
// 	from
// 		opacity: 0
// 	to
// 		opacity: 1
// @keyframes fadeIn
// 	from
// 		opacity: 0
// 	to
// 		opacity: 1

// .fadeIn
// 	-webkit-animation-name: fadeIn
// 	animation-name: fadeIn



// @-webkit-keyframes fadeOut
// 	from
// 		opacity: 1
// 	to
// 		opacity: 0
// @keyframes fadeOut
// 	from
// 		opacity: 1
// 	to
// 		opacity: 0

// .fadeIn
// 	-webkit-animation-name: fadeOut
// 	animation-name: fadeOut




// .animated
// 	-webkit-animation-duration: 0.5s
// 	animation-duration: 0.5s
// 	-webkit-animation-fill-mode: both
// 	animation-fill-mode: both


.simple-section
	&.white-section
		background-color: white

@media (min-width: 768px)

	h1, .h1
		font-size: 8vw //30px


@media (min-width: 992px)


	h1, .h1
		// font-size: 160px //30px
		// line-height: 170px //40px
		font-size: 5.625vw
		line-height: 6.25vw

	h2, .h2
		font-size: 80px
		line-height: 100px

	h3, .h3
		font-size: 2.8125vw
		line-height: 3.9375vw

	h4, .h4
		font-size: 2.25vw //36
		line-height: 2.75vw

	h5, .h5
		font-size: 1.625vw //26
		line-height: 1.875vw

	h6, .h6
		font-size: 1vw
		line-height: 1.5vw

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6

		&.block-title
			margin-bottom: 70px

	// 	// .body-section
	// 	// 	padding: 30px 0 0
	// 	// 	.body-content
	// 	// 		padding-bottom: 50px

	a
		transition: color 0.2s ease-in-out
		-webkit-transition: color 0.2s ease-in-out
		&:hover
			color: $green
			text-decoration: none


	.body-section
		padding: 200px 0
		// &.body-section-article-image
		// 	padding: 0 0 160px
		.first-p
			font-size: 30px
			line-height: 40px
			margin-bottom: 85px

		// h3, .h3, h4, .h4, h5, .h5
		// 	margin-bottom: 30px

		// h2
		// 	font-size: 30px
		// 	line-height: 40px

		// h3, .h3
		// 	font-size: 24px
		// 	line-height: 32px

		// h4, .h4
		// 	font-size: 22px
		// 	line-height: 30px

		// h5, .h5
		// 	font-size: 20px
		// 	line-height: 28px

		// img

		// 	margin: 70px 0


@media (min-width: 1900px)

	.body-section
		padding: 10vw 0
