/*__________________________________________________________________________ Header ______________________*/


.home_page
	&.loaded
		.header
			.container
				margin-top: 0
				opacity: 1


.home_page
	&.loaded-fast
		.header
			.container
				margin-top: 0
				opacity: 1
				transition: 0s ease-in-out
				-webkit-transition: 0s ease-in-out
				transition-delay: 0s
				-webkit-transition-delay: 0s

.home_page
	.header
		.container
			opacity: 0
			margin-top: -60px
			transition: 1s cubic-bezier(.90,.15,.1,.85)
			-webkit-transition: 1s cubic-bezier(.90,.15,.1,.85)
			// transition-delay: 0.4s
			// -webkit-transition-delay: 0.4s
		.lang-switcher, .dropdown-menu
			background-color: white


.simple_page
	.header__logo
		svg
			path
				fill: black

	.menu-trigger
		&:before,
		&:after
			background-color: black









.header
	position: fixed
	z-index: 5
	top: 0
	left: 0
	right: 0
	// .container
	// 	padding: 0

.black
	.header__logo
		svg
			path
				fill: black

	.menu-trigger
		&:before,
		&:after
			background-color: black

.header__logo
	.black
		svg
			path
				fill: black

.menu-trigger
	.black
		&:before,
		&:after
			background-color: black



// &.fixed-amimate
// 	top: 0
// 	transition: top 0.3s ease-in-out
// 	-webkit-transition: top 0.3s ease-in-out


.header__logo
	position: fixed
	top: 30px !important
	left: 30px !important
	z-index: 3
	float: left
	width: 70px
	height: 45px
	a
		display: block
	svg
		display: block


.main-menu-overlay
	display: none
	position: fixed
	z-index: 4
	top: 0
	right: 0
	left: 0
	bottom: 0
	background-color: rgba(0,0,0,0.7)
	.overlay-logo
		position: absolute
		top: calc(50% - 34px)
		left: calc(35% - 53px)
		border: 2px solid white
		padding: 25px 30px
		svg
			display: block
			width: 105px
			height: auto


.main-menu-block
	position: fixed
	z-index: 5
	top: 0
	bottom: 0
	right: -100%
	width: 100%
	overflow-y: auto
	background-color: $grey_f6
	transition: right 0.3s ease
	-webkit-transition: right 0.3s ease

	// display: -webkit-box
	// display: -ms-flexbox
	// display: -webkit-flex
	// display: flex
	// -webkit-box-pack: center
	// -ms-flex-pack: center
	// -webkit-justify-content: center
	// justify-content: center
	// -webkit-box-align: center
	// -ms-flex-align: center
	// -webkit-align-items: center
	// align-items: center


	&.open-menu
		right: 0

	.main-menu-wrap
		display: table
		width: 100%
		height: 100%
		.main-menu-inner
			display: table-cell
			vertical-align: middle
			text-align: right

	.header__main-menu
		list-style: none
		margin: 0
		padding: 120px 30% 0 0
		text-align: right
		> li
			font-size: 24px
			line-height: 27px
			font-family: $second_font
			padding: 0 0 25px
			&:last-child
				padding: 0
			&.grey
				color: $grey_dd
				a
					color: $grey_dd
			a
				position: relative
				color: black
				font-size: 24px
				line-height: 27px
				font-family: $second_font
				text-decoration: none
				&.current
					color: $red

	.header__lang-menu
		list-style: none
		margin: 0
		padding: 0 30% 50px 0
		text-align: right

		font-size: 0
		letter-spacing: -.36em
		> li
			display: inline-block
			font-size: 24px
			line-height: 27px
			letter-spacing: normal
			margin-left: 15px
			font-family: $second_font
			color: $grey_dd
			a
				position: relative
				color: black
				font-size: 24px
				line-height: 27px
				text-decoration: none
				font-family: $second_font
				&.current
					color: $red


	.line
		display: inline-block
		vertical-align: top
		width: 60%
		max-width: 274px
		margin: 30px 30% 30px 0


.trigger-block
	position: fixed
	top: 38px !important
	right: 30px !important
	left: auto !important
	z-index: 6
	float: right
	width: 30px
	height: 30px

.midnightInner
	overflow: unset !important

.menu-trigger
	width: 30px
	height: 30px
	float: right
	cursor: pointer
	overflow: hidden
	&.open
		&:before,
		&:after
			background-color: black

	&:before,
	&:after
		position: absolute
		left: 0
		width: 100%
		height: 2px
		border-radius: 2px
		background-color: white
		content: ''
		-webkit-transition: -webkit-transform 0.3s
		transition: transform 0.3s

	&:before
		top: 9px
		// -webkit-transform: translateY(-7px)
		// transform: translateY(-7px)

	&:after
		bottom: 9px
		// -webkit-transform: translateY(7px)
		// transform: translateY(7px)

	// &.menu-is-open
	//   background-color: transparent
	//   &:before, &:after
	//     background-color: $grey_44

	&.open:before
		top: 14px
		-webkit-transform: translateY(0) rotate(135deg)
		transform: translateY(0) rotate(135deg)

	&.open:after
		bottom: 14px
		-webkit-transform: translateY(0) rotate(225deg)
		transform: translateY(0) rotate(225deg)





// @media (max-width: 767px)

// 	.main-menu-block
// 		.main-menu-inner
// 			overflow-y: auto
// 			position: absolute
// 			top: 0
// 			bottom: 0
// 			left: 0
// 			right: 0
// 			padding: 140px 40px 20px 60px

@media (min-width: 768px)


	.header
		position: fixed
		z-index: 5
		top: 30px
		left: 0
		right: 0

		&.fixed-amimate
			top: 0
			transition: top 0.3s ease-in-out
			-webkit-transition: top 0.3s ease-in-out


	// .header__logo

		// position: relative
		// z-index: 1
		// float: left
		// // margin-left: 50px
		// svg
		// 	display: block


	// .menu-trigger
	// 	width: 30px
	// 	height: 30px
	// 	margin: 38px 0 0 0



// 	.header
// 		top: 40px

// 	.header + .search-block
// 		top: -240px
// 		height: 240px
// 		.search-block-inner
// 			padding: 130px 0 0 0



// 	.main-menu-block
// 		float: right
// 		width: auto
// 		position: relative
// 		top: auto
// 		bottom: auto
// 		left: auto
// 		background-color: transparent
// 		padding: 0
// 		.header__main-menu
// 			> li
// 				float: left
// 				margin-right: 40px
// 				&:last-child
// 					margin-right: 30px
// 				a
// 					padding-right: 20px
// 					color: white
// 				&.with-submenu
// 					&:before
// 						position: absolute
// 						width: 10px
// 						height: 6px
// 						right: 0
// 						top: 18px
// 						content: ''
// 						background-position: 0 0
// 						background-repeat: no-repeat
// 						background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20d%3D%22M1%201l4%204%204-4%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A')

// 					.sub-menu
// 						display: none
// 						position: absolute
// 						top: calc(100% + 10px)
// 						left: -30px
// 						padding: 30px 0
// 						background-color: white
// 						-webkit-box-shadow: 0 25px 32px 0 rgba(13,17,26, 0.1)
// 						box-shadow: 0 25px 32px 0 rgba(13,17,26, 0.1)
// 						li
// 							position: relative
// 							padding: 0 40px 15px 30px
// 							&:last-child
// 								padding-bottom: 0
// 							&.with-submenu
// 								&:before, &:after
// 									position: absolute
// 									width: 6px
// 									height: 10px
// 									right: 25px
// 									top: 6px
// 									content: ''
// 									background-position: 0 0
// 									background-repeat: no-repeat
// 									transition: opacity 0.3s ease
// 									-webkit-transition: opacity 0.3s ease
// 								&:before
// 									z-index: 1
// 									background-image: url('data:image/svg+xml,%3Csvg%20width%3D%226%22%20height%3D%2210%22%20viewBox%3D%220%200%206%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M5.9%205.28l-4.3%204.6a.35.35%200%200%201-.53%200L.11%208.85a.41.41%200%200%201%200-.55L3.19%205%20.1%201.7a.41.41%200%200%201%200-.55L1.07.12a.35.35%200%200%201%20.52%200l4.3%204.6c.15.16.15.4%200%20.56z%22%20fill%3D%22%2341454D%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')

// 								&:after
// 									opacity: 0
// 									z-index: 1
// 									background-image: url('data:image/svg+xml,%3Csvg%20width%3D%226%22%20height%3D%2210%22%20viewBox%3D%220%200%206%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M5.9%205.28l-4.3%204.6a.35.35%200%200%201-.53%200L.11%208.85a.41.41%200%200%201%200-.55L3.19%205%20.1%201.7a.41.41%200%200%201%200-.55L1.07.12a.35.35%200%200%201%20.52%200l4.3%204.6c.15.16.15.4%200%20.56z%22%20fill%3D%22%2370A63A%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 							a
// 								opacity: 1
// 								// &:hover
// 								// 	color: $green

// 							.sub-menu-2
// 								visibility: hidden
// 								opacity: 0
// 								position: absolute
// 								left: 100%
// 								top: -30px
// 								margin: 0
// 								list-style: none
// 								padding: 30px 0
// 								background-color: $grey_f7
// 								transition: opacity 0.3s ease
// 								-webkit-transition: opacity 0.3s ease
// 								li
// 									padding: 0 40px 15px 30px
// 									&:last-child
// 										padding-bottom: 0
// 									// &.current
// 									// 	a
// 									// 		color: $green
// 									// 		opacity: 1
// 									// a
// 									// 	opacity: 0.5
// 									// 	font-size: 14px
// 									// 	color: $blue_lighter
// 									// 	white-space: nowrap


@media (min-width: 992px)

	.main-menu-block
		right: -30%
		width: 30%
		&.open-menu
			right: 0

		.header__main-menu
			margin: 0
			padding: 50px 25% 0 0
			text-align: right
			> li
				padding: 0 0 35px
				a
					&:hover
						color: $red

		.header__lang-menu
			padding: 0 25% 50px 0
			text-align: right
			> li
				margin-left: 15px
				a
					&:hover
						color: $red


		.line
			display: inline-block
			vertical-align: top
			margin: 80px 25% 80px 0



	// .header
	.header__logo
		left: 50px !important


	.trigger-block
		right: 50px !important


@media (min-width: 1900px)

	.main-menu-block
		.header__main-menu
			>
				li
					font-size: 1.5vw
					line-height: 1.75vw
					padding: 0 0 2vw
					a
						font-size: 1.5vw
						line-height: 1.75vw

		.header__lang-menu
			> li
				font-size: 1.5vw
				line-height: 1.75vw
				a
					font-size: 1.5vw
					line-height: 1.75vw

	.main-menu-block
		.line
			width: 15vw



// @media (min-width: 1200px)

// 	.header
// 		.header__info
// 			margin: 0 0 0 55px


// @media (min-width: 768px) and (max-width: 840px)

// 	.main-menu-block
// 		.header__main-menu
// 			> li
// 				margin-right: 20px
