
/*__________________________________________________________________________ Footer ______________________*/







.simple_page, .home_page
	.footer
		position: absolute
		z-index: 2
		left: 0
		bottom: 0
		right: 0
		.dev
			position: absolute
			left: 35px
			bottom: 23px
			white-space: nowrap
			font-size: 12px
			line-height: 14px
			color: rgba(255,255,255,0.5)

			transform-origin: left
			/* Safari */
			-webkit-transform: rotate(-90deg)
			/* Firefox */
			-moz-transform: rotate(-90deg)
			/* IE */
			-ms-transform: rotate(-90deg)
			/* Opera */
			-o-transform: rotate(-90deg)

			/* Internet Explorer */
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
			a
				color: inherit
				text-decoration: none

		.facebook
			position: absolute
			right: 30px
			bottom: 30px
			width: 20px
			height: 20px
			svg
				display: block
				margin: 0 auto


.simple_page
	.footer
		.dev
			color: rgba(0,0,0,0.5)
		.facebook
			svg
				path
					fill: black
					stroke: black



.other_page
	.footer
		padding: 70px 0
		background-color: black
		.footer-menu
			list-style: none
			text-align: center
			margin-bottom: 70px
			li
				display: inline-block
				margin: 0 15px
				color: white
				font-size: 18px
				line-height: 36px
				font-family: $second_font
				&.grey
					color: $grey_66
				a
					font-size: 18px
					line-height: 36px
					font-family: $second_font
					color: white
					text-decoration: none

		.facebook
			width: 20px
			height: 20px
			display: block
			margin: 0 auto 80px
			svg
				display: block
				margin: 0 auto


		.line
			display: block
			margin: 0 auto

		.footer-links
			margin-top: 65px
			text-align: center
			a
				display: inline-block
				margin: 0 15px
				font-size: 12px
				line-height: 14px
				color: white
				opacity: 0.5
				text-decoration: none
				transition: opacity 0.3s ease-in-out
				-webkit-transition: opacity 0.3s ease-in-out
				&:hover
					opacity: 1






	// background-color: $green
	// padding: 40px 0 45px
	// background-repeat: no-repeat
	// background-position: center center
	// background-image: url('data:image/svg+xml,%3Csvg%20width%3D%221423%22%20height%3D%22722%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M99%20254.5l-.8-.7L273.4%2078.7l.7.7L98.9%20254.5zM1.6%20138L1%20137l77.8-77.8.7.7L1.7%20138zm39-19.5l-.8-.7%2058.3-58.4.8.8-58.4%2058.3zM79.4%2099l-.7-.8%2038.9-38.9.7.8L79.5%2099zM99%2099l-.8-.8%2039-38.9.7.8-39%2038.9zm0%2019.4l-.8-.7%2058.4-58.4.7.8L99%20118.4zm0%2019.5l-.8-.8L176%2059.3l.8.8L99%20137.9zM1.7%20118.4l-.7-.7%2058.3-58.4.8.8-58.4%2058.3zM99%20157.3l-.8-.7%2097.3-97.3.7.8L99%20157.3zm96.5-78.5l.7.7L99%20176.8l-.8-.8%2097.3-97.2zm20.1-18.7l-.7-.8L234.4%2040l.7.7-19.5%2019.5zm19.5%200l-.7-.8L253.8%2040l.7.7-19.4%2019.5zm19.4%200l-.7-.8%2039-38.9.6.8L254.5%2060zm57.7-39.7l.7.8L98.9%20235l-.7-.7%20214-214zm-77.8%2058.4l.7.7L79.5%20235.1l-.7-.7L234.4%2078.8zM79.5%20215.6l-.7-.7L214.9%2078.8l.7.7L79.5%20215.6zM99%20274l-.8-.7L351.1%2020.4l.7.8L99%20274zM293.4%2060l-.7-.7L312.2%2040l.7.7-19.5%2019.5zM313%2079.6l-.7-.7%2058.3-58.4.7.8L313%2079.5zm0%2019.5l-.7-.8L390%2020.4l.7.8L312.9%2099zm58.3-39l-.7-.7L429%201l.7.7-58.4%2058.4zm0%2019.5l-.7-.7L390%2059.3l.7.8-19.5%2019.4zm0%2019.5l-.7-.8%2039-38.9.6.8L371.2%2099zm19.5%200l-.7-.8%2019.4-19.4.7.7L390.7%2099zm38.9-77.8l-.7-.8L448.3%201l.7.7-19.4%2019.5zm0%2019.4l-.7-.7%2019.4-19.5.7.8-19.4%2019.4zm19.4%200l-.7-.7%2019.5-19.5.7.8L449%2040.6zm0%2019.5l-.7-.8L506.7%201l.7.7L449%2060.1zm0%2019.4l-.7-.7L526.1%201l.7.7L449%2079.5zm0%2019.5l-.7-.8L545.6%201l.7.7L449%2099zm19.5%200l-.7-.8L565%201l.7.7L468.5%2099zm38.9-19.5l-.7-.7L565%2020.4l.7.8-58.3%2058.3zm38.9-19.4l-.7-.8%2038.9-38.9.7.8-39%2038.9zm0%2038.9l-.7-.8L565%2078.8l.7.7L546.3%2099zm19.4%200l-.7-.8%2019.5-19.4.7.7L565.7%2099zm-292.4%2018.7l.7.7-175%20175-.8-.7%20175-175zM118.4%20293.4l-.7-.7%20175-175%20.7.7-175%20175zm19.5%200l-.8-.7L253.8%20176l.7.8L138%20293.4zM274%20157.3l-.7-.7%2020-20%20.6.8-19.9%2019.9zM137.9%20312.9l-.8-.7%20155.6-155.6.7.7L138%20312.9zm0%2019.4l-.8-.7%2039-38.9.6.7-38.8%2039zm19.4%200l-.7-.7%2020-19.9.6.7-19.9%2020zm19.4%200l-.7-.7%2020-19.9.7.7-20%2020zm38.2-20.1l.7.7-19.4%2019.4-.7-.7%2019.4-19.4zm-18.7%2039.6l-.7-.7%2019.4-19.5.7.7-19.4%2019.5zm19.4%200l-.7-.7%2019.5-19.5.7.7-19.5%2019.5zm18.8-.7l.7.7-19.5%2019.4-.7-.7%2019.5-19.4zm-18.8%2039.6l-.7-.7%2019.5-19.5.7.7-19.5%2019.5zm19.5%200l-.7-.7%2019.4-19.5.7.7-19.4%2019.5zm19.4%200l-.7-.7%2039-39%20.6.8-38.9%2038.9zm38.2-20.2l.7.7-58.3%2058.4-.7-.7%2058.3-58.4zM235.1%20449l-.7-.7%2077.8-77.8.7.7L235%20449zm96.5-78.5l.7.7-77.8%2077.8-.7-.7%2077.8-77.8zm-77%2098l-.8-.7%2077.8-77.8.7.7-77.8%2077.8zm0%2019.4l-.8-.7%2097.3-97.2.7.7-97.3%2097.2zm116-98l.6.8-97.2%2097.2-.7-.7%2097.2-97.2zM274%20507.5l-.7-.7%2097.2-97.3.7.7-97.2%2097.3zm116-98l.7.7-97.3%2097.3-.7-.7%2097.3-97.3zm-96.6%20117.4l-.7-.7L390%20429l.7.7-97.3%2097.2zm116-98l.7.8-116.7%20116.7-.7-.7%20116.7-116.7zm-116%20137l-.7-.8%20116.7-116.7.7.7-116.7%20116.7zM429%20448.2l.7.7-136.2%20136.2-.7-.7L429%20448.3zm19.4%200l.7.7-156%20156.1-.7-.7%20156-156zM313%20604.6l-.7-.7%20136.1-136.1.7.7L313%20604.6zm116-98l.7.8L312.9%20624l-.7-.7%20116.7-116.7zm-116%20137l-.7-.8%20117.2-117.2.7.7-117.2%20117.2zm77-59.1l.8.7-77.8%2077.8-.7-.7%2077.8-77.8zm-77%2098l-.7-.8%2058.3-58.3.7.7-58.3%2058.3zm19.4%200l-.7-.8%2019.5-19.4.7.7-19.5%2019.4zm18.8-.8l.7.7-19.5%2019.5-.7-.7%2019.5-19.5zm0%2019.5l.7.7-19.5%2019.4-.7-.7%2019.5-19.4zm.7%2020.1l-.7-.7%2020-20%20.6.8-20%2020zm-19.5-602.9l-.7-.7%2019.5-19.5.7.8-19.5%2019.4zm18.8-.7l.7.7-58.4%2058.4-.7-.8%2058.4-58.3zm-77.8%2077.8l.7.7-58.4%2058.3-.7-.7%2058.4-58.3zm-38.2%2059l-.7-.7%20136.1-136.1.7.7-136.1%20136.1zM390%20117.7l.7.7L235%20274l-.7-.7L390%20117.7zm-57.7%2078.5l-.7-.7L390%20137l.7.8-58.4%2058.3zm77.1-59l.7.7-19.4%2019.4-.7-.7%2019.4-19.5zm0%2019.4l.7.7-19.4%2019.5-.7-.8%2019.4-19.4zM370.5%20176l.7.8-19.4%2019.4-.7-.7%2019.4-19.5zm-116.7%2097.3l.7.7-19.4%2019.4-.7-.7%2019.4-19.4zm-18.7%2039.6l-.7-.7%2019.4-19.5.7.7-19.4%2019.5zm19.4%200l-.7-.7%2019.5-19.5.7.7-19.5%2019.5zm18.8-.7l.7.7-19.5%2019.4-.7-.7%2019.5-19.4zm.7%2020.1l-.7-.7%2019.4-19.4.7.7-19.4%2019.4zm19.4%200l-.7-.7%2019.5-19.4.7.7-19.5%2019.4zm272.3%2039l-.7-.8%20116.7-116.7.7.7-116.7%20116.7zm0-19.5l-.7-.7%2097.3-97.3.7.7-97.3%2097.3zm-19.4%200l-.7-.7%20116.7-116.7.7.7-116.7%20116.7zm0-19.5l-.7-.7%2097.2-97.2.7.7-97.2%2097.2zm0-19.4l-.7-.7%2077.8-77.8.7.7-77.8%2077.8zm0-19.5l-.7-.7%2058.3-58.3.7.7-58.3%2058.3zM799%20274l-.7-.7%2039-39%20.6.8-38.9%2038.9zm-19.4-38.9l-.7-.7%2038.9-39%20.7.8-39%2038.9zm77.8-19.5l-.7-.7%20175-175%20.7.7-175%20175zm0-19.4l-.7-.7%20155.6-155.6.7.7-155.6%20155.6zm0-19.4l-.7-.8L992.9%2040l.7.7-136.1%20136.2zm-19.5%200l-.7-.8L973.5%2040l.7.7L838%20176.8zm-38.9%2019.4l-.7-.7%20175-175%20.8.7-175%20175zm0-19.4l-.7-.8L954%2020.4l.7.8-155.6%20155.6zm-19.4%200l-.7-.8L915%2040l.7.7-136.1%20136.2zm-58.4%2038.8l-.7-.7L876.2%2059.3l.7.8-155.6%20155.5zm0-19.4l-.7-.7L876.2%2039.9l.7.7-155.6%20155.6zm-38.9%2019.4l-.7-.7L837.3%2059.3l.7.8-155.6%20155.5zm77.8%2019.5l-.7-.7%2019.5-19.5.7.7-19.5%2019.5zm-175-19.5l-.7-.7%2019.4-19.4.7.7-19.4%2019.4zm19.4-38.8l-.7-.8%2019.5-19.4.7.7-19.5%2019.5zm77.8-58.4l-.7-.7%2019.5-19.5.7.8-19.5%2019.4zm39-38.9l-.8-.7%2019.5-19.5.7.8-19.5%2019.4zm0%2019.5l-.8-.8%2039-38.9.6.8L721.3%2099zM663%20118.4l-.7-.7%2058.3-58.4.7.8-58.3%2058.3zm0-19.4l-.7-.8%2038.9-38.9.7.8-39%2038.9zm-58.4%2058.3l-.7-.7%2019.5-19.5.7.8-19.5%2019.4zm0-19.4l-.7-.8%2019.5-19.4.7.7-19.5%2019.5zm-19.4%200l-.7-.8%2038.9-38.9.7.8-39%2038.9zm77.8%2077.7l-.7-.7%2019.4-19.4.7.7-19.4%2019.4zm19.4%2019.5l-.7-.7%2019.5-19.5.7.7-19.5%2019.5zm136.2-175l-.7-.8L837.3%2040l.7.7-19.4%2019.5zM701.9%20176.8l-.7-.8%2097.2-97.2.7.7-97.2%2097.3zm-39%2019.4l-.6-.7L779%2078.8l.7.7L663%20196.2zm-38.8%2019.4l-.7-.7L759.5%2078.8l.7.7-136.1%20136.1zm-19.5%200l-.7-.7%2077.8-77.8.7.8-77.8%2077.7zm19.5-38.8l-.7-.8%2038.9-38.9.7.8-39%2038.9zM818.6%2040.6l-.7-.7%2019.4-19.5.7.8-19.4%2019.4zm-97.8%20195l-.7-.7%2039.4-39.4.7.7-39.4%2039.4zm20-.5l-.7-.7%2038.9-39%20.7.8-39%2038.9zm77.8%2058.3l-.7-.7%2019.4-19.4.7.7-19.4%2019.4zm0%2019.5l-.7-.7%2019.4-19.5.7.7-19.4%2019.5zm58.3%2019.4l-.7-.7%2019.5-19.4.7.7-19.5%2019.4zm-58.3%200l-.7-.7%2038.9-38.9.7.7-39%2039zm19.4%200l-.7-.7%2039-38.9.6.7-38.9%2039zm0%2019.5l-.7-.7%2058.4-58.4.7.7-58.4%2058.4zM663%20410l-.7-.7L779%20292.7l.7.7L663%20410.1zm0%2019.5l-.7-.7L779%20312.2l.7.7L663%20429.6zm19.4%200l-.7-.7%20116.7-116.7.7.7-116.7%20116.7zm0%2019.4l-.7-.7%20116.7-116.7.7.7L682.4%20449zm0%2019.5l-.7-.7L798.4%20351l.7.7-116.7%20116.7zm0%2019.4l-.7-.7L818%20351.1l.7.7-136.2%20136.1zm0%2019.5l-.7-.7L818%20370.5l.7.7-136.2%20136.2zm0%2019.4l-.7-.7%20155.6-155.6.7.7-155.6%20155.6zm19.5%200l-.7-.7%20155.6-155.6.7.7-155.6%20155.6zm0%2019.5l-.7-.7L856.8%20390l.7.7-155.6%20155.6zm0%2019.4l-.7-.7%2097.2-97.2.7.7-97.2%2097.2zm0%2019.5l-.7-.7%20116.7-116.7.7.7-116.7%20116.7zm0%2019.4l-.7-.7%20116.7-116.7.7.7-116.7%20116.7zm19.4%200l-.7-.7%2058.4-58.3.7.7-58.4%2058.3zm19.5%200l-.7-.7L779%20565l.7.7-39%2039zm97.2-97.2l-.7-.7%2019.5-19.5.7.7-19.5%2019.5zm136.2-136.2l-.7-.7%2019.4-19.4.7.7-19.4%2019.4zm19.4%200l-.7-.7%2019.5-19.4.7.7-19.5%2019.4zm77.8-58.3l-.7-.7%2077.8-77.8.7.7-77.8%2077.8zm0%2019.4l-.7-.7%2097.3-97.2.7.7-97.3%2097.2zm19.5%200l-.7-.7%2077.8-77.8.7.7-77.8%2077.8zm0%2019.5l-.7-.7%2019.4-19.5.7.7-19.4%2019.5zm0%2019.4l-.7-.7%2038.9-38.9.7.7-39%2039zm38.9%200l-.7-.7%2019.4-19.4.7.7-19.4%2019.4zm58.3-19.4l-.7-.7%2019.5-19.5.7.7-19.5%2019.5zm0%2019.4l-.7-.7%2019.5-19.4.7.7-19.5%2019.4zm19.5%200l-.7-.7%2019.4-19.4.7.7-19.4%2019.4zm-58.4%2058.4l-.7-.7%2038.9-39%20.7.8-38.9%2038.9zm58.4-39l-.7-.6%2019.4-19.5.7.7-19.4%2019.5zm-58.4%2019.5l-.7-.7L1168%20390l.7.7-19.5%2019.4zm-58.3%200l-.7-.7%2019.4-19.4.7.7L1091%20410zm0%2019.5l-.7-.7%2019.4-19.5.7.7-19.4%2019.5zm19.4%200l-.7-.7%2019.5-19.5.7.7-19.5%2019.5zm0%2019.4l-.7-.7%2019.5-19.4.7.7-19.5%2019.4zm19.5%2019.5l-.7-.7%2019.4-19.5.7.7-19.4%2019.5zm19.4%200l-.7-.7%2019.5-19.5.7.7-19.5%2019.5zm19.5-39l-.7-.6%2019.4-19.5.7.7-19.4%2019.5zm19.4%200l-.7-.6%2019.5-19.5.7.7-19.5%2019.5zm0%2019.5l-.7-.7%2019.5-19.4.7.7L1188%20449zm58.4%200l-.7-.7%2019.4-19.4.7.7-19.4%2019.4zm-97.3%20116.7l-.7-.7%2058.4-58.3.7.7-58.4%2058.3zm0%2019.5l-.7-.7%2097.3-97.3.7.7-97.3%2097.3zm0%2019.4l-.7-.7%20116.7-116.7.7.7-116.7%20116.7zm19.5%200l-.7-.7%2097.2-97.2.7.7-97.2%2097.2zm19.4%200l-.7-.7%2077.8-77.8.7.7-77.8%2077.8zm39-19.4l-.8-.7%2077.8-77.8.7.7-77.8%2077.8zm0%2019.4l-.8-.7%2077.8-77.8.7.7-77.8%2077.8zm19.4%200l-.7-.7%2077.7-77.8.8.7-77.8%2077.8zm0%2019.5l-.7-.7%2077.7-77.8.8.7-77.8%2077.8zm19.4%200l-.7-.7%2058.3-58.4.8.7-58.4%2058.4zm0%2019.4l-.7-.7%2058.3-58.3.8.7-58.4%2058.3zm-116.7-97.2l-.7-.7L1168%20526l.7.7-19.5%2019.5zM1266%20449l-.7-.7%2019.4-19.4.8.7-19.5%2019.4zm19.5%200l-.8-.7%2019.5-19.4.7.7-19.4%2019.4zm0%2019.5l-.8-.7%2019.5-19.5.7.7-19.4%2019.5zm0%2038.9l-.8-.7%2019.5-19.5.7.7-19.4%2019.5zm19.4-39l-.7-.6%2019.4-19.5.8.7-19.5%2019.5zm19.5%200l-.8-.6%2019.5-19.5.7.7-19.4%2019.5zm19.4%20194.6l-.7-.7%2019.4-19.5.8.7-19.5%2019.5zm58.4-19.5l-.8-.7%2019.5-19.4.7.7-19.4%2019.4zm-39%2019.5l-.7-.7%2058.4-58.4.7.7-58.3%2058.4zm-233.3-350.1l-.7-.7%2038.9-39%20.7.8-39%2038.9zm19.4%200l-.7-.7%2038.9-39%20.7.8-38.9%2038.9zm19.5-97.3l-.7-.7%2038.9-38.9.7.8-39%2038.8zm19.4%200l-.7-.7%2019.5-19.4.7.7-19.5%2019.4zm0%2019.5l-.7-.7%2019.5-19.5.7.7-19.5%2019.5zm19.5%2019.4l-.7-.7%2038.9-38.9.7.7-39%2039zm19.4%200l-.7-.7%2019.5-19.4.7.7-19.5%2019.4zm0-58.3l-.7-.7%2019.5-19.5.7.8-19.5%2019.4zm39-38.9l-.8-.7%2019.4-19.5.8.8-19.5%2019.4zm0-19.4l-.8-.8%2019.4-19.4.8.7-19.5%2019.5zm-19.5%200l-.7-.8%2019.4-19.4.7.7-19.4%2019.5zm38.9-39l-.8-.7%2019.5-19.4.7.7-19.4%2019.5zm-39%200l-.6-.7%2019.4-19.4.7.7-19.4%2019.5zm-19.4%200l-.7-.7%2038.9-38.9.7.8L1227%2099zm-19.4%200l-.7-.7%2038.9-38.9.7.8-39%2038.9zm38.9%2019.5l-.7-.7%2038.8-38.9.8.7-39%2038.9zm-19.5%2097.2l-.7-.7%2019.5-19.4.7.7-19.5%2019.4zM1052%20313l-.7-.7%20155.6-155.6.7.7L1052%20312.9zm-58.4%2077.8l-.7-.7%2019.5-19.5.7.7-19.5%2019.5zm19.5-58.4l-.7-.7%20194.5-194.5.7.8L1013%20332.3zm-175%20214l-.8-.7%2019.5-19.5.7.7-19.5%2019.5zm-19.5%200l-.7-.7%2038.9-39%20.7.8-39%2038.9zm155.6-214l-.7-.7L1168%20137.1l.7.8-194.5%20194.4zm0%2019.5l-.7-.7%20213.9-214%20.7.8-214%20213.9zm0-38.9l-.7-.7%20252.8-252.9.7.8-252.8%20252.8zm-19.5%200l-.7-.7L1207%2059.3l.7.8-252.9%20252.8zm0-19.5l-.7-.7%20233.4-233.4.7.8-233.4%20233.3zm-19.4%200l-.7-.7L1168%2059.3l.7.8-233.4%20233.3zm-19.5%200l-.7-.7%20136.2-136.1.7.7-136.2%20136.1zM1071.4%20138l-.7-.8%2077.8-77.8.7.8-77.8%2077.8zM915.8%20274l-.7-.7%20214-214%20.7.8-214%20213.9zm-19.4%200l-.7-.7L1129%2039.9l.7.7L896.4%20274zm-19.5%200l-.7-.7%20233.4-233.4.7.7L877%20274zm-19.4%200l-.7-.7%20214-214%20.6.8-214%20213.9zm0-19.5l-.7-.7%20194.5-194.5.7.8-194.5%20194.4zm-58.4%2039l-.7-.8L1051.3%2040l.7.7L799%20293.4zm-233.4%2097.2l-.7-.7%20136.2-136.2.7.7-136.2%20136.2zm19.5%200l-.7-.7%20136.1-136.2.7.7-136.1%20136.2zm19.4%200l-.7-.7%20136.2-136.2.7.7-136.2%20136.2zm19.5%200l-.7-.7%20136.1-136.2.7.7-136.1%20136.2zm19.4%200l-.7-.7%20194.5-194.5.7.7-194.5%20194.5zm19.5%200l-.7-.7%20175-175%20.7.6-175%20175zm408.4%2019.4l-.7-.7%2058.4-58.3.7.7-58.4%2058.3z%22%20stroke%3D%22%235F8C31%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
	// overflow: hidden

	// [class^="col-"]
	// 	position: relative

	// .footer__logo
	// 	display: inline-block
	// 	margin-bottom: 25px
	// 	opacity: 0.75
	// h2
	// 	color: white
	// 	font-size: 32px
	// 	line-height: 40px
	// 	// margin-right: 30%
	// 	text-transform: uppercase
	// 	word-spacing: 100vw

	// .footer__menu-title
	// 	display: inline-block
	// 	font-size: 18px
	// 	line-height: 24px
	// 	padding: 8px 15px
	// 	margin-bottom: 15px
	// 	background-color: white
	// 	text-transform: uppercase
	// 	min-width: 120px

	// .tablet-hr
	// 	display: none

	// hr
	// 	display: block
	// 	width: 100%
	// 	height: 1px
	// 	margin: 30px 0
	// 	border: none
	// 	opacity: 0.5
	// 	background-color: white

	// .footer__phone
	// 	font-size: 24px
	// 	line-height: 30px
	// 	margin-bottom: 5px
	// 	color: white
	// 	text-decoration: none

	// p
	// 	color: white
	// 	font-size: 14px
	// 	line-height: 24px
	// 	opacity: 0.75
	// 	&.footer__address
	// 		text-transform: uppercase


	// .footer__socials
	// 	margin: 30px 0
	// 	a
	// 		float: left
	// 		width: 40px
	// 		height: 40px
	// 		margin-right: 20px
	// 		background-color: $green_light
	// 		background-repeat: no-repeat
	// 		background-position: center center
	// 		&.facebook
	// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M7.4%202H8V0h-.6C5%200%203%202%203%204.4V6H0v2h3v7h2V8h3V6H5V4.4C5%203.1%206%202%207.4%202%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
	// 		&.youtube
	// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2218%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M10%205.6c-.5-.2-1%200-1%20.5V12c0%20.4.5.7%201%20.5l4.2-2.9c.4-.2.4-.8%200-1L10%205.6zm10%207.1c0%201.8-1.5%203.3-3.3%203.3H5.3A3.3%203.3%200%200%201%202%2012.7V5.3C2%203.5%203.5%202%205.3%202h11.4C18.5%202%2020%203.5%2020%205.3v7.4zM16.7%200H5.3C2.3%200%200%202.4%200%205.3v7.4c0%203%202.4%205.3%205.3%205.3h11.4c3%200%205.3-2.4%205.3-5.3V5.3c0-3-2.4-5.3-5.3-5.3z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
	// 		&.instagram
	// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2219%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M14%204a1%201%200%201%200%200%202%201%201%200%200%200%200-2zm-4.5%208a2.5%202.5%200%201%201%200-5%202.5%202.5%200%200%201%200%205zm0-7a4.5%204.5%200%201%200%200%209%204.5%204.5%200%200%200%200-9zm7.5%208.5c0%202-1.6%203.5-3.5%203.5h-8c-2%200-3.5-1.6-3.5-3.5v-8C2%203.5%203.6%202%205.5%202h8c2%200%203.5%201.6%203.5%203.5v8zM13.5%200h-8C2.5%200%200%202.5%200%205.5v8c0%203%202.5%205.5%205.5%205.5h8c3%200%205.5-2.5%205.5-5.5v-8c0-3-2.5-5.5-5.5-5.5z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')


	// .footer__menu
	// 	list-style: none
	// 	margin: 0
	// 	padding: 0
	// 	li
	// 		padding: 5px 0
	// 		a
	// 			color: white
	// 			font-size: 14px
	// 			line-height: 24px
	// 			text-transform: uppercase
	// 			text-decoration: none
	// 			white-space: nowrap

// @media (max-width: 767px)

// 	.col-xs-6.col-xs-push-6
// 		margin-top: -55px

// 	.footer
// 		.footer__logo
// 			margin-top: 60px


// @media (min-width: 768px)

// 	.footer
// 		padding: 55px 0
// 		h2
// 			font-size: 28px
// 			line-height: 34px


// @media (min-width: 768px) and (max-width: 1024px)

// 	.footer
// 		.tablet-hr
// 			display: block
// 			width: 100%
// 			height: 1px
// 			margin: 80px 0 45px
// 			border: none
// 			opacity: 0.5
// 			background-color: white
// 		hr
// 			display: none

// 		.footer__socials
// 			margin-top: 0



@media (min-width: 992px)

	.footer
		.dev
			left: 55px

		.facebook
			right: 50px


	.other_page
		.footer
			padding: 100px 0




@media (min-width: 1900px)

	.other_page
		.footer
			padding: 6vw 0
			.footer-menu
				li
					font-size: 1.25vw
					line-height: 1.5vw
					a
						font-size: 1.25vw
						line-height: 1.5vw

			.footer-links
				a
					font-size: 0.75vw
					line-height: 1.25vw


			.facebook
				svg
					width: 1vw
					height: auto


			.line
				width: 15vw




// 	.footer
// 		padding: 120px 0 135px
// 		background-position: center top
// 		hr
// 			width: 70%

// 		h2
// 			margin-right: 30%

// 		.footer__menu
// 			li
// 				padding: 13px 0
