
.input-radio
	position: relative
	z-index: 2
	line-height: 16px
	[type="radio"]:checked,
	[type="radio"]:not(:checked)
		position: absolute
		left: -9999px

	[type="radio"]:checked + label,
	[type="radio"]:not(:checked) + label
		position: relative
		padding-left: 30px
		cursor: pointer
		font-size: 11px
		line-height: 16px
		display: inline-block
		color: #B6B9BF
		text-transform: uppercase

	[type="radio"]:checked + label:before,
	[type="radio"]:not(:checked) + label:before
		content: ''
		position: absolute
		left: 0
		top: 1px
		width: 14px
		height: 14px
		border: 1px solid #D8DCE6
		// background: #fff

	[type="radio"]:checked + label:after,
	[type="radio"]:not(:checked) + label:after
		content: ''
		width: 6px
		height: 6px
		background: $green
		position: absolute
		top: 5px
		left: 4px
		-webkit-transition: all 0.2s ease
		transition: all 0.2s ease

	[type="radio"]:not(:checked) + label:after
		opacity: 0
		-webkit-transform: scale(0)
		transform: scale(0)

	[type="radio"]:checked + label:after
		opacity: 1
		-webkit-transform: scale(1)
		transform: scale(1)





// .custom-select
// 	position: relative
// 	background-color: white
// 	margin-bottom: 15px
// 	.number
// 		position: absolute
// 		z-index: 2
// 		width: 25px
// 		height: 25px
// 		top: 7px
// 		left: 7px
// 		border-radius: 50%
// 		background-color: $red
// 		line-height: 25px
// 		text-align: center
// 		font-weight: 900
// 		color: white

// 	&.custom-select-number
// 		.select2-container
// 			.select2-selection--single
// 				padding: 8px 22px 8px 40px


// .select2-container
// 	.select2-selection--single
// 		overflow: hidden
// 		width: 100%
// 		height: 40px
// 		padding: 8px 25px 8px 10px
// 		color: $grey_66
// 		font-size: 15px
// 		line-height: 22px
// 		box-sizing: border-box
// 		border: none
// 		background-color: white
// 		border: 1px solid white
// 		resize: none
// 		border-radius: 3px
// 		+shadow(0, 5px, 10px, 0px, rgba(0,0,0,0))
// 		.select2-selection__rendered
// 			padding: 0
// 			line-height: 22px

// 		.select2-selection__arrow
// 			top: 7px
// 			right: 4px
// 			background-position: center center
// 			background-repeat: no-repeat
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%229%22%20height%3D%225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23666%22%20d%3D%22M.5.5l4%204%204-4%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 			b
// 				display: none

// 		.select2-selection__placeholder
// 			color: $grey_bb

// .select2-dropdown
// 	border: none
// 	margin-top: 3px
// 	+shadow(0, 10px, 20px, 0px, rgba(0,0,0,0.3))

// .select2-results__option
// 	font-size: 15px
// 	line-height: 22px
// 	padding: 5px 20px

// .select2-container--default
// 	.select2-results__group
// 		font-weight: 400
// 		font-size: 15px
// 		padding: 6px 10px

// 	.select2-results__option--highlighted[aria-selected]
// 		background-color: $grey_ed
// 		color: $grey_66
// 	.select2-results__option[aria-selected="true"]
// 		background-color: $grey_df !important
// 	.select2-search--dropdown
// 		.select2-search__field
// 			border: 1px solid $grey_df




// .form-row
// 	&.large-row
// 		.select2-container
// 			.select2-selection--single
// 				height: 50px
// 				background-color: $grey_f7
// 				border: 1px solid $grey_f7
// 				padding: 13px 25px 13px 10px
// 				.select2-selection__arrow
// 					top: 12px

// .error
// 	.select2-container
// 		.select2-selection--single
// 			border: 1px solid $red









// @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm)

// 	.select2-container--default
// 		.select2-results
// 			padding: 0 5px 5px 0
// 			> .select2-results__options
// 				padding-right: 5px
// 				&::-webkit-scrollbar
// 					width: 5px
// 					border-radius: 3px
// 					overflow: hidden
// 				&::-webkit-scrollbar-thumb
// 					background-color: $grey_ed
// 					border-radius: 3px
// 					outline: 0

// .input-radio
// 	position: relative
// 	&.with-border
// 		padding-bottom: 15px
// 		margin-bottom: 15px
// 		border-bottom: 1px solid $grey_df

// 	[type="radio"]:checked,
// 	[type="radio"]:not(:checked)
// 		position: absolute
// 		left: -9999px

// 	[type="radio"]:not(:checked) + label
// 		color: $grey_99
// 	[type="radio"]:checked + label
// 		color: black

// 	[type="radio"]:checked + label,
// 	[type="radio"]:not(:checked) + label
// 		position: relative
// 		display: inline-block
// 		padding-left: 40px
// 		margin: 0
// 		font-size: 16px
// 		line-height: 25px
// 		font-weight: 700
// 		cursor: pointer
// 		margin-left: 10px
// 		-webkit-transition: color 0.3s ease
// 		transition: color 0.3s ease

// 	[type="radio"]:checked + label:before,
// 	[type="radio"]:not(:checked) + label:before
// 		content: ""
// 		position: absolute
// 		left: 0
// 		top: 2px
// 		width: 17px
// 		height: 17px
// 		border: 2px solid $grey_bb
// 		border-radius: 100%

// 	[type="radio"]:checked + label:after,
// 	[type="radio"]:not(:checked) + label:after
// 		position: absolute
// 		top: 7px
// 		left: 5px
// 		width: 11px
// 		height: 11px
// 		border-radius: 100%
// 		background-color: $blue
// 		content: ""
// 		-webkit-transition: all 0.2s ease
// 		transition: all 0.2s ease
// 		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3)
// 		-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3)

// 	[type="radio"]:not(:checked) + label:after
// 		opacity: 0
// 		-webkit-transform: scale(0)
// 		transform: scale(0)

// 	[type="radio"]:checked + label:after
// 		opacity: 1
// 		-webkit-transform: scale(1)
// 		transform: scale(1)



// .input-checkbox
// 	position: relative
// 	[type="checkbox"]:not(:checked),
// 	[type="checkbox"]:checked
// 		position: absolute
// 		left: -9999px

// 	[type="checkbox"]:not(:checked) + label,
// 	[type="checkbox"]:checked + label
// 		position: relative
// 		font-size: 13px
// 		line-height: 25px
// 		padding-left: 32px
// 		color: $grey_99
// 		cursor: pointer
// 		display: block

// 		a
// 			color: $grey_99

// 	/* checkbox aspect */
// 	[type="checkbox"]:not(:checked) + label:before,
// 	[type="checkbox"]:checked + label:before
// 		position: absolute
// 		left: 0
// 		top: 0
// 		width: 25px
// 		height: 25px
// 		content: ''
// 		background-repeat: no-repeat
// 		background-position: left center
// 		background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Crect%20stroke%3D%22%23979797%22%20stroke-width%3D%222%22%20x%3D%225%22%20y%3D%225%22%20width%3D%2215%22%20height%3D%2215%22%20rx%3D%224%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')


// 	/* checked mark aspect */
// 	[type="checkbox"]:not(:checked) + label:after,
// 	[type="checkbox"]:checked + label:after
// 		content: ''
// 		position: absolute
// 		top: 0
// 		left: 0
// 		width: 25px
// 		height: 25px
// 		background-repeat: no-repeat
// 		background-position: left center
// 		background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M22.1%208.6l-8%208a1%201%200%200%201-.7.2%201%201%200%200%201-.7-.2l-4.3-4.3a1%201%200%200%201-.2-.7c0-.3%200-.5.2-.7l1.4-1.4c.2-.2.4-.3.7-.3.3%200%20.5.1.7.3l2.2%202.3%206-6c.2-.2.4-.3.7-.3.2%200%20.5.1.7.3L22%207.2c.2.2.3.4.3.7%200%20.2%200%20.5-.3.7z%22%20fill%3D%22%234A90E2%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M20%2014.8v1.7c0%202-1.6%203.5-3.5%203.5h-8c-2%200-3.5-1.6-3.5-3.5v-8C5%206.5%206.6%205%208.5%205h8%22%20stroke%3D%22%23979797%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')

// 	[type="checkbox"]:not(:checked) + label:after,
// 	[type="checkbox"]:checked + label:before
// 		opacity: 0

// 	[type="checkbox"]:checked + label:after,
// 	[type="checkbox"]:not(:checked) + label:before
// 		opacity: 1


// .delivery-help
// 	position: relative
// 	display: inline-block
// 	vertical-align: middle
// 	margin:  0 0 1px 10px
// 	width: 15px
// 	height: 15px
// 	background-repeat: no-repeat
// 	background-position: left center
// 	background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M10%2012.2v-1.6c0-.2-.1-.3-.3-.3h-1v-5c0-.2%200-.3-.3-.3h-3c-.3%200-.4.1-.4.3V7c0%20.2.1.3.3.3h1v3.1h-1c-.2%200-.3.1-.3.3v1.6c0%20.2.1.3.3.3h4.4c.2%200%20.3-.1.3-.3zM8.7%203.4V2c0-.2%200-.3-.3-.3H6.6c-.2%200-.3.1-.3.3v1.5c0%20.2%200%20.4.3.4h1.8c.2%200%20.3-.2.3-.4zM15%207.5a7.5%207.5%200%201%201-15%200%207.5%207.5%200%200%201%2015%200z%22%20fill%3D%22%23999%22%20fill-rule%3D%22nonzero%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 	&:hover
// 		.delivery-help-wrap
// 			opacity: 1
// 			visibility: visible

// 	.delivery-help-wrap
// 		position: absolute
// 		left: 30px
// 		bottom: 0
// 		visibility: hidden
// 		opacity: 0
// 		width: 286px
// 		padding: 12px
// 		background-color: white
// 		font-size: 12px
// 		line-height: 15px
// 		font-weight: 400
// 		color: $grey_66
// 		+shadow(0, 5px, 10px, 0px, rgba(0,0,0,0.1))
// 		-webkit-transition: opacity 0.2s ease
// 		transition: opacity 0.2s ease


// 		p
// 			&:last-child
// 				margin: 0 !important






// .chose-currency
// 	.input-checkbox
// 		float: left
// 		width: 75px
// 		margin-right: 30px

// .form-row
// 	position: relative
// 	text-align: left
// 	margin-bottom: 20px
// 	&.large-row
// 		.form-input
// 			padding: 14px 25px 14px 10px
// 		input.form-input
// 			height: 50px

// 	.stars-rating
// 		margin: 5px 0

// .form-input
// 	overflow: hidden
// 	width: 100%
// 	padding: 9px 25px 9px 10px
// 	color: $grey_66
// 	font-size: 15px
// 	line-height: 22px
// 	box-sizing: border-box
// 	border: none
// 	background-color: white
// 	border: 1px solid white
// 	resize: none
// 	border-radius: 3px
// 	+shadow(0, 5px, 10px, 0px, rgba(0,0,0,0))
// 	&.input-grey
// 		background-color: $grey_f7
// 		border: 1px solid $grey_f7
// 	&.error
// 		border: 1px solid $red
// input.form-input
// 	height: 40px

// .error-msg
// 	display: none
// 	vertical-align: middle
// 	height: 40px
// 	color: $red
// 	font-size: 13px
// 	line-height: 15px
// 	&.show
// 		display: table-cell


// @media (min-width: 1025px)

// 	.form-row
// 		.stars-rating
// 			margin: 11px 0 0 10px
