
.discover-section
	padding: 75px 0


.discover-block
	.discover-first-block
		position: relative
		height: 440px
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
		overflow: hidden
		&:before
			position: absolute
			z-index: 1
			top: 0
			left: 0
			right: 0
			bottom: 0
			content: ''
			background-color: $blue
			opacity: 0.3
			transition: opacity 0.3s ease
			-webkit-transition: opacity 0.3s ease

		.discover-first-block-company
			position: absolute
			z-index: 2
			top: 35px
			left: 35px
			font-size: 14px
			line-height: 18px
			color: white
			text-transform: uppercase


		.discover-first-block-price
			position: absolute
			z-index: 2
			top: 35px
			right: 35px
			color: white
			font-size: 50px
			line-height: 60px
			text-align: right
			text-transform: uppercase
			// opacity: 0
			// transition: 0.3s ease
			// -webkit-transition: 0.3s ease
			// transition-delay: 0.6s
			// -webkit-transition-delay: 0.6s

			span
				display: block
				font-size: 14px
				line-height: 18px
				opacity: 0.7
				margin-right: 5px

		.discover-first-block-content
			position: absolute
			z-index: 2
			bottom: 50px
			left: 35px
			right: 35px
			color: white
			text-align: center
			h3
				color: white
			span
				display: block
				font-size: 18px
				line-height: 22px
				text-transform: uppercase


.owl-theme
	margin-bottom: 30px
	.owl-dots
		position: absolute
		left: 35px
		right: 35px
		bottom: 15px
		.owl-dot
			span
				margin: 5px 6px
				width: 32px
				height: 4px
				opacity: 0.5
				border-radius: 4px
				background-color: white
				transition: 0.3s ease
				-webkit-transition: 0.3s ease
			&.active
				span
					opacity: 1
					background-color: $green
			&:hover:not(.active)
				span
					opacity: 1
					background-color: white




.discover-block
	.discover-first-block
		.discover-first-block-company
			opacity: 0
			transition: 0.3s ease
			-webkit-transition: 0.3s ease

			transition-delay: 0.2s
			-webkit-transition-delay: 0.2s

		.discover-first-block-content
			h3, span, .btn
				opacity: 0
				transition: 0.3s ease
				-webkit-transition: 0.3s ease
			h3
				left: 0
				transition-delay: 0.5s
				-webkit-transition-delay: 0.5s
			span
				transition-delay: 0.35s
				-webkit-transition-delay: 0.35s
			.btn
				transition-delay: 0.65s
				-webkit-transition-delay: 0.65s


.discover-block
	.active
		.discover-first-block
			.discover-first-block-company
				opacity: 0.7

			// .discover-first-block-price
			//   opacity: 1

			.discover-first-block-content
				h3, span, .btn
					opacity: 1



.converter-block
	height: 440px
	margin-bottom: 30px
	padding: 50px 35px 20px
	background-color: white
	overflow: hidden
	table
		width: 100%
		tr
			&:last-child
				td
					border: none

		td
			position: relative
			z-index: 2
			text-transform: uppercase
			font-size: 16px
			padding: 15px 0 11px
			border-bottom: 1px solid #E6EAF2
			&:nth-child(1)
				width: 25%
				opacity: 0.5
			&:nth-child(2)
				width: 40%
				padding-left: 10%
			&:nth-child(3)
				width: 25%
				text-align: right
				font-size: 12px
			&.current
				color: $green

			&.empty
				&:before
					position: absolute
					top: 24px
					right: 0
					width: 24px
					height: 1px
					content: ''
					background-color: $main_grey



.win_os
	.converter-block
		table
			td
				padding: 12px 0 14px


.partner-discover-block
	position: relative
	height: 440px
	margin-bottom: 30px
	text-align: center

	background-color: $green
	overflow: hidden
	a
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		padding: 75px 20px 20px

	.partner-block-icon
		width: 136px
		height: 136px
		margin: 0 auto 25px
		background-repeat: no-repeat
		background-position: center center
		background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22136%22%20height%3D%22136%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M135%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M96%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M80%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-7a1%201%200%201%200%200-2%201%201%200%200%200%200%202m-8-2a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M96%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M80%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63%20134a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8-8a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2054a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2045a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2036a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-15%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2027a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2018a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M25%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M25%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63%20134a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-24%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2098a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2089a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2080a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2071a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2%22%20fill%3D%22%23A5F860%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M26%20107V73h14v9h10v-9h37v9h10v-9h14v34H26zm16-27h6V65h-6v15zm47%200h6V65h-6v15zm22-33v24H97v-8H87v8H50v-8H40v8H26V47h85zM50%2036.5c0-4.1%203.4-7.5%207.5-7.5h22c4.1%200%207.5%203.4%207.5%207.5V45H50v-8.5zM89%2045v-8.5c0-5.2-4.3-9.5-9.5-9.5h-22a9.5%209.5%200%200%200-9.5%209.5V45H24v64h89V45H89z%22%20fill%3D%22%23FFF%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
	h3
		color: white
		font-size: 32px
		line-height: 40px
	span
		font-size: 18px
		line-height: 24px
		text-transform: uppercase
		color: white
		opacity: 0.7


.dutyfree-discover-block
	position: relative
	height: 440px
	overflow: hidden
	margin-bottom: 30px
	a
		position: absolute
		z-index: 1
		top: 0
		left: 0
		right: 0
		bottom: 0
		padding: 50px 35px 20px
		text-decoration: none
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
		&:before
			position: absolute
			z-index: 2
			top: 0
			left: 0
			right: 0
			bottom: 0
			content: ''
			background-color: $blue
			opacity: 0.3
			transition: opacity 0.3s ease
			-webkit-transition: opacity 0.3s ease
		h3
			position: relative
			z-index: 3
			color: white
		span
			position: relative
			z-index: 3
			color: white
			font-size: 18px
			line-height: 24px
			text-transform: uppercase
			opacity: 0.7


.center-discover-block
	position: relative
	height: 135px
	margin-bottom: 30px
	background-color: white
	overflow: hidden
	a
		position: relative
		display: block
		z-index: 1
		top: 0
		left: 0
		right: 0
		bottom: 0
		padding: 35px 10px 35px 35px
	.center-discover-icon
		float: left
		width: 65px
		height: 65px
		background-repeat: no-repeat
		background-position: center center
		&.icon-tour
			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2265%22%20height%3D%2265%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M64%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-32%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-32%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2036a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2027a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-32%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M17%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-7a1%201%200%201%200%200-2%201%201%200%200%200%200%202m-8-2a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M25%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2%22%20fill%3D%22%2372B33C%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M26%2032a6.5%206.5%200%201%201%2013%200%206.5%206.5%200%200%201-13%200zm15%200a8.5%208.5%200%201%200-17%200%208.5%208.5%200%200%200%2017%200zM25.6%2016l6.9-8.3%206.9%208.4H25.6zm7.7-10.5a1%201%200%200%200-1.6%200l-9%2011a1%201%200%200%200%20.8%201.6h18a1%201%200%200%200%20.8-1.7l-9-11zm-.8%2052L25.6%2049h13.8l-6.9%208.4zm9-10.5h-18a1%201%200%200%200-.8%201.7l9%2011a1%201%200%200%200%201.6%200l9-11a1%201%200%200%200-.8-1.7zm7.5-7.6V25.7l8.4%206.8-8.4%207zm10.6-7.6l-11-9a1%201%200%200%200-1.6.8v18a1%201%200%200%200%201.6.7l11-9a1%201%200%200%200%200-1.5zM16%2039.4l-8.4-6.9%208.4-6.8v13.7zm1.4-16.7a1%201%200%200%200-1%200l-11%209a1%201%200%200%200%200%201.6l11%209a1%201%200%200%200%201%20.1c.4-.1.6-.5.6-.9v-18a1%201%200%200%200-.6-.8z%22%20fill%3D%22%235EA91E%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
		&.icon-radar
			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2265%22%20height%3D%2265%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M57%2030a24.5%2024.5%200%201%200-24.5%2025%201%201%200%200%200%200-2A22.5%2022.5%200%201%201%2055%2030h-6a16.5%2016.5%200%201%200-16.5%2017%201%201%200%201%200%200-2A14.5%2014.5%200%201%201%2047%2030h-6a8.5%208.5%200%201%200-8.5%209%201%201%200%201%200%200-2%206.5%206.5%200%201%201%206.5-7h-6a1%201%200%201%200%200%202h24a1%201%200%201%200%200-2%22%20fill%3D%22%235EA91E%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M64%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2063a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%2054a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2045a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2036a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2027a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%2018a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-9a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%209a1%201%200%201%200%200%202%201%201%200%200%200%200-2m63-7a1%201%200%201%200%200-2%201%201%200%200%200%200%202m-8-2a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-7%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M25%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m-8%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2m16%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M9%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2M1%200a1%201%200%201%200%200%202%201%201%200%200%200%200-2%22%20fill%3D%22%2372B33C%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')

	.center-discover-content
		margin-left: 90px
		h3
			color: $blue
			margin: -5px 0 0
		p
			font-size: 15px
			font-family: $main_font_medium
			color: $blue_lighter


// .stars-rating
//   width: 110px

//   select
//     opacity: 0
//     height: 18px

// .br-theme-css-stars
//   .br-widget
//     height: 18px
//     white-space: nowrap
//     a
//       position: relative
//       text-decoration: none
//       width: 18px
//       height: 18px
//       float: left
//       margin-right: 5px
//       &:last-child
//         margin: 0
//       &:after, &:before
//         position: absolute
//         top: 0
//         left: 0
//         width: 18px
//         height: 18px
//         content: ''
//         background-repeat: no-repeat
//         background-position: 0 0

//       &:after
//         z-index: 1
//         background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M18%207c0%20.2-.1.4-.3.5l-4%204%201%205.7v.2c0%20.3-.1.6-.4.6l-.4-.1L9%2015.2l-4.9%202.7-.4.1c-.3%200-.4-.3-.4-.6v-.2l1-5.7-4-4C0%207.4%200%207.2%200%207c0-.4.3-.5.6-.5L6%205.6%208.5.5c0-.3.3-.5.5-.5s.4.2.5.5L12%205.6l5.4.9c.3%200%20.6.1.6.5z%22%20fill%3D%22%23DFDFDF%22%20fill-rule%3D%22nonzero%22%2F%3E%0A%3C%2Fsvg%3E%0A')

//       &:before
//         z-index: 2

//       &.br-active:before,
//       &.br-selected:before
//         background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M18%207c0%20.2-.1.4-.3.5l-4%204%201%205.7v.2c0%20.3-.1.6-.4.6l-.4-.1L9%2015.2l-4.9%202.7-.4.1c-.3%200-.4-.3-.4-.6v-.2l1-5.7-4-4C0%207.4%200%207.2%200%207c0-.4.3-.5.6-.5L6%205.6%208.5.5c0-.3.3-.5.5-.5s.4.2.5.5L12%205.6l5.4.9c.3%200%20.6.1.6.5z%22%20fill%3D%22%23FFA600%22%20fill-rule%3D%22nonzero%22%2F%3E%0A%3C%2Fsvg%3E%0A')


//       &[class^="br-fractional"]
//         &:before
//           background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M18%207c0%20.2-.1.4-.3.5l-4%204%201%205.7v.2c0%20.3-.1.6-.4.6l-.4-.1L9%2015.2l-4.9%202.7-.4.1c-.3%200-.4-.3-.4-.6v-.2l1-5.7-4-4C0%207.4%200%207.2%200%207c0-.4.3-.5.6-.5L6%205.6%208.5.5c0-.3.3-.5.5-.5s.4.2.5.5L12%205.6l5.4.9c.3%200%20.6.1.6.5z%22%20fill%3D%22%23FFA600%22%20fill-rule%3D%22nonzero%22%2F%3E%0A%3C%2Fsvg%3E%0A')

//       &.br-fractional-10
//         &:before
//           width: 10%
//       &.br-fractional-20
//         &:before
//           width: 20%
//       &.br-fractional-30
//         &:before
//           width: 30%
//       &.br-fractional-40
//         &:before
//           width: 40%
//       &.br-fractional-50
//         &:before
//           width: 50%
//       &.br-fractional-60
//         &:before
//           width: 60%
//       &.br-fractional-70
//         &:before
//           width: 70%
//       &.br-fractional-80
//         &:before
//           width: 80%
//       &.br-fractional-90
//         &:before
//           width: 90%


//     .br-current-rating
//       display: none

//   .br-readonly a
//     cursor: default

@media (min-width: 768px)

	.center-discover-block
		height: 205px
		a
			position: absolute
			padding: 70px 55px 50px
		.center-discover-content
			margin-left: 110px

	.partner-discover-block
		height: 440px
		padding: 100px 70px 20px

	.dutyfree-discover-block
		height: 440px
		a
			padding: 50px 60px 20px 60px

	.converter-block
		height: 440px
		padding: 50px 60px 20px



	.discover-block
		.discover-first-block
			.discover-first-block-company
				top: 50px
				font-size: 18px
				line-height: 24px

			.discover-first-block-price
				top: 50px
				right: 45px
				font-size: 80px
				line-height: 104px
				span
					font-size: 18px
					line-height: 24px

			.discover-first-block-content
				bottom: 55px
				left: 50px
				text-align: left
				span
					font-size: 24px
					line-height: 33px


	.discover-block
		.discover-first-block
			.discover-first-block-company
				left: -50px

			.discover-first-block-content
				h3, span, .btn
					margin-left: -50px


	.discover-block
		.active
			.discover-first-block
				.discover-first-block-company
					left: 0

				// .discover-first-block-price
				//   opacity: 1

				.discover-first-block-content
					h3, span, .btn
						margin-left: 0




	.owl-theme
		margin-bottom: 30px
		.owl-dots
			position: absolute
			left: auto
			right: 45px
			bottom: 45px

	.discover-block
		.active
			.discover-first-block
				.discover-first-block-company
					left: 50px
					opacity: 0.7

				// .discover-first-block-price
				//   opacity: 1

				.discover-first-block-content
					left: 50px
					opacity: 1






@media (min-width: 992px)

	.discover-section
		padding: 150px 0


	.center-discover-block
		a
			padding: 70px 55px 50px



	.discover-block
		.discover-first-block
			&:hover
				&:before
					opacity: 0.6

	.dutyfree-discover-block
		a
			&:hover
				&:before
					opacity: 0.6


	.center-discover-block
		transition: 0.3s ease
		-webkit-transition: 0.3s ease
		&:hover
			-webkit-box-shadow: 0 16px 32px 0 rgba(13,17,26, 0.1)
			box-shadow: 0 16px 32px 0 rgba(13,17,26, 0.1)

	.partner-discover-block
		transition: 0.3s ease
		-webkit-transition: 0.3s ease
		&:hover
			background-color: $green_light_2
			-webkit-box-shadow: 0 16px 8px 0 rgba(112,166,58, 0.2)
			box-shadow: 0 16px 8px 0 rgba(112,166,58, 0.2)
