
=shadow($h_length, $v_length, $blur, $radius, $color)
	box-shadow: $h_length $v_length $blur $radius $color
	-o-box-shadow: $h_length $v_length $blur $radius $color
	-ms-box-shadow: $h_length $v_length $blur $radius $color
	-moz-box-shadow: $h_length $v_length $blur $radius $color
	-webkit-box-shadow: $h_length $v_length $blur $radius $color
