html, body, main, .page-section
	position: relative
	height: 100%



.swiper-container
	width: 100%
	height: 100%

.swiper-slide
	text-align: center
	font-size: 16px
	line-height: 28px
	background: #fff
	display: -webkit-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-webkit-box-pack: center
	-ms-flex-pack: center
	-webkit-justify-content: center
	justify-content: center
	-webkit-box-align: center
	-ms-flex-align: center
	-webkit-align-items: center
	align-items: center


.swiper-wrapper
	position: relative
	width: 100%
	height: 100%
	z-index: 1
	display: -webkit-box
	display: -webkit-flex
	display: -ms-flexbox
	display: flex
	-webkit-transition-property: -webkit-transform
	transition-property: -webkit-transform
	-o-transition-property: transform
	transition-property: transform
	transition-property: transform, -webkit-transform
	-webkit-box-sizing: content-box
	box-sizing: content-box



// @media (min-width: 768px)

.swiper-container
	width: 100%
	height: 100%

.swiper-slide
	text-align: center
	font-size: 16px
	line-height: 28px
	background: #fff
	display: -webkit-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-webkit-box-pack: center
	-ms-flex-pack: center
	-webkit-justify-content: center
	justify-content: center
	-webkit-box-align: center
	-ms-flex-align: center
	-webkit-align-items: center
	align-items: center


.swiper-wrapper
	position: relative
	width: 100%
	height: 100%
	z-index: 1
	display: -webkit-box
	display: -webkit-flex
	display: -ms-flexbox
	display: flex
	-webkit-transition-property: -webkit-transform
	transition-property: -webkit-transform
	-o-transition-property: transform
	transition-property: transform
	transition-property: transform, -webkit-transform
	-webkit-box-sizing: content-box
	box-sizing: content-box






.wines-swiper
	background-color: black !important

	.swiper-pagination
		// top: 50px
		bottom: 30px
		height: 10px

	.swiper-pagination-bullet
		vertical-align: top
		width: 10px
		height: 10px
		margin: 0 7px !important
		// background: #7E0D10
		opacity: 1
		background-size: 100% !important
		&:nth-child(1)
			background: url('../img/dote_1.png') no-repeat center center
		&:nth-child(2)
			background: url('../img/dote_2.png') no-repeat center center
		&:nth-child(3)
			background: url('../img/dote_3.png') no-repeat center center
		&:nth-child(4)
			background: url('../img/dote_4.png') no-repeat center center
		&:nth-child(5)
			background: url('../img/dote_5.png') no-repeat center center
		&:nth-child(6)
			background: url('../img/dote_6.png') no-repeat center center
		&:nth-child(7)
			background: url('../img/dote_7.png') no-repeat center center
		&:nth-child(8)
			background: url('../img/dote_8.png') no-repeat center center
		&.swiper-pagination-bullet-active
			background: black






	.slide-image
		position: absolute
		z-index: 1
		top: 0
		right: 0
		left: 0
		bottom: 0
		background-size: cover
		background-color: black
		background-repeat: no-repeat
		background-position: center center

	.slide-desc
		display: none
		position: absolute
		z-index: 2
		top: 0
		right: 0
		left: 0
		bottom: 0
		background-color: black
		text-align: left
		overflow-y: auto
		h4
			color: white
			font-weight: 700
			text-transform: uppercase
			margin-bottom: 40px
			letter-spacing: 2px
		p
			font-size: 14px
			line-height: 20px
			color: white
			margin-bottom: 10px



.slide-desc-wrap
	display: table
	width: calc(100% - 60px)
	padding: 0 30px
	height: 100%
	.slide-desc-inner
		position: relative
		display: table-cell
		vertical-align: middle
		padding: 100px 0

		.close-slide-desc
			position: absolute
			bottom: 39px
			left: calc(50% - 11px)
			width: 22px
			height: 22px
			cursor: pointer
			background: url('data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M11.1%209.69l9.2-9.2a1%201%200%200%201%201.4%201.42l-9.19%209.2%209.2%209.18a1%201%200%200%201-1.42%201.42l-9.19-9.2-9.2%209.2a1%201%200%200%201-1.4-1.42l9.19-9.19-9.2-9.2A1%201%200%200%201%201.91.5l9.2%209.19z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A') no-repeat center center




.desc-table
	margin-bottom: 40px
	> div
		float: left
		text-align: center
		color: white
		font-size: 18px
		font-family: $second_font
		line-height: 45px
		border: 1px solid white
		box-sizing: border-box
	.table-year
		font-size: 26px
		border-right: none
	.table-year, .table-type
		font-weight: 700
		width: 50%
		border-bottom: none
	.table-alc
		width: 60%
		border-right: none
	.table-vol
		width: 40%





.down
	position: absolute
	z-index: 2
	bottom: 35px
	left: calc(50% - 14px)
	width: 27px
	height: 15px
	svg
		display: block




.image-section
	position: relative
	height: 100vh
	background-size: cover
	background-color: black
	background-repeat: no-repeat
	background-position: center center
	&:before
		position: absolute
		z-index: 1
		top: 0
		right: 0
		left: 0
		bottom: 0
		content: ''
		background-color: rgba(0,0,0,0.1)
	.container
		position: relative
		z-index: 2
		height: 100%
		// display: -webkit-box
		// display: -ms-flexbox
		// display: -webkit-flex
		// display: flex
		// -webkit-box-pack: center
		// -ms-flex-pack: center
		// -webkit-justify-content: center
		// justify-content: center
		// -webkit-box-align: center
		// -ms-flex-align: center
		// -webkit-align-items: center
		// align-items: center
	h1, .h1
		color: white
		margin: 0
	.h1
		opacity: 0.4



.table-block-wrap
	display: table
	width: 100%
	height: 100%
	.table-block-inner
		display: table-cell
		vertical-align: middle




.page-title
	position: relative
	z-index: 2
	// margin: 0 25%
	text-align: right



.top-page-title
	margin-bottom: 50px

.top-page-desc
	h3
		margin: 0

.winery-section
	padding: 32px 0 80px
	background-position: center top
	background-repeat: repeat
	background-image: url('../img/pattern.png')


// .row-margin-70
// 	margin-bottom: 30px

.row-margin-100
	margin-bottom: 70px

.row-margin-150
	margin-bottom: 30px

.content-align-center
	img
		display: block
		margin: 0 auto
		max-width: 80px

.mob-width
	width: calc(100% + 60px)
	max-width: none !important
	margin: 0 -30px 30px

.mob-width-left
	margin-left: -30px

.domains-small-image
	img
		margin-left: -20px

.last-img
	margin: 50px -30px 0
	width: calc(100% + 60px)
	max-width: none !important




.awards-page, .contacts-page
	h1, .h1
		margin: 0
	h1
		color: $red
	.h1
		color: $grey_dd

.awards-page
	padding-bottom: 0



.awards-block
	margin-bottom: 100px

	.awards-block-image
		position: relative
		max-width: 200px
		.position
			position: absolute
			z-index: 1
			width: 65px
			height: 64px
			top: 0
			right: -32px
			background-size: 100%
			background-repeat: no-repeat
			background-position: center center
			&.first
				background-image: url('../img/gold.png')
			&.second
				background-image: url('../img/silver.png')
			&.third
				background-image: url('../img/bronze.png')
			&.best
				background-image: url('../img/best.png')
		img
			display: block
			width: 100%

	.awards-block-desc
		margin-right: -30px
		padding: 0 10px 0 20px
		padding-top: 25vw
		time
			display: block
			margin-top: 15px
			font-size: 20px
			line-height: 28px
			color: $grey_99
			font-family: $second_font


.contacts-page
	h6
		margin-bottom: 50px
// 	h3
// 		margin: 120px 0 50px

.shop-block
	margin-bottom: 50px
	.shop-image
		height: 120px
		margin: 0 auto
		img
			height: 120px
			display: block
			margin: 0 auto
	p
		font-size: 14px
		line-height: 20px
		margin: 0
		color: $grey_99
		text-align: center
		a
			color: $grey_99
			text-decoration: none



// .shop-block
// 	margin-bottom: 50px
// 	.shop-image
// 		// height: 120px
// 		padding-right: 20px
// 		img
// 			display: block
// 			max-width: 100%
// 			mix-blend-mode: darken
// 	p
// 		margin: 0
// 		font-size: 14px
// 		line-height: 20px
// 		color: $grey_99
// 		a
// 			color: $grey_99
// 			text-decoration: none
// 			&:hover
// 				color: black



.contacts-map
	height: 500px


	.infoBox
		> img
			display: none


.contacts-table
	margin-top: 50px
	> div
		padding: 20px
		text-align: left
		font-size: 18px
		font-family: Georgia,serif
		line-height: 24px
		border: 2px solid black
		box-sizing: border-box
		a
			color: black
			text-decoration: none
	.table-address
		font-weight: 700
		border-bottom: none
	.table-hours
		border-bottom: none
	.table-email
		border-bottom: none
	// .table-phone



@media (min-width: 768px)

	.awards-block
		.awards-block-image
			width: 75%
			position: relative

		.awards-block-desc
			width: 75%
			margin-right: 0
			padding: 80px 0 0

	.top-page-title
		margin-bottom: 0

	.top-page-desc
		margin-top: 12vw


	.awards-page
		padding-bottom: 50px

	.wines-swiper
		.swiper-pagination
			top: 50px
			bottom: auto

	// .shop-block
	// 	margin-bottom: 0

	.shop-block
		.shop-image
			margin: 0 0 20px
			img
				height: 120px
				margin: 0 0 20px
		p
			text-align: left


	// .slide-desc-wrap

		// .slide-desc-inner
		// 	display: table-cell
		// 	vertical-align: middle
		// 	padding: 100px 0


@media (min-width: 1025px)


	.row-margin-70
		margin-bottom: 70px

	.row-margin-100
		margin-bottom: 100px

	.row-margin-150
		margin-bottom: 150px

	.top-page-desc
		margin-top: 8vw


	.mob-width
		width: 100%
		max-width: 100%
		margin: 0

	.mob-width-left
		margin-left: 0

	.domains-small-image
		img
			margin: 0 auto

	.last-img
		margin: -50px 70px 0
		width: calc(100% - 140px)


	.awards-block
		margin-bottom: 150px
		&.few-awards
			.awards-block-image
				-webkit-box-shadow: 3px 3px 0 0 $grey_f6
				box-shadow: 3px 3px 0 0 $grey_f6
				&:before
					position: absolute
					z-index: -1
					top: 10px
					left: 10px
					width: 100%
					height: 100%
					content: ''
					background-color: white
					-webkit-box-shadow: 3px 3px 0 0 $grey_f6
					box-shadow: 3px 3px 0 0 $grey_f6
				&:after
					position: absolute
					z-index: -2
					top: 20px
					left: 20px
					width: 100%
					height: 100%
					content: ''
					background-color: white
		.awards-block-image
			width: 75%
			position: relative
			.position
				width: 95px
				height: 94px
				right: -47px

		.awards-block-desc
			padding: 120px 0 0


	.page-title
		margin: 0 25%


	.winery-section
		padding: 200px 0

	.contacts-table
		// width: 75%
		-webkit-box-shadow: 0 0 0 2px black inset
		box-shadow: 0 0 0 2px black inset
		> div
			padding: 20px
			float: left
			text-align: left
			font-size: 18px
			font-family: Georgia,serif
			line-height: 24px
			border: 2px solid black
			box-sizing: border-box
			a
				color: black
				text-decoration: none
		.table-address
			width: 60%
			font-weight: 700
			border-right: none
			border-bottom: 0
		.table-hours
			width: 40%
			border-bottom: 0
		.table-email
			width: 45%
			border-right: none
			border-bottom: 2px solid black
		.table-phone
			width: 55%


	.slide-desc-wrap
		width: 60%
		padding: 0 20%
		.slide-desc-inner
			padding: 0
			.close-slide-desc
				display: none





	.wines-swiper
		.slide-desc
			background-color: rgba(0,0,0,0.8)





	.contacts-map
		.infoBox
			display: none











	.content-align-center
		img
			max-width: 130px


.row-vertical
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-ms-flex-wrap: wrap
	flex-wrap: wrap

	// .col-md-4
	// 	-webkit-box-flex: 0
	// 	-ms-flex: 0 0 33.33333%
	// 	flex: 0 0 33.33333%
	// 	max-width: 33.33333%

	// .col-md-3
	// 	-webkit-box-flex: 0
	// 	-ms-flex: 0 0 25%
	// 	flex: 0 0 25%
	// 	max-width: 25%
	.align-self-center
		-ms-flex-item-align: center !important
		align-self: center !important







@media (min-width: 1200px)

	.contacts-table
		width: 80%



	.awards-block
		.awards-block-image
			max-width: none





@media (min-width: 1900px)

	.awards-block
		.awards-block-desc
			padding: 8vw 0 0
			time
				font-size: 1.25vw
				line-height: 1.5vw





	.contacts-table
		margin-top: 3vw
		> div
			font-size: 1vw
			line-height: 1.5vw



	.shop-block
		// .shop-image
			// height: 120px
			// img
			// 	height: 120px
		p
			font-size: 0.75vw
			line-height: 1vw



	.desc-table
		margin-bottom: 40px
		> div
			font-size: 1.25vw
			line-height: 2.25vw

		.table-year
			font-size: 1.5vw

	.wines-swiper
		.slide-desc
			p
				font-size: 0.85vw
				line-height: 1.1vw


	.row-margin-150
		margin-bottom: 9vw


	.last-img
		margin: -50px 8% 0
		width: 84%


// 	.simple-page-section
// 		padding: 230px 0 165px


// 	.video-page-section
// 		padding: 200px 0 100px


// 	.article-image-section
// 		.article-image-section-title
// 			position: absolute
// 			bottom: 135px
// 			left: 15px



// 	.simple-table
// 		margin-top: 120px
// 		.tbody
// 			.td
// 				padding-top: 19px
// 				padding-bottom: 17px
// 				font-size: 18px
// 				line-height: 30px
// 				a
// 					&:hover
// 						color: $green


// 	.win_os
// 		.simple-table
// 			.tbody
// 				.td
// 					padding-top: 17px
// 					padding-bottom: 19px


// 	// .socials-block
// 	// 	position: relative
// 	// 	margin-left: calc(50% - 65px)

// // 	.contacts-map
// // 		height: 590px
// // 		margin-bottom: 60px

// // 	.contacts-block
// // 		margin-bottom: 60px
// // 		.one-contact
// // 			padding-left: 16.66666667%
// // 			background-position: calc(16.66666667% - 45px) 5px
