
.slide-image
	position: absolute
	z-index: 1
	top: 0
	right: 0
	left: 0
	bottom: 0

.first-block
	width: 100%
	height: 100%
	display: -webkit-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-webkit-box-pack: center
	-ms-flex-pack: center
	-webkit-justify-content: center
	justify-content: center
	-webkit-box-align: center
	-ms-flex-align: center
	-webkit-align-items: center
	align-items: center
	.slide-image
		background-image: url('../img/slide1.jpg')
		background-size: cover
		background-color: black
		background-repeat: no-repeat
		background-position: center center

.second-block
	width: 100%
	height: 100%
	position: relative


.home_page
	&.loaded
		.main-title, .down

			// margin-top: 0
			opacity: 1

	.down
		opacity: 0
		transition: 0.5s cubic-bezier(.90,.15,.1,.85)
		-webkit-transition: 0.5s cubic-bezier(.90,.15,.1,.85)
		transition-delay: 0.8s
		-webkit-transition-delay: 0.8s


.main-title
	position: absolute
	z-index: 2
	top: 50%
	left: 0
	right: 0
	transform: translateY(-50%)
	-webkit-transform: translateY(-50%)
	margin: 0 30px //25%
	text-align: right
	opacity: 0
	transition: 0.5s cubic-bezier(.90,.15,.1,.85)
	-webkit-transition: 0.5s cubic-bezier(.90,.15,.1,.85)
	transition-delay: 0.6s
	-webkit-transition-delay: 0.6s




	*
		color: white


.horizontal-swiper
	.slide-image
		height: 50%
		bottom: auto
		background-size: cover
		background-color: black
		background-repeat: no-repeat
		background-position: center center
		&.image-1, &.image-3
			background-image: url('../img/slide2.jpg')
		&.image-2
			background-image: url('../img/slide3.jpg')


.slider-block
	height: 50%
	position: absolute
	z-index: 2
	top: 50%
	left: 0
	right: 0
	padding: 100px 0 20px
	box-sizing: border-box

	background-color: white
	overflow-y: auto


.slider-block-wrap
	position: relative
	z-index: 1
	display: table
	width: 100%
	height: 100%
	overflow-y: auto
	padding: 0 30px
	box-sizing: border-box
	.slider-block-inner
		position: relative
		display: table-cell
		vertical-align: middle
		text-align: center




.line-1, .line-2, .line-3, .line-4, .line-5
	position: absolute
	z-index: 2
	content: ''
	background-color: white
	transition: 1s cubic-bezier(.90,.15,.1,.85)
	-webkit-transition: 1s cubic-bezier(.90,.15,.1,.85)


.line-1
	top: 50%
	left: 0
	width: 0
	height: 2px
	transition-delay: 0.2s
	-webkit-transition-delay: 0.2s

.line-2
	left: 50%
	top: 0
	width: 2px
	height: 0
	transition-delay: 0.2s
	-webkit-transition-delay: 0.2s
.line-3
	left: 41.66666667%
	bottom: 0
	width: 2px
	height: 0
	transition-delay: 0.4s
	-webkit-transition-delay: 0.4s
.line-4
	left: 8.33333333%
	bottom: 0
	width: 2px
	height: 0
	transition-delay: 0.6s
	-webkit-transition-delay: 0.6s

.line-5
	right: 0
	bottom: calc(50% - 8.33333333vw)
	width: 0
	height: 2px
	transition-delay: 0.4s
	-webkit-transition-delay: 0.4s


.animate
	.line-1
		width: 50%
	.line-2
		height: calc(50% + 8.33333333vw)
	.line-3
		height: 50%
	.line-4
		height: 50%
	.line-5
		width: calc(50% + 8.33333333vw)


	.title-block, .slider-block
		opacity: 1


.horizontal-swiper
	.swiper-pagination
		position: absolute
		z-index: 2
		right: calc(8.33333333vw - 50px)
		bottom: calc(((50% - 8.33333333vw) / 2) - 20px)
		left: auto
		width: 100px
		text-align: center
		font-size: 36px
		line-height: 40px
		font-family: Georgia, serif
		color: #E5E5E5


.button-prev, .button-next
	position: absolute
	z-index: 3
	width: 19px
	height: 27px
	bottom: calc(((50% - 8.33333333vw) / 2) - 13px)
	background-position: center
	background-repeat: no-repeat
	cursor: pointer
	transition: background-image 0.5s cubic-bezier(.90,.15,.1,.85)
	-webkit-transition: background-image 0.5s cubic-bezier(.90,.15,.1,.85)
.button-prev
	right: calc(8.33333333vw + 60px)
	background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2227%22%20viewBox%3D%220%200%2019%2027%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23E5E5E5%22%20stroke-width%3D%222%22%20d%3D%22M18%202v23L2%2013.5z%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
	&:hover
		background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2227%22%20viewBox%3D%220%200%2019%2027%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23000000%22%20stroke-width%3D%222%22%20d%3D%22M18%202v23L2%2013.5z%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
.button-next
	right: calc(8.33333333vw - 80px)
	background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2227%22%20viewBox%3D%220%200%2019%2027%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23E5E5E5%22%20stroke-width%3D%222%22%20d%3D%22M1%202v23l16-11.5z%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
	&:hover
		background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2227%22%20viewBox%3D%220%200%2019%2027%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23000000%22%20stroke-width%3D%222%22%20d%3D%22M1%202v23l16-11.5z%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')

// .item
// 	position: relative
// 	width: 100%
// 	height: 100%

// .second-page-slider
// 	position: relative
// 	top: 0
// 	right: 0
// 	left: 0
// 	bottom: 0

@media (min-width: 768px)

	.main-title
		margin: 0 25%

@media (max-width: 1024px)

	.horizontal-swiper
		.swiper-pagination
			bottom: calc(50% - 70px)
			right: calc(50% - 50px)

	.button-prev
		left: calc(50% - 80px)
		bottom: calc(50% - 62px)
	.button-next
		bottom: calc(50% - 62px)
		right: calc(50% - 80px)


	.title-block
		display: none


	.line-1, .line-2, .line-3, .line-4, .line-5
		display: none


@media (min-width: 1025px)

	.main-title


		.line
			margin: 1.875vw 0 0.9375vw
			width: 17vw

	.slider-block
		opacity: 0
		position: absolute
		z-index: 2
		right: 0
		bottom: 0
		left: auto
		top: auto
		width: 33.33333333%
		height: calc(50% - 8.33333333vw)
		padding: 0 16.66666667% 0 8.33333333%
		background-color: white
		transition: 0.4s cubic-bezier(.90,.15,.1,.85)
		-webkit-transition: 0.4s cubic-bezier(.90,.15,.1,.85)
		transition-delay: 1.2s
		-webkit-transition-delay: 1.2s
		font-size: 1vw
		line-height: 1.75vw
		overflow-y: auto
		box-sizing: unset
		.swiper-slide
			text-align: left


	.swiper-pagination, .button-next, .button-prev
		opacity: 0
		transition: 0.4s cubic-bezier(.90,.15,.1,.85)
		-webkit-transition: 0.4s cubic-bezier(.90,.15,.1,.85)
		transition-delay: 1.2s
		-webkit-transition-delay: 1.2s

	.horizontal-swiper
		.slide-image

			height: 100%
			bottom: 0
			background-size: cover
			background-color: black
			background-repeat: no-repeat
			background-position: center center

	.slider-block-wrap
		display: table
		padding: 0
		.slider-block-inner
			text-align: left





	.title-block
		position: absolute
		z-index: 2
		left: 0
		top: 0
		width: 33.33333333%
		height: 50%
		padding: 0 8.33333333%
		text-align: left

		opacity: 0
		transition: 0.4s cubic-bezier(.90,.15,.1,.85)
		-webkit-transition: 0.4s cubic-bezier(.90,.15,.1,.85)
		transition-delay: 1s
		-webkit-transition-delay: 1s

		display: -webkit-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-webkit-box-pack: center
		-ms-flex-pack: center
		-webkit-justify-content: center
		justify-content: center
		-webkit-box-align: center
		-ms-flex-align: center
		-webkit-align-items: center
		align-items: center
		h3
			margin: 0
			color: white


	.animate
		.title-block, .slider-block, .swiper-pagination, .button-next, .button-prev
			opacity: 1
