.page-404,
.page-404 body
	padding: 0
	height: 100%
	min-height: 325px
	// background-color: #ddd

.page-404 body
	text-align: center
	background-color: $grey_f3

.site-wrapper
	display: table
	width: 100%
	height: 100%
	min-height: 100%
	overflow: hidden
	// background-color: $grey_back_f7
.site-wrapper-inner
	display: table-cell
	vertical-align: middle

.cover-container
	margin: 50px auto
	width: calc(100% - 40px)
	padding: 0 20px
	// height: 260px
	text-align: center
	.logo-404
		display: inline-block
		margin: 0 auto 30px
		img
			display: block
	h1
		letter-spacing: 2px
		margin-bottom: 40px
		text-transform: uppercase

		// font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif


	.btn-medium
		padding: 12px 30px







