
@font-face
	font-family: 'Helvetica Neue Bold'
	src: url('../fonts/helveticaneuecyr-bold.eot')
	src: url('../fonts/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-bold.woff2') format('woff2'), url('../fonts/helveticaneuecyr-bold.woff') format('woff'), url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'), url('../fonts/helveticaneuecyr-bold.svg#helveticaneuecyrbold') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Helvetica Neue Regular'
	src: url('../fonts/helveticaneuecyr-roman.eot')
	src: url('../fonts/helveticaneuecyr-roman.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-roman.woff2') format('woff2'), url('../fonts/helveticaneuecyr-roman.woff') format('woff'), url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'), url('../fonts/helveticaneuecyr-roman.svg#helveticaneuecyrroman') format('svg')
	font-weight: normal
	font-style: normal

$grey_1d: #1D1C1C
$grey_24: #242424
$grey_33: #333333
$grey_3c: #3c3c3c
$grey_44: #444452
$grey_4a: #4a4a4a
$grey_55: #555555
$grey_66: #666666
$grey_73: #737373
$grey_88: #888888
$grey_99: #999999
$grey_9b: #9B9B9B
$grey_aa: #aaaaaa
$grey_bb: #bbbbbb
$grey_b6: #B6B9BF
$grey_b8: #B8BFCC
$grey_cc: #cccccc
$grey_dd: #dddddd
$grey_df: #DCDCDC
$grey_df: #dfdfdf
$grey_ed: #ededed
$grey_e6: #E6E6E6
$grey_f1: #f1f1f1
$grey_f3: #F3F3F3
$grey_f5: #F5F6F7
$grey_f6: #f6f6f6
$grey_f7: #f7f7f7
$grey_f8: #f8f8f8


$main_grey: #2F333A
$main_green: #11998E

$green: #70A63A
$green_light: #7DB347
$green_light_2: #7DC03A

$brown: #874A45
$red: #DB3141
$yellow: #FFB100
$blue: #1F2533

$blue_lighter: #41454D
$blue_dark: #0B1426
$blue_dark_2: #131A26


$amigo_green: #4aba47


$main_font: 'Helvetica Neue Regular', Helvetica, Arial, sans-serif
$main_font_bold: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif

$second_font: Georgia, serif
$second_font_bold: Georgia, serif

$main_font_medium: 'StarPro Medium', Helvetica, Arial, sans-serif
