@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, abbr, address, cite,
code, del, dfn, em, img, ins, kbd, q, samp, small, strong,
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*_______________________________________________________________________________________________________________________ */
/*___________________________________________________________________________ FONTS _______ */
/*_______________________________________________________________________________________________________________________ */
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../font/proxima_nova_light-webfont.eot");
  src: url("../font/proxima_nova_light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proxima_nova_light-webfont.woff2") format("woff2"), url("../font/proxima_nova_light-webfont.woff") format("woff"), url("../font/proxima_nova_light-webfont.ttf") format("truetype"), url("../font/proxima_nova_light-webfont.svg#proxima_nova_ltlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../font/proxima_nova_regular-webfont.eot");
  src: url("../font/proxima_nova_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proxima_nova_regular-webfont.woff2") format("woff2"), url("../font/proxima_nova_regular-webfont.woff") format("woff"), url("../font/proxima_nova_regular-webfont.ttf") format("truetype"), url("../font/proxima_nova_regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../font/proxima_nova_semibold-webfont.eot");
  src: url("../font/proxima_nova_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proxima_nova_semibold-webfont.woff2") format("woff2"), url("../font/proxima_nova_semibold-webfont.woff") format("woff"), url("../font/proxima_nova_semibold-webfont.ttf") format("truetype"), url("../font/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../font/proxima_nova_bold-webfont.eot");
  src: url("../font/proxima_nova_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proxima_nova_bold-webfont.woff2") format("woff2"), url("../font/proxima_nova_bold-webfont.woff") format("woff"), url("../font/proxima_nova_bold-webfont.ttf") format("truetype"), url("../font/proxima_nova_bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Extra Bold";
  src: url("../font/proxima_nova_extrabold-webfont.eot");
  src: url("../font/proxima_nova_extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proxima_nova_extrabold-webfont.woff2") format("woff2"), url("../font/proxima_nova_extrabold-webfont.woff") format("woff"), url("../font/proxima_nova_extrabold-webfont.ttf") format("truetype"), url("../font/proxima_nova_extrabold-webfont.svg#proxima_nova_thextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*_______________________________________________________________________________________________________________________ */
/*__________________________________________________________________________ COLORS _______ */
/*_______________________________________________________________________________________________________________________ */
/*_______________________________________________________________________________________________________________________ */
/*_______________________________________________________________________________________________________________________ */
/*_______________________________________________________________________________________________________________________ */
/*_______________________________________________________________________________________________________________________ */
/*___________________________________________________________________________ BASIC _______ */
/*_______________________________________________________________________________________________________________________ */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.login-page {
  height: 100%;
}
.login-page body {
  height: 100%;
}

html, body {
  min-width: 1024px;
}

body {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  background-color: #ffffff;
  overflow-x: auto;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;
}

textarea, input {
  font-weight: 400;
  font-size: 16px;
}

.wrapper, .navigation, .section-block, .footer {
  position: relative;
}

.wrapper {
  min-width: 1024px;
}

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: left;
}

a:focus, a:active, input:focus, input:active, button:focus, button:active, textarea:focus, textarea:active, select:focus, select:active {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #1867CB;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
}

strong, b {
  font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

i, em {
  font-style: italic;
}

h1, .h1 {
  font-size: 25px;
  line-height: 30px;
}

h2, .h2 {
  font-size: 20px;
  line-height: 32px;
}

h3, .h3 {
  font-size: 20px;
  line-height: 25px;
}

h4, .h4 {
  font-size: 18px;
  line-height: 23px;
}

h5, .h5 {
  font-size: 17px;
  line-height: 22px;
}

h6, .h6 {
  font-size: 16px;
  line-height: 21px;
}

a {
  color: #000000;
  transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}
a:hover, a:focus {
  color: #1867CB;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:before,
.clearfix:after {
  clear: both;
}

.align-right {
  float: right;
  margin: 0 0 15px 20px !important;
}

.align-left {
  float: left;
  margin: 0 20px 15px 0 !important;
}

.align-center {
  display: block;
  text-align: center;
}

.hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 70px 0 60px;
}

.display-none {
  display: none;
}

*::-webkit-input-placeholder {
  opacity: 1;
  color: #cccccc;
}

*:-webkit-input-placeholder {
  opacity: 1;
  color: #cccccc;
}

*::-moz-placeholder {
  opacity: 1;
  color: #cccccc;
}

*:-moz-placeholder {
  opacity: 1;
  color: #cccccc;
}

*:-ms-input-placeholder {
  opacity: 1;
  color: #cccccc;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control {
  font-size: 16px;
  color: #333333;
  height: 35px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  resize: none;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
}
.form-control[type="color"] {
  padding: 0;
}
.form-control.title-input {
  height: 50px;
  padding: 10px;
  font-size: 20px;
}
.form-control:focus {
  border-color: #1867CB;
}

/*_______________________________________________________________________________________________________________________ */
/*____________________________________________________________________________ GRID _______ */
/*_______________________________________________________________________________________________________________________ */
.col-220 {
  width: 250px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.width-100 {
  width: 100px;
}

.width-120 {
  width: 120px;
}

.width-150 {
  width: 150px;
}

.width-170 {
  width: 170px;
}

.width-200 {
  width: 200px;
}

.width-250 {
  width: 250px;
}

.width-300 {
  width: 300px;
}

.width-350 {
  width: 350px;
}

.width-400 {
  width: 400px;
}

/*_______________________________________________________________________________________________________________________ */
/*_________________________________________________________________________ BUTTONS _______ */
/*_______________________________________________________________________________________________________________________ */
.btn {
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.btn.btn-large {
  padding: 9px 25px;
}
.btn.btn-medium {
  padding: 7px 20px 6px;
}
.btn.btn-small {
  padding: 4px 25px;
}
.btn.btn-default {
  color: #fff;
  border: 1px solid #515860;
  background-color: #515860;
}
.btn.btn-center {
  display: block;
  margin: 0 auto;
}
.btn.btn-block {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.btn.btn-red {
  color: #fff;
  background-color: #ED4147;
}
.btn.btn-green {
  color: #fff;
  background-color: #73BE45;
}
.btn.btn-white {
  color: #73BE45;
  background-color: #fff;
}
.btn.btn-grey {
  color: #73BE45;
  background-color: #f3f3f3;
}
.btn.btn-grey-empty {
  color: #515860;
  background-color: transparent;
}

/*_______________________________________________________________________________________________________________________ */
/*_______________________________________________________________________ MAIN GRID _______ */
/*_______________________________________________________________________________________________________________________ */
.maintenance .wrapper {
  padding-top: 40px;
}
.maintenance .wrapper .navigation {
  padding-top: 85px;
}
.maintenance .wrapper .navigation .navigation-header {
  top: 40px;
}
.maintenance .wrapper .right-sidebar {
  top: 65px;
}
.maintenance .wrapper .header {
  display: block;
}

.two-columns.minimized .content, .two-columns.minimized .footer {
  margin-left: 50px;
  min-width: 1000px;
}
.two-columns.minimized .footer {
  width: calc(100% - 50px);
}
.two-columns .wrapper {
  min-width: 1024px;
}
.two-columns .content, .two-columns .footer {
  margin-left: 220px;
  min-width: 850px;
}
.two-columns .footer {
  width: calc(100% - 220px);
}

.three-columns.minimized .content, .three-columns.minimized .footer {
  margin: 0 250px 0 50px;
  min-width: 770px;
}
.three-columns.minimized .footer {
  width: calc(100% - 300px);
}
.three-columns .wrapper {
  min-width: 1024px;
}
.three-columns .content, .three-columns .footer {
  margin: 0 250px 0 220px;
  min-width: 600px;
}
.three-columns .footer {
  width: calc(100% - 470px);
}

/*_______________________________________________________________________________________________________________________ */
/*___________________________________________________________________________ LOGIN _______ */
/*_______________________________________________________________________________________________________________________ */
.login-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #515860;
}
.login-wrapper .login-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.login-wrapper .login-wrapper-inner .center-block {
  width: 330px;
  text-align: center;
}
.login-wrapper .login-wrapper-inner .center-block .login-block {
  padding: 40px;
  background-color: #eeeeee;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
  -webkit-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
}
.login-wrapper .login-wrapper-inner .center-block .login-block h1 {
  font-size: 23px;
  color: #515860;
  text-align: center;
  text-transform: uppercase;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .col-block {
  text-align: left;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .password-block {
  position: relative;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .password-block .form-control {
  position: relative;
  z-index: 1;
  padding-right: 30px;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .password-block .show-pass {
  position: absolute;
  z-index: 2;
  right: 9px;
  top: 9px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .password-block .show-pass.shown .icon-eye {
  opacity: 0;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .password-block .show-pass.shown .icon-eye-slash {
  opacity: 1;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .password-block .show-pass .icon-eye,
.login-wrapper .login-wrapper-inner .center-block .login-block .password-block .show-pass .icon-eye-slash {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  color: #515860;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .password-block .show-pass .icon-eye {
  opacity: 1;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .password-block .show-pass .icon-eye-slash {
  opacity: 0;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .message-block {
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  padding: 7px 10px 6px;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .message-block.error {
  color: #ED4147;
  border: 1px solid #ED4147;
  background-color: rgba(254, 65, 71, 0.1);
}
.login-wrapper .login-wrapper-inner .center-block .login-block .message-block.success {
  color: #73BE45;
  border: 1px solid #73BE45;
  background-color: rgba(115, 190, 69, 0.1);
}
.login-wrapper .login-wrapper-inner .center-block .login-block .btn {
  text-align: center;
  margin-top: 20px;
}
.login-wrapper .login-wrapper-inner .center-block .login-block .btn-submit {
  margin-top: 30px;
  text-transform: uppercase;
}
.login-wrapper .login-wrapper-inner .center-block .footer-block {
  padding-top: 25px;
  color: #cccccc;
  font-size: 14px;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
}
.login-wrapper .login-wrapper-inner .center-block .footer-block a {
  color: #cccccc;
  text-transform: uppercase;
}
.login-wrapper .login-wrapper-inner .center-block .footer-block a:hover {
  color: #73BE45;
}

.shake {
  -webkit-animation: kf_shake 0.4s 1 linear;
  -moz-animation: kf_shake 0.4s 1 linear;
  -o-animation: kf_shake 0.4s 1 linear;
}

@-webkit-keyframes kf_shake {
  0% {
    -webkit-transform: translate(30px);
  }
  20% {
    -webkit-transform: translate(-30px);
  }
  40% {
    -webkit-transform: translate(15px);
  }
  60% {
    -webkit-transform: translate(-15px);
  }
  80% {
    -webkit-transform: translate(8px);
  }
  100% {
    -webkit-transform: translate(0px);
  }
}
@-moz-keyframes kf_shake {
  0% {
    -moz-transform: translate(30px);
  }
  20% {
    -moz-transform: translate(-30px);
  }
  40% {
    -moz-transform: translate(15px);
  }
  60% {
    -moz-transform: translate(-15px);
  }
  80% {
    -moz-transform: translate(8px);
  }
  100% {
    -moz-transform: translate(0px);
  }
}
@-o-keyframes kf_shake {
  0% {
    -o-transform: translate(30px);
  }
  20% {
    -o-transform: translate(-30px);
  }
  40% {
    -o-transform: translate(15px);
  }
  60% {
    -o-transform: translate(-15px);
  }
  80% {
    -o-transform: translate(8px);
  }
  100% {
    -o-origin-transform: translate(0px);
  }
}
/*_______________________________________________________________________________________________________________________ */
/*__________________________________________________________________________ HEADER _______ */
/*_______________________________________________________________________________________________________________________ */
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  text-align: center;
}

.message {
  padding: 9px 0;
  line-height: 20px;
  font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
}
.message span {
  line-height: 22px;
  display: inline-block;
}
.message i[class^='icon-'] {
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  line-height: 20px;
  margin-right: 5px;
}
.message.message-attention {
  position: relative;
  z-index: 1;
  color: #ffffff;
  background-color: #1867CB;
}
.message.message-error, .message.message-success {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
}
.message.message-error {
  color: #ffffff;
  background-color: #ED4147;
}
.message.message-success {
  color: #ffffff;
  background-color: #73BE45;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/*_______________________________________________________________________________________________________________________ */
/*__________________________________________________________________________ NAVIGATION _______ */
/*_______________________________________________________________________________________________________________________ */
.hide-scroll {
  margin-right: -17px;
  display: block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.minimized .navigation {
  width: 50px;
}
.minimized .navigation .navigation-header .navigation-home {
  display: none;
}
.minimized .navigation .navigation-header .minimize-menu {
  width: 100%;
}
.minimized .navigation .navigation-menu {
  width: 50px;
}
.minimized .navigation .navigation-menu > li {
  padding: 13px 15px;
}
.minimized .navigation .navigation-footer .project-logo, .minimized .navigation .navigation-footer .name-user {
  display: none;
}

.navigation {
  width: 220px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 45px 0 50px;
  overflow: hidden;
  background-color: #515860;
  transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}
.navigation i[class^='icon-']:before {
  margin: 0;
}
.navigation .navigation-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navigation .navigation-header i[class^='icon-'] {
  color: #f2f2f2;
  font-size: 18px;
}
.navigation .navigation-header .minimize-menu {
  float: right;
  width: 50%;
  height: 45px;
  padding: 13px 0;
}
.navigation .navigation-header .navigation-home {
  float: left;
  width: 50%;
  height: 45px;
  padding: 13px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.navigation .navigation-menu {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  width: 220px;
  transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}
.navigation .navigation-menu i[class^='icon-']:before {
  margin: 0;
}
.navigation .navigation-menu > li {
  width: 220px;
  display: block;
  padding: 13px 25px 13px 30px;
  transition: padding 0.3s ease;
  -o-transition: padding 0.3s ease;
  -ms-transition: padding 0.3s ease;
  -moz-transition: padding 0.3s ease;
  -webkit-transition: padding 0.3s ease;
}
.navigation .navigation-menu > li.current > a {
  color: #ffffff;
}
.navigation .navigation-menu > li.current > a .nav-icon i[class^='icon-'] {
  color: #ffffff;
}
.navigation .navigation-menu > li.open-menu-item .navigation-sub-menu {
  max-height: 50rem;
}
.navigation .navigation-menu > li > a {
  display: block;
  color: #868a8f;
  font-size: 18px;
  font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
  transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}
.navigation .navigation-menu > li > a:hover {
  color: #ffffff;
}
.navigation .navigation-menu > li > a:hover .nav-icon i[class^='icon-'] {
  color: #ffffff;
}
.navigation .navigation-menu > li > a:after {
  clear: both;
  content: "";
  display: table;
}
.navigation .navigation-menu > li > a .nav-icon {
  float: left;
  width: 20px;
  margin: 3px 15px 0 0;
}
.navigation .navigation-menu > li > a .nav-icon i[class^='icon-'] {
  display: block;
  text-align: center;
  color: #868a8f;
  font-size: 18px;
  transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}
.navigation .navigation-menu > li > a .nav-caret {
  float: right;
  margin-top: 1px;
  font-size: 15px;
  color: #868a8f;
  transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}
.navigation .navigation-menu > li > a .nav-caret i[class^='icon-']:before {
  line-height: 22px;
}
.navigation .navigation-menu > li > a .nav-caret:hover {
  color: #ffffff;
}
.navigation .navigation-menu > li > a .nav-number {
  float: right;
  width: 23px;
  height: 23px;
  color: #515860;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  background-color: #868a8f;
  border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
}
.navigation .navigation-menu > li > a .nav-text {
  display: block;
}
.navigation .navigation-menu > li .navigation-sub-menu {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  -o-transition: max-height 0.3s ease;
  -ms-transition: max-height 0.3s ease;
  -moz-transition: max-height 0.3s ease;
  -webkit-transition: max-height 0.3s ease;
}
.navigation .navigation-menu > li .navigation-sub-menu li {
  display: block;
  margin: 0 0 2px 35px;
}
.navigation .navigation-menu > li .navigation-sub-menu li.current a {
  color: #ffffff;
}
.navigation .navigation-menu > li .navigation-sub-menu li a {
  display: block;
  color: #868a8f;
  font-size: 15px;
  font-weight: 400;
  font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
}
.navigation .navigation-menu > li .navigation-sub-menu li a:hover {
  color: #ffffff;
}
.navigation .navigation-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  white-space: nowrap;
}
.navigation .navigation-footer .project-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.navigation .navigation-footer .navigation-exit {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.navigation .navigation-footer .navigation-exit a {
  display: block;
  width: 50px;
  height: 50px;
  padding: 15px;
}
.navigation .navigation-footer .navigation-exit i[class^='icon-'] {
  display: block;
  color: #f2f2f2;
  font-size: 20px;
  text-align: center;
}
.navigation .navigation-footer .name-user {
  position: absolute;
  left: 60px;
  right: 60px;
  top: 0;
  height: 50px;
  color: #cccccc;
  overflow: hidden;
  white-space: normal;
  display: table;
  width: calc(100% - 120px);
}
.navigation .navigation-footer .name-user p {
  display: table-cell;
  vertical-align: middle;
}

/*_______________________________________________________________________________________________________________________ */
/*__________________________________________________________________________ RIGHT SIDEBAR _______ */
/*_______________________________________________________________________________________________________________________ */
.right-sidebar {
  width: 250px;
  position: fixed;
  z-index: 10;
  top: 25px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}
.right-sidebar .hide-scroll .right-sidebar-wrap {
  width: 250px;
}
.right-sidebar h2 {
  text-align: center;
  color: #515860;
}
.right-sidebar h2.before-tabs {
  margin: 0;
  padding: 16px 0 25px;
  background-color: #ffffff;
}
.right-sidebar .right-select .nav-tabs > li {
  width: 33.3333%;
}
.right-sidebar .right-select .nav-tabs > li > a {
  border: none;
  background: none;
  text-align: center;
}
.right-sidebar .right-select .nav-tabs > li.active a {
  color: #73BE45;
}
.right-sidebar .btn-center {
  margin-bottom: 20px;
}
.right-sidebar .right-element {
  margin: 0 0 20px;
  padding: 10px;
  background-color: #d8d8d8;
}
.right-sidebar .right-element .right-element-img {
  position: relative;
}
.right-sidebar .right-element .right-element-img:hover .remove-element {
  opacity: 1;
}
.right-sidebar .right-element .right-element-img .remove-element {
  position: absolute;
  z-index: 3;
  opacity: 0;
  border: none;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 30px;
  background-color: rgba(81, 88, 96, 0.7);
  transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}
.right-sidebar .right-element .right-element-img .remove-element i[class^='icon-'] {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -12px;
}
.right-sidebar .right-element .right-element-img a {
  position: relative;
  z-index: 1;
  display: block;
}
.right-sidebar .right-element .right-element-img a img {
  display: block;
  width: 100%;
}
.right-sidebar .right-element .form-control {
  margin: 10px 0 0;
}
.right-sidebar .right-file-element {
  position: relative;
  margin: 0 -20px;
  padding: 8px 30px 7px 50px;
  border-top: 1px solid #E4E4E4;
}
.right-sidebar .right-file-element.edit .file-title {
  display: none;
}
.right-sidebar .right-file-element.edit .file-title-edit {
  display: block;
}
.right-sidebar .right-file-element:last-child {
  border-bottom: 1px solid #E4E4E4;
}
.right-sidebar .right-file-element span {
  display: block;
}
.right-sidebar .right-file-element .file-type {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 20px;
  text-decoration: none;
}
.right-sidebar .right-file-element .file-type i[class^='icon-'] {
  display: block;
}
.right-sidebar .right-file-element .file-type .icon-file-excel-o {
  color: #417505;
}
.right-sidebar .right-file-element .file-type .icon-file-pdf-o {
  color: #D0011B;
}
.right-sidebar .right-file-element .file-type .icon-file-word-o {
  color: #4990E2;
}
.right-sidebar .right-file-element .file-title {
  position: relative;
  margin: 7px 0 8px;
  white-space: nowrap;
  color: #515860;
  overflow: hidden;
}
.right-sidebar .right-file-element .file-title:before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  content: "";
  background: -moz-linear-gradient(left, transparent 0%, #f2f2f2 100%);
  background: -webkit-linear-gradient(left, transparent 0%, #f2f2f2 100%);
  background: linear-gradient(to right, transparent 0%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2f2f2',GradientType=1 );
}
.right-sidebar .right-file-element .file-title-edit {
  display: none;
}
.right-sidebar .right-file-element .file-title-edit .form-control {
  margin: 0;
}
.right-sidebar .right-file-element .remove-file {
  position: absolute;
  top: 18px;
  right: 10px;
  color: #cccccc;
  font-size: 12px;
  cursor: pointer;
}
.right-sidebar .right-file-element .remove-file i[class^='icon-'] {
  display: block;
}

/*_______________________________________________________________________________________________________________________ */
/*____________________________________________________________________________ TABS _______ */
/*_______________________________________________________________________________________________________________________ */
.tabs-sidebar.tabs-2 .nav-tabs > li, .tabs-content.tabs-2 .nav-tabs > li {
  width: 50%;
}
.tabs-sidebar.tabs-3 .nav-tabs > li, .tabs-content.tabs-3 .nav-tabs > li {
  width: 33.3333%;
}
.tabs-sidebar .nav-tabs, .tabs-content .nav-tabs {
  border: none;
  border-top: 7px solid #fff;
  background-color: #e4e4e4;
}
.tabs-sidebar .nav-tabs > li, .tabs-content .nav-tabs > li {
  margin-bottom: 0;
}
.tabs-sidebar .nav-tabs > li > a, .tabs-content .nav-tabs > li > a {
  margin: 0;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  border: 0;
  background-color: #e4e4e4;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.tabs-sidebar .nav-tabs > li > a i[class^='icon-'], .tabs-content .nav-tabs > li > a i[class^='icon-'] {
  color: #515860;
  font-size: 20px;
}
.tabs-sidebar .nav-tabs > li > a .icon-cancel, .tabs-content .nav-tabs > li > a .icon-cancel {
  color: #ED4147 !important;
}
.tabs-sidebar .nav-tabs > li.active, .tabs-content .nav-tabs > li.active {
  margin-top: -7px;
}
.tabs-sidebar .nav-tabs > li.active a, .tabs-content .nav-tabs > li.active a {
  color: #515860;
  padding-top: 17px;
  border: none;
  background-color: #f2f2f2;
}
.tabs-sidebar .tab-content, .tabs-content .tab-content {
  padding: 20px 20px 0;
}
.tabs-sidebar .tab-content .tab-textarea, .tabs-content .tab-content .tab-textarea {
  width: 100%;
  height: 125px;
  resize: none;
}
.tabs-sidebar .tab-content .tab-tags, .tabs-content .tab-content .tab-tags {
  margin-bottom: 20px;
}
.tabs-sidebar .tab-content .tab-delete-block, .tabs-content .tab-content .tab-delete-block {
  text-align: center;
  margin-bottom: 20px;
}
.tabs-sidebar .tab-content .tab-delete-block p, .tabs-content .tab-content .tab-delete-block p {
  margin-bottom: 20px;
}
.tabs-sidebar .tab-content .tab-delete-block .ajax-loader, .tabs-content .tab-content .tab-delete-block .ajax-loader {
  display: none;
}

.tabs-content .nav-tabs {
  padding-left: 20px;
}
.tabs-content .tab-content {
  padding: 0 15px 0 0;
}
.tabs-content .tab-content .tab-pane > .row:nth-child(even) {
  background-color: #ffffff;
}

/*_______________________________________________________________________________________________________________________ */
/*_______________________________________________________________________________________________________ CONTENT _______ */
/*_______________________________________________________________________________________________________________________ */
/*____________________________________________________________________________ Styled select2 ____________ */
.styled-select-select2 {
  position: relative;
  width: 100%;
  position: relative;
}
.styled-select-select2 select {
  position: relative;
  z-index: 2;
  border: 1px solid #f00;
  height: 34px;
  width: 100%;
  margin-bottom: 20px;
  opacity: 0;
}

.select2-dropdown {
  border: none;
  margin-top: 10px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #cccccc;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  position: relative;
  color: #515860;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
}
.select2-container--default .select2-results__option[aria-selected=true]:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3px;
  content: "";
  background-color: #1867CB;
}

.select2-search--dropdown {
  padding: 10px;
}

.select2-container {
  display: block;
}
.select2-container .select2-selection {
  font-size: 16px;
  color: #333333;
  line-height: 1.42857;
  padding: 6px 10px 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  resize: none;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.select2-container .select2-selection.select2-selection--multiple {
  padding: 0;
}
.select2-container .select2-search__field {
  font-size: 16px;
  color: #333333;
  height: 33px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  resize: none;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
}
.select2-container .select2-search__field:focus {
  box-shadow: 0 0 0 0 transparent;
  -o-box-shadow: 0 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 0 transparent;
}
.select2-container .select2-selection__arrow {
  z-index: 1;
  right: 7px !important;
  top: 4px !important;
  position: relative;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 1.42857;
  height: 23px;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: block;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-selection--multiple .select2-selection__choice {
  color: #ffffff;
  background: #515860;
  cursor: default;
  float: left;
  margin: 4px 0 0 4px;
  height: 25px;
  padding: 0 6px;
  line-height: 25px;
  border: none;
}
.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  margin-right: 5px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 400;
}
.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
  padding: 0 10px;
  min-width: 40px;
}

.select2-results__option {
  border-top: 1px solid #f2f2f2;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  color: #333333;
  transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
}
.select2-results__option.select2-results__option--highlighted {
  background-color: #f1f1f1;
}

.data-table thead .select2-container .select2-selection {
  margin: 0;
}

/*____________________________________________________________________________ Simple styled select _______ */
.styled-select {
  position: relative;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.styled-select.form-control {
  padding: 0;
}
.styled-select.form-control:before {
  right: 10px;
}
.styled-select.form-control select {
  height: 35px;
}
.styled-select.action {
  background-color: #f3f3f3;
}
.styled-select:before {
  position: absolute;
  z-index: 1;
  right: 7px;
  top: 6px;
  color: #515860;
  font-size: 14px;
}
.styled-select select {
  position: relative;
  z-index: 2;
  border: none;
  height: 30px;
  width: 115%;
  padding: 0 0 0 10px;
  color: #515860;
  font-size: 14px;
  line-height: 20px;
  background: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  appearance: none !important;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
}
.styled-select select:focus, .styled-select select:active {
  outline: 0;
}

/*____________________________________________________________________________ Content block _______ */
.content {
  position: relative;
  padding: 22px 0 0;
  transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  -ms-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -webkit-transition: margin 0.3s ease;
}
.content .content-header {
  height: 50px;
  padding: 0 40px;
  position: relative;
}
.content .content-header .page-title {
  float: left;
  margin: 0;
  font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
}
.content .content-header .page-title i[class^='icon-'] {
  font-size: 20px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}
.content .content-header .lang-switcher {
  position: relative;
  margin: 2px 0 0 20px;
  float: right;
  border: 1px solid #cccccc;
  padding: 2px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.content .content-header .lang-switcher .move-block {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 37px;
  height: 24px;
  padding: 5px 8px;
  background-color: #ED4147;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.content .content-header .lang-switcher a {
  position: relative;
  z-index: 2;
  float: left;
  color: #7f7f7f;
  padding: 7px 8px;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
}
.content .content-header .lang-switcher a.current {
  color: #ffffff;
}
.content .content-header .btn-add {
  float: right;
  margin: -2px 0 0 20px;
  padding: 8px 20px 8px 15px;
}
.content .content-header .btn-add i[class^='icon-'] {
  float: left;
  margin: 2px 10px 0 0;
}
.content .content-block {
  padding: 15px 0 0;
}
.content .content-block .btn {
  margin-bottom: 20px;
}
.content .content-block .col-block h3 {
  color: #515860;
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 15px;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
}
.content .content-block .col-block.col-save-buttons .btn {
  margin-left: 20px;
}
.content .content-block .col-title > * {
  float: left;
}
.content .content-block .col-title h3 {
  margin-right: 40px;
}
.content .content-block .col-title .checkbox-block {
  margin: 5px 20px 0 0;
}
.content .content-block .row-bkg {
  background-color: #f3f3f3;
}
.content .content-block .without-label .checkbox-block {
  margin-top: 32px;
}
.content .content-block .checkbox-block {
  margin-top: 10px;
}
.content .content-block .checkbox-block .checkbox {
  float: left;
  margin: 2px 5px 0 0;
}
.content .content-block .checkbox-block label {
  float: left;
  margin: 0;
}
.content .upload-file {
  position: relative;
  overflow: hidden;
  padding-right: 130px;
  margin-bottom: 20px;
}
.content .upload-file.with-file {
  padding-right: 195px;
}
.content .upload-file.with-file .btn {
  right: 65px;
}
.content .upload-file.with-file .download-file,
.content .upload-file.with-file .remove-file {
  display: block;
}
.content .upload-file .btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 110px;
  margin: 0;
}
.content .upload-file .download-file,
.content .upload-file .remove-file {
  display: none;
  font-size: 22px;
  color: #515860;
  position: absolute;
  top: 5px;
}
.content .upload-file .download-file [class^="icon-"],
.content .upload-file .remove-file [class^="icon-"] {
  display: block;
}
.content .upload-file .download-file {
  right: 30px;
}
.content .upload-file .download-file [class^="icon-"] {
  margin-top: 2px;
}
.content .upload-file .remove-file {
  right: 0;
}
.content .content-controls {
  padding: 0 40px;
}
.content .content-controls > .styled-select {
  width: 200px;
}
.content .content-controls .content-search {
  float: left;
  margin-top: 4px;
  padding-left: 25px;
  position: relative;
}
.content .content-controls .content-search:before {
  position: absolute;
  z-index: 9;
  left: 0;
  top: -1px;
  font-family: "icomoon";
  font-size: 15px;
  content: "";
  color: #cccccc;
}
.content .content-controls .content-search input[type='search'] {
  border: none;
  color: #cccccc;
  font-size: 16px;
  padding: 0;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
}
.content .content-controls .table-length {
  float: right;
  width: 60px;
}
.content .content-controls .content-grid {
  float: right;
  margin-top: 4px;
}
.content .content-controls .content-grid a {
  float: left;
  margin: 1px 20px 0 0;
}
.content .content-controls .content-grid a i[class^='icon-'] {
  color: #cccccc;
  font-size: 22px;
  transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}
.content .content-controls .content-grid a i[class^='icon-']:before {
  margin: 0;
}
.content .content-controls .content-grid a:hover i[class^='icon-'], .content .content-controls .content-grid a.current i[class^='icon-'] {
  color: #515860;
}
.content .chose-action {
  padding: 0 40px;
}
.content .chose-action .styled-select {
  float: left;
  width: 100px;
  margin-right: 10px;
}
.content .chose-action .btn {
  float: left;
}
.content .chose-action .action-pager {
  float: right;
  margin-left: 50px;
}
.content .chose-action .action-pager a, .content .chose-action .action-pager span {
  width: 20px;
  margin: 0 2px;
  text-align: center;
  float: left;
  font-size: 12px;
  line-height: 20px;
}
.content .chose-action .action-pager a i[class^='icon-'], .content .chose-action .action-pager span i[class^='icon-'] {
  font-size: 16px;
  line-height: 20px;
}
.content .chose-action .action-pager a i[class^='icon-']:before, .content .chose-action .action-pager span i[class^='icon-']:before {
  margin: 0;
}
.content .chose-action .action-pager a {
  color: #c1c6cd;
}
.content .chose-action .action-pager a:hover {
  color: #515860;
}
.content .chose-action .action-pager span {
  color: #fff;
  background-color: #c1c6cd;
}
.content .chose-action .action-info {
  float: right;
  color: #c1c6cd;
  font-size: 12px;
  line-height: 20px;
}

.lang-group {
  display: none;
}
.lang-group:first-of-type {
  display: block;
}

.tinymce {
  margin-bottom: 15px;
}

/*____________________________________________________________________________ DATA TABLE _______ */
.data-table {
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  color: #515860;
}
.data-table a {
  color: #515860;
}
.data-table.table-align-center thead th {
  text-align: center;
}
.data-table.table-align-center .checkbox {
  margin: 4px auto 0;
}
.data-table.table-align-center tbody tr td {
  padding-right: 0;
}
.data-table.table-align-center tbody tr td:first-of-type {
  padding-left: 10px;
}
.data-table.articles-list tbody tr {
  transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
}
.data-table.articles-list tbody tr:hover {
  background-color: #f3f3f3;
}
.data-table.articles-list tbody tr:hover .table-actions a {
  opacity: 1;
}
.data-table thead {
  background-color: #f3f3f3;
}
.data-table thead th {
  vertical-align: top;
  font-size: 12px;
  line-height: 24px;
  padding: 8px 20px 7px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #eeeeee;
  font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
}
.data-table thead th .sorting {
  cursor: pointer;
  position: relative;
  padding-right: 15px;
}
.data-table thead th .sorting.asc:before {
  color: #515860;
}
.data-table thead th .sorting.desc:after {
  color: #515860;
}
.data-table thead th .sorting:before, .data-table thead th .sorting:after {
  position: absolute;
  right: 3px;
  top: 0;
  color: #cccccc;
  line-height: 16px;
  font-family: "icomoon";
}
.data-table thead th .sorting:before {
  content: "";
}
.data-table thead th .sorting:after {
  content: "";
}
.data-table thead th.table-check {
  width: 39px;
  padding: 12px 13px 8px;
}
.data-table thead th.table-check input[type='checkbox'], .data-table thead th.table-check input[type='radio'] {
  display: block;
  margin: 0;
}
.data-table thead th.table-actions {
  width: 200px;
}
.data-table tbody tr.unpublished {
  background-color: #ffe8e5;
}
.data-table tbody tr td {
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 13px 7px 0;
  border-bottom: 1px solid #eeeeee;
}
.data-table tbody tr td.table-check {
  width: 39px;
  padding: 12px 13px 5px;
}
.data-table tbody tr td.table-check input[type='checkbox'], .data-table tbody tr td.table-check input[type='radio'] {
  display: block;
  margin: 0;
}
.data-table tbody tr td.table-actions {
  width: 200px;
  line-height: 22px;
}

.translate-item {
  cursor: pointer;
}
.translate-item:hover i[class^='icon-'] {
  opacity: 1;
}
.translate-item i[class^='icon-'] {
  opacity: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}

.translate-item-edit .form-control {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;
}

/*____________________________________________________________________________ TABLE ACTIONS _______ */
.table-actions {
  width: 165px;
  line-height: 22px;
  text-align: center;
}
.table-actions a {
  font-size: 18px;
  line-height: 18px;
  padding: 0 3px;
  color: #515860;
  opacity: 0;
  transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}
.table-actions a i[class^='icon-'] {
  font-size: 18px;
}
.table-actions a .icon-pencil {
  color: #1867CB;
}
.table-actions a .icon-pencil:before {
  display: inline-block;
  margin-top: 2px;
}
.table-actions a .icon-eye {
  color: #73BE45;
}
.table-actions a .icon-chain {
  height: 17px;
  line-height: 17px;
}
.table-actions a .icon-close {
  color: #ED4147;
}

.col-block.error .form-control {
  border: 1px solid #ED4147;
}
.col-block label {
  display: block;
  font-size: 14px;
  color: #666666;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: 400;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
}
.col-block label span {
  float: right;
  color: #ED4147;
  font-size: 11px;
  line-height: 20px;
  margin-top: 1px;
  text-transform: uppercase;
}

.form-page {
  padding: 0 40px;
}

.row-padding {
  padding: 15px 0;
}

.row-padding-big {
  padding: 35px 40px 15px 40px;
}

.settings-page > .row {
  margin: 0;
}
.settings-page .row-padding {
  padding: 35px 25px 15px 40px;
}

.published {
  float: left;
  margin-top: 8px;
}

/*____________________________________________________________________________ SEARCH RESULTS _______ */
.search-results {
  font-size: 0;
  letter-spacing: -0.36em;
}
.search-results .search-element {
  letter-spacing: normal;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  width: 250px;
  padding: 0 15px;
  margin: 0 0 30px;
}
.search-results .search-element .search-element-wrap {
  padding: 10px;
  background-color: #f3f3f3;
}
.search-results .search-element .search-element-wrap .search-element-img {
  position: relative;
  width: 200px;
  height: 135px;
  margin-bottom: 10px;
  background: url("../img/ajax-loader.gif") no-repeat 50% 50%;
}
.search-results .search-element .search-element-wrap .search-element-img .img-check {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f3f3f3;
}
.search-results .search-element .search-element-wrap .search-element-img .img-check input[type="checkbox"] {
  display: block;
  margin: 0 0 9px 9px;
}
.search-results .search-element .search-element-wrap .search-element-img .search-element-link {
  display: block;
}
.search-results .search-element .search-element-wrap .search-element-img .search-element-link img {
  display: block;
  width: 100%;
}
.search-results .search-element .search-element-wrap .tag-labels {
  border-bottom: 1px solid #ccc;
  color: #898989;
  font-size: 13px;
  padding: 0 0 10px;
  margin-bottom: 10px;
}
.search-results .search-element .search-element-wrap .date {
  color: #898989;
  font-size: 13px;
}

/*____________________________________________________________________________ BOOTSTRAP TAGS _______ */
.bootstrap-tagsinput {
  min-width: 100%;
  color: #333333;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  resize: none;
}
.bootstrap-tagsinput:focus {
  border-color: #1867CB;
}
.bootstrap-tagsinput input {
  min-width: 100%;
}
.bootstrap-tagsinput .tag {
  position: relative;
  float: left;
  color: #fff;
  font-size: 12px;
  margin: 0 4px 4px 0;
  padding: 0 5px;
  background-color: #52585f;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.bootstrap-tagsinput .tag span[data-role="remove"] {
  margin-left: 4px;
  transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}
.bootstrap-tagsinput .tag span[data-role="remove"]:hover {
  color: #ED4147;
  box-shadow: 0 0 0 0 0;
  -o-box-shadow: 0 0 0 0 0;
  -ms-box-shadow: 0 0 0 0 0;
  -moz-box-shadow: 0 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0 0;
}
.bootstrap-tagsinput .tag span[data-role="remove"]:after {
  font-family: "fontello";
  font-size: 12px;
  content: "";
  cursor: pointer;
}

/*____________________________________________________________________________ BOOTSTRAP TAGS _______ */
.images-gallery .gallery-item {
  position: relative;
  float: left;
  min-height: 150px;
  margin: 0 20px 20px 0;
}
.images-gallery .gallery-item:hover .btnDeleteItem {
  opacity: 1;
}
.images-gallery .gallery-item .image {
  position: relative;
  overflow: hidden;
  width: 210px;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f3f3f3;
}
.images-gallery .gallery-item .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
.images-gallery .gallery-item .btnAddItem {
  position: relative;
  z-index: 1;
  border: none;
  padding: 0;
  margin: 0;
  width: 210px;
  height: 140px;
  cursor: pointer;
  background-color: #f3f3f3;
}
.images-gallery .gallery-item .btnAddItem:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -21px 0 0 -20px;
  font-size: 40px;
  color: #cccccc;
  font-family: "icomoon";
  content: "";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.images-gallery .gallery-item .btnDeleteItem {
  position: absolute;
  z-index: 3;
  opacity: 0;
  border: none;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 30px;
  background-color: rgba(81, 88, 96, 0.7);
  transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}
.images-gallery .gallery-item .btnDeleteItem i[class^='icon-'] {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -12px;
}

.sortable {
  list-style-type: none;
  padding: 0 40px;
}
.sortable li.placeholder {
  background-color: #cccccc;
}
.sortable li .ui-sortable-handle {
  cursor: move;
  margin: 0;
  padding: 10px;
  border-bottom: 1px dotted #cccccc;
  transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
}
.sortable li .ui-sortable-handle:hover {
  background-color: #f3f3f3;
}
.sortable li .ui-sortable-handle:hover .table-actions a {
  opacity: 1;
}
.sortable li .ui-sortable-handle a {
  font-size: 18px;
  font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
}
.sortable li .ui-sortable-handle .table-actions {
  float: right;
}
.sortable li ol {
  list-style-type: none;
  margin: 0 0 0 25px;
  padding: 0;
}
.sortable li ol li .ui-sortable-handle a {
  font-size: 16px;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
}
.sortable li ol li ol li .ui-sortable-handle a {
  font-size: 16px;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;
}

.table-block {
  display: table;
  width: 100%;
  height: 100%;
}
.table-block .table-cell-block {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.info-block.not-authorized {
  padding-top: 140px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100px 125px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20data-name%3D%22Layer%201%22%20viewBox%3D%220%200%20100%20125%22%20x%3D%220px%22%20y%3D%220px%22%3E%0A%09%3Cpath%20d%3D%22M64.41%2C34.33V27.46a14%2C14%2C0%2C0%2C0-14-14h-.91a14%2C14%2C0%2C0%2C0-14%2C14v6.86q-5.27.42-10.51%2C1.13v-8A24.49%2C24.49%2C0%2C0%2C1%2C49.55%2C3h.91A24.49%2C24.49%2C0%2C0%2C1%2C74.92%2C27.46v8Q69.68%2C34.74%2C64.41%2C34.33Zm-46.9%2C11a174.79%2C174.79%2C0%2C0%2C1%2C65%2C0%2C6.07%2C6.07%2C0%2C0%2C1%2C4.94%2C6V88.21A5.48%2C5.48%2C0%2C0%2C1%2C83%2C93.59l-3.33.63A159.5%2C159.5%2C0%2C0%2C1%2C50%2C97a159.5%2C159.5%2C0%2C0%2C1-29.65-2.78L17%2C93.59a5.48%2C5.48%2C0%2C0%2C1-4.46-5.38V50.78A5.48%2C5.48%2C0%2C0%2C1%2C17%2C45.4ZM43.87%2C79.75a16.86%2C16.86%2C0%2C0%2C0%2C12.26%2C0A1.36%2C1.36%2C0%2C0%2C0%2C56.92%2C78l-3.19-9a6%2C6%2C0%2C1%2C0-7.45%2C0l-3.19%2C9A1.36%2C1.36%2C0%2C0%2C0%2C43.87%2C79.75Z%22%20fill%3D%22%23ED4147%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.info-block.not-authorized h2 {
  line-height: 24px;
  color: #ED4147;
  margin: 0;
  font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif;
}

/*_______________________________________________________________________________________________________________________ */
/*__________________________________________________________________________ FOOTER _______ */
/*_______________________________________________________________________________________________________________________ */
.footer {
  float: left;
  padding: 15px 40px;
}
.footer a {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
.footer a span {
  color: #4aba47;
}
.footer a:hover, .footer a:focus {
  color: #4aba47;
}

/*_______________________________________________________________________________________________________________________ */
/*__________________________________________________________________________ MEDIA ________ */
/*_______________________________________________________________________________________________________________________ */
.row-save-actions {
  box-shadow: #363A41 0 0 10px;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 100;
  background: #FFFFFF;
  bottom: 0;
  left: 210.08px;
  right: 0;
}

.test-section {
  padding: 30px 0;
}
.test-section .category-element {
  text-align: center;
  margin-bottom: 20px;
}
.test-section .category-element h1 {
  position: relative;
  z-index: 2;
  margin: -30px 0 10px;
}
.test-section .category-element h2 {
  color: #DAE2EA;
}
.test-section .category-element .category-image {
  position: relative;
  margin: 0 auto;
  width: 130px;
  height: 130px;
}
.test-section .category-element .category-image:before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  border-radius: 50%;
  opacity: 0.1;
}
.test-section .category-element .category-image img {
  position: relative;
  z-index: 2;
  display: block;
  padding: 5px;
}

.questions-block-selected {
  margin: 0 -20px;
}
.questions-block-selected .toggle-block .toggle-button {
  font-weight: 700;
}
.questions-block-selected .toggle-block .toggle-action {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Crect%20stroke%3D%22%23EAEAEA%22%20stroke-width%3D%222%22%20x%3D%222%22%20y%3D%222%22%20width%3D%2220%22%20height%3D%2220%22%20rx%3D%223%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23E74C3C%22%20d%3D%22M6%2011h12v2H6z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}

.toggle-block {
  border-top: 1px solid #DAE2EA;
  position: relative;
}
.toggle-block .toggle-button {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 24px 55px;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.toggle-block .toggle-button .toggle-button-val {
  position: absolute;
  top: 24px;
  left: 15px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  font-weight: 900;
  font-family: "Montserrat Alternates", Helvetica, Arial, sans-serif;
  color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}
.toggle-block .toggle-button .toggle-button-val.val_1 {
  background-color: #9B59B6;
}
.toggle-block .toggle-button .toggle-button-val.val_2 {
  background-color: #3498DB;
}
.toggle-block .toggle-button .toggle-button-val.val_3 {
  background-color: #51BB00;
}
.toggle-block .toggle-button .toggle-button-val.val_4 {
  background-color: #E67E22;
}
.toggle-block .toggle-button .toggle-button-val.val_5 {
  background-color: #E74C3C;
}
.toggle-block .toggle-action {
  position: absolute;
  z-index: 2;
  top: 24px;
  right: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%238ACE12%22%20d%3D%22M11%206h2v12h-2z%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%238ACE12%22%20d%3D%22M6%2011h12v2H6z%22%2F%3E%0A%20%20%20%20%3Crect%20stroke%3D%22%23EAEAEA%22%20stroke-width%3D%222%22%20x%3D%222%22%20y%3D%222%22%20width%3D%2220%22%20height%3D%2220%22%20rx%3D%223%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.toggle-block .toggle-panel {
  display: none;
  padding: 0 20px 25px 55px;
}
.toggle-block .toggle-panel img {
  display: block;
  max-width: 100%;
}
.toggle-block .toggle-panel *:last-child {
  margin-bottom: 0;
}

.test-questions-block {
  margin: 0 -20px 30px;
}
.test-questions-block .toggle-block:last-child {
  border-bottom: 1px solid #DAE2EA;
}

.single-variant {
  padding-left: 36px;
  color: #34495E;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpath%20id%3D%22a%22%20d%3D%22M20%2020V5H5v15z%22%2F%3E%0A%20%20%20%20%3Cfilter%20x%3D%22-23.3%25%22%20y%3D%22-23.3%25%22%20width%3D%22146.7%25%22%20height%3D%22146.7%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22b%22%3E%0A%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%221.5%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowBlurInner1%22%2F%3E%0A%20%20%20%20%20%20%3CfeOffset%20dy%3D%222%22%20in%3D%22shadowBlurInner1%22%20result%3D%22shadowOffsetInner1%22%2F%3E%0A%20%20%20%20%20%20%3CfeComposite%20in%3D%22shadowOffsetInner1%22%20in2%3D%22SourceAlpha%22%20operator%3D%22arithmetic%22%20k2%3D%22-1%22%20k3%3D%221%22%20result%3D%22shadowInnerInner1%22%2F%3E%0A%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.3%200%22%20in%3D%22shadowInnerInner1%22%2F%3E%0A%20%20%20%20%3C%2Ffilter%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%0A%20%20%20%20%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23b%29%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%0A%20%20%20%20%3Cuse%20stroke%3D%22%23BBB%22%20stroke-width%3D%222%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}

.lines-block {
  margin-top: -30px;
}
.lines-block .line {
  width: 100%;
  height: 21px;
  margin-top: 10px;
  border-bottom: 1px solid #7C90A3;
}

.text-with-line {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}
.text-with-line:before {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 3px;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #7C90A3;
}
.text-with-line .text {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.text-with-line .text:before {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 0;
  right: -5px;
  bottom: -5px;
  content: "";
  background-color: white;
}
.text-with-line span {
  position: relative;
  z-index: 2;
}

.more-tests-block {
  text-align: center;
}

.comments-block {
  margin: 30px 0 50px;
}
.comments-block textarea {
  width: 100%;
  resize: none;
  padding: 20px;
  min-height: 220px;
  color: #34495E;
  border: 2px solid #7C90A3;
  background-color: #f7f7f7;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 22px;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  box-shadow: 0 10px 20px 0 transparent;
  -o-box-shadow: 0 10px 20px 0 transparent;
  -ms-box-shadow: 0 10px 20px 0 transparent;
  -moz-box-shadow: 0 10px 20px 0 transparent;
  -webkit-box-shadow: 0 10px 20px 0 transparent;
}
.comments-block textarea:focus {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.final-section {
  padding: 70px 0;
}
.final-section h1, .final-section h2 {
  text-align: center;
}
.final-section h2 {
  color: #DAE2EA;
  margin-bottom: 20px;
}

.actions-wrapper {
  height: 100px;
}

.final-actions-block {
  padding: 10px 0;
}
.final-actions-block.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}
.final-actions-block .btn {
  width: 48px;
  min-width: auto;
  font-size: 15px;
  letter-spacing: normal;
  margin: 0 10px;
}
.final-actions-block .btn svg {
  display: inline-block;
  vertical-align: top;
}
.final-actions-block .btn span {
  display: none;
}

.final-questions-block {
  margin: 0 -20px;
}
.final-questions-block .one-question {
  padding: 20px 15px;
  border-top: 1px solid #DAE2EA;
  font-size: 16px;
  line-height: 20px;
  color: #34495E;
}
.final-questions-block .one-question .one-question-header {
  position: relative;
  padding-left: 30px;
}
.final-questions-block .one-question .one-question-header span {
  position: absolute;
  top: 0;
  left: -10px;
  width: 30px;
  text-align: right;
  font-weight: 700;
}
.final-questions-block .one-question .one-question-body {
  padding: 20px 0 0 30px;
}
.final-questions-block .one-question .one-question-body img {
  max-width: 100%;
}
.final-questions-block .one-question .one-question-body .single-variant {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%2334495E%22%20stroke-width%3D%222%22%20d%3D%22M20%2020V5H5v15z%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.final-questions-block .one-question .one-question-body .lines-block {
  margin: -10px 0;
}

@media (min-width: 768px) {
  .single-variant.true-false-variant {
    width: 50%;
    float: left;
  }
}
@media (min-width: 1025px) {
  .test-section {
    padding: 50px 0 100px;
  }
  .test-section .category-element {
    margin-bottom: 40px;
  }
  .test-section .category-element h1 {
    margin: -30px 0 30px;
  }
  .test-section .category-element .category-image {
    top: 0;
    width: 170px;
    height: 170px;
  }
  .test-section .category-element .category-image img {
    padding: 25px;
  }

  .test-block-select {
    margin-bottom: 30px;
  }

  .questions-block-selected {
    margin: 0;
  }
  .questions-block-selected .toggle-block .toggle-action:hover {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M4%201h16a3%203%200%200%201%203%203v16a3%203%200%200%201-3%203H4a3%203%200%200%201-3-3V4a3%203%200%200%201%203-3zm2%2010v2h12v-2H6z%22%20fill%3D%22%23E74C3C%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  }

  .test-questions-block {
    margin: 0 0 50px;
  }

  .toggle-block:hover .toggle-button {
    background-color: #f7f7f7;
  }
  .toggle-block .toggle-button {
    font-size: 20px;
    line-height: 28px;
    padding: 30px 70px;
  }
  .toggle-block .toggle-button .toggle-button-val {
    top: 32px;
    left: 20px;
  }
  .toggle-block .toggle-action {
    top: 32px;
    right: 20px;
  }
  .toggle-block .toggle-panel {
    padding: 40px 70px 50px 70px;
  }
  .toggle-block .toggle-panel img {
    display: block;
    max-width: 100%;
  }
  .toggle-block .toggle-panel *:last-child {
    margin-bottom: 0;
  }

  .single-variant.true-false-variant {
    width: 20%;
  }

  .final-actions-block {
    padding: 20px 0;
  }
  .final-actions-block .btn {
    min-width: 190px;
  }
  .final-actions-block .btn span {
    display: inline-block;
  }
  .final-actions-block .btn svg {
    margin-right: 5px;
  }

  .actions-wrapper {
    margin-bottom: 30px;
  }

  .final-questions-block {
    margin: 0;
  }
  .final-questions-block .one-question {
    padding: 30px 20px;
    border-top: 1px solid #DAE2EA;
    font-size: 20px;
    line-height: 28px;
  }
  .final-questions-block .one-question .one-question-header {
    padding-left: 50px;
  }
  .final-questions-block .one-question .one-question-header span {
    top: 0;
    left: 0;
    width: 40px;
  }
  .final-questions-block .one-question .one-question-body {
    padding: 25px 0 0 70px;
  }
  .final-questions-block .one-question .one-question-body .lines-block {
    margin: 20px 0;
  }
}
