html, body, div, span, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, abbr, address, cite,
code, del, dfn, em, img, ins, kbd, q, samp, small, strong,
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*__________________________________________________________________________ Fonts ______________________ */
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../../../admin-assets/fonts/proxima_nova_semibold.eot");
  src: url("../../../admin-assets/fonts/proxima_nova_semibold.eot?#iefix") format("embedded-opentype"), url("../../../admin-assets/fonts/proxima_nova_semibold.woff2") format("woff2"), url("../../../admin-assets/fonts/proxima_nova_semibold.woff") format("woff"), url("../../../admin-assets/fonts/proxima_nova_semibold.ttf") format("truetype"), url("../../../admin-assets/fonts/proxima_nova_semibold.svg#proxima_nova_ltsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../../../admin-assets/fonts/proxima_nova_regular.eot");
  src: url("../../../admin-assets/fonts/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("../../../admin-assets/fonts/proxima_nova_regular.woff2") format("woff2"), url("../../../admin-assets/fonts/proxima_nova_regular.woff") format("woff"), url("../../../admin-assets/fonts/proxima_nova_regular.ttf") format("truetype"), url("../../../admin-assets/fonts/proxima_nova_regular.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*__________________________________________________________________________ Colors ______________________ */
/*__________________________________________________________________________ Mixins ______________________ */
/*__________________________________________________________________________ Basic ______________________ */
body {
  position: relative;
  color: black;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  background-color: white;
}

a:focus, a:active, input:focus, input:active, button:focus, button:active, textarea:focus, textarea:active, select:focus, select:active {
  outline: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: black;
  font-weight: 400;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
  margin: 0 0 15px;
}

strong, b {
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;
}

i, em {
  font-style: italic;
}

a {
  color: black;
  transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}
a:hover {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/*__________________________________________________________________________ maintenance page ______________________ */
.maintenance-page,
.maintenance-page body {
  height: 100%;
}
.maintenance-page .wrapper,
.maintenance-page body .wrapper {
  width: 100%;
  height: 100%;
  min-height: 480px;
}
.maintenance-page .wrapper .main-block,
.maintenance-page body .wrapper .main-block {
  display: table;
  position: relative;
  width: calc(100% - 40px);
  padding: 0 20px;
  height: 100%;
}

.maintenance-page body {
  background: white url("../img/maintenance_bg.png") repeat center center;
}

.main-wrap {
  position: relative;
  z-index: 2;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.main-wrap .cover-container {
  margin: 30px auto;
  width: 600px;
  padding: 75px 0 0;
  background-color: white;
}
.main-wrap .cover-container .logo {
  display: inline-block;
  margin-bottom: 65px;
}
.main-wrap .cover-container .logo img {
  display: block;
}
.main-wrap .cover-container h3 {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 65px;
  padding: 0 100px;
}
.main-wrap .cover-container .contacts {
  margin-bottom: 65px;
  font-size: 0;
  letter-spacing: -0.36em;
}
.main-wrap .cover-container .contacts a {
  display: inline-block;
  margin-right: 132px;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: normal;
  text-decoration: none;
  font-family: "Proxima Nova Semibold", Helvetica, Arial, sans-serif;
}
.main-wrap .cover-container .contacts a:before {
  position: absolute;
  top: -8px;
  left: calc(100% + 65px);
  bottom: -8px;
  width: 2px;
  content: "";
  background-color: #EDEDED;
}
.main-wrap .cover-container .contacts a:last-child {
  margin: 0;
}
.main-wrap .cover-container .contacts a:last-child:before {
  display: none;
}

@media screen and (max-width: 640px) {
  .main-wrap .cover-container {
    height: auto;
    width: auto;
    padding: 40px 0 0;
  }
  .main-wrap .cover-container .logo {
    margin-bottom: 30px;
  }
  .main-wrap .cover-container h3 {
    padding: 0 10%;
    margin-bottom: 30px;
  }
  .main-wrap .cover-container .contacts {
    margin-bottom: 40px;
  }
  .main-wrap .cover-container .contacts a {
    margin: 0 62px 0 0;
  }
  .main-wrap .cover-container .contacts a:before {
    left: calc(100% + 30px);
  }
}
@media screen and (max-width: 480px) {
  .main-wrap .cover-container {
    height: auto;
    width: auto;
  }
  .main-wrap .cover-container h3 {
    padding: 0 20px;
  }
  .main-wrap .cover-container .contacts a {
    display: block;
    margin: 0 0 42px;
  }
  .main-wrap .cover-container .contacts a:before {
    top: calc(100% + 20px);
    left: calc(50% - 20px);
    bottom: auto;
    width: 40px;
    height: 2px;
  }
}
