
html, body, div, span, object, iframe,h1, h2, h3,
h4, h5, h6, p, blockquote, pre,abbr, address, cite,
code,del, dfn, em, img, ins, kbd, q, samp,small, strong,
sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form,
label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,footer, header,
hgroup, menu, nav, section, summary,time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	outline: 0
	font-size: 100%
	vertical-align: baseline
	background: transparent
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

/*_______________________________________________________________________________________________________________________*/
/*___________________________________________________________________________ FONTS _______*/
/*_______________________________________________________________________________________________________________________*/

@font-face
	font-family: 'Proxima Nova Light'
	src: url('../font/proxima_nova_light-webfont.eot')
	src: url('../font/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proxima_nova_light-webfont.woff2') format('woff2'), url('../font/proxima_nova_light-webfont.woff') format('woff'), url('../font/proxima_nova_light-webfont.ttf') format('truetype'), url('../font/proxima_nova_light-webfont.svg#proxima_nova_ltlight') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Proxima Nova Regular'
	src: url('../font/proxima_nova_regular-webfont.eot')
	src: url('../font/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proxima_nova_regular-webfont.woff2') format('woff2'), url('../font/proxima_nova_regular-webfont.woff') format('woff'), url('../font/proxima_nova_regular-webfont.ttf') format('truetype'), url('../font/proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Proxima Nova Semibold'
	src: url('../font/proxima_nova_semibold-webfont.eot')
	src: url('../font/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proxima_nova_semibold-webfont.woff2') format('woff2'), url('../font/proxima_nova_semibold-webfont.woff') format('woff'), url('../font/proxima_nova_semibold-webfont.ttf') format('truetype'), url('../font/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Proxima Nova Bold'
	src: url('../font/proxima_nova_bold-webfont.eot')
	src: url('../font/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proxima_nova_bold-webfont.woff2') format('woff2'), url('../font/proxima_nova_bold-webfont.woff') format('woff'), url('../font/proxima_nova_bold-webfont.ttf') format('truetype'), url('../font/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Proxima Nova Extra Bold'
	src: url('../font/proxima_nova_extrabold-webfont.eot')
	src: url('../font/proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proxima_nova_extrabold-webfont.woff2') format('woff2'), url('../font/proxima_nova_extrabold-webfont.woff') format('woff'), url('../font/proxima_nova_extrabold-webfont.ttf') format('truetype'), url('../font/proxima_nova_extrabold-webfont.svg#proxima_nova_thextrabold') format('svg')
	font-weight: normal
	font-style: normal


/*_______________________________________________________________________________________________________________________*/
/*__________________________________________________________________________ COLORS _______*/
/*_______________________________________________________________________________________________________________________*/

$red: #ED4147
$blue: #1867CB
$blue_light: #48a2bb

$green: #73BE45
$green_a: #4aba47

$black: #000000
$white: #ffffff

$grey_f1: #f1f1f1
$grey_f2: #f2f2f2
$grey_f3: #f3f3f3
$grey_ee: #eeeeee
$grey_d8: #d8d8d8
$grey_cc: #cccccc
$grey_86: #868a8f
$grey_66: #666666
$grey_77: #777777
$grey_51: #515860
$grey_33: #333333


/*_______________________________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________________________*/

=transition($transition, $sec , $ease)
	transition: $transition $sec $ease
	-o-transition: $transition $sec $ease
	-ms-transition: $transition $sec $ease
	-moz-transition: $transition $sec $ease
	-webkit-transition: $transition $sec $ease

=border_radius($radius)
	border-radius: $radius
	-o-border-radius: $radius
	-ms-border-radius: $radius
	-moz-border-radius: $radius
	-webkit-border-radius: $radius

=border_radius_custom($radius_1, $radius_2, $radius_3, $radius_4)
	border-radius: $radius_1 $radius_2 $radius_3 $radius_4
	-o-border-radius: $radius_1 $radius_2 $radius_3 $radius_4
	-ms-border-radius: $radius_1 $radius_2 $radius_3 $radius_4
	-moz-border-radius: $radius_1 $radius_2 $radius_3 $radius_4
	-webkit-border-radius: $radius_1 $radius_2 $radius_3 $radius_4

=shadow($h_length, $v_length, $blur, $radius, $color)
	box-shadow: $h_length $v_length $blur $radius $color
	-o-box-shadow: $h_length $v_length $blur $radius $color
	-ms-box-shadow: $h_length $v_length $blur $radius $color
	-moz-box-shadow: $h_length $v_length $blur $radius $color
	-webkit-box-shadow: $h_length $v_length $blur $radius $color


/*_______________________________________________________________________________________________________________________*/
/*___________________________________________________________________________ BASIC _______*/
/*_______________________________________________________________________________________________________________________*/

html
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%
	text-size-adjust: 100%


.login-page
	height: 100%
	body
		height: 100%


html, body
	// height: 100%
	min-width: 1024px
body
	color: $black
	font-size: 14px
	font-weight: 400
	background-color: $white
	overflow-x: auto
	font-family: 'Proxima Nova Regular', Helvetica, Arial, sans-serif
	// min-width: 1250px

textarea, input
	// font-family: Helvetica, Arial, sans-serif
	font-weight: 400
	font-size: 16px
	// line-height: 22px

.wrapper, .navigation, .section-block, .footer
	position: relative

.wrapper
	// height: 100%
	// min-height: 100%
	min-width: 1024px

.container
	position: relative
	display: block
	margin: 0 auto
	text-align: left

a, input, button, textarea, select
	&:focus, &:active
		outline:  0 !important

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
	color: $blue
	font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
	font-weight: 400
	margin-top: 0
	margin-bottom: 25px

strong, b
	font-family: 'Proxima Nova Bold', Helvetica, Arial, sans-serif
	font-weight: 400

i, em
	font-style: italic

h1, .h1
	font-size: 25px
	line-height: 30px

h2, .h2
	font-size: 20px
	line-height: 32px

h3, .h3
	font-size: 20px
	line-height: 25px

h4, .h4
	font-size: 18px
	line-height: 23px

h5, .h5
	font-size: 17px
	line-height: 22px

h6, .h6
	font-size: 16px
	line-height: 21px

a
	color: $black
	+transition ( color, 0.3s, ease )
	&:hover, &:focus
		color: $blue
		text-decoration: none

.clearfix:before,
.clearfix:after
	content: " "
	display: table

.clearfix:before,
.clearfix:after
	clear: both

.align-right
	float: right
	margin: 0 0 15px 20px !important

.align-left
	float: left
	margin: 0 20px 15px 0 !important

.align-center
	display: block
	text-align: center

.hr
	display: block
	width: 100%
	height: 1px
	background-color: #e5e5e5
	margin: 70px 0 60px

.display-none
	display: none

*::-webkit-input-placeholder
	opacity: 1
	color: #cccccc
*:-webkit-input-placeholder
	opacity: 1
	color: #cccccc
*::-moz-placeholder
	opacity: 1
	color: #cccccc
*:-moz-placeholder
	opacity: 1
	color: #cccccc
*:-ms-input-placeholder
	opacity: 1
	color: #cccccc

*
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-tap-highlight-color: transparent


input[type="submit"]
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none

// [class^="icon-"], [class*=" icon-"]
//   &:before
//     display: block

.form-control
	font-size: 16px
	color: $grey_33
	height: 35px
	padding: 5px 10px
	border: 1px solid #ccc
	margin-bottom: 20px
	+border_radius(0)
	resize: none
	font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
	&[type="color"]
		padding: 0
	&.title-input
		height: 50px
		padding: 10px
		font-size: 20px
	&:focus
		border-color: $blue


/*_______________________________________________________________________________________________________________________*/
/*____________________________________________________________________________ GRID _______*/
/*_______________________________________________________________________________________________________________________*/

.col-220
	width: 250px
	float: left
	padding-left: 15px
	padding-right: 15px
	position: relative



.width-100
	width: 100px

.width-120
	width: 120px

.width-150
	width: 150px

.width-170
	width: 170px

.width-200
	width: 200px

.width-250
	width: 250px

.width-300
	width: 300px

.width-350
	width: 350px

.width-400
	width: 400px



/*_______________________________________________________________________________________________________________________*/
/*_________________________________________________________________________ BUTTONS _______*/
/*_______________________________________________________________________________________________________________________*/

.btn
	// font-size: 12px
	// height: 40px
	// margin-bottom: 20px
	font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif

	+border_radius(0)

	&.btn-large
		padding: 9px 25px
	&.btn-medium
		padding: 7px 20px 6px
	&.btn-small
		padding: 4px 25px

	&.btn-default
		color: #fff
		border: 1px solid $grey_51
		background-color: $grey_51

	&.btn-center
		display: block
		margin: 0 auto

	&.btn-block
		display: block
		margin: 0 auto
		width: 100%

	&.btn-red
		color: #fff
		background-color: $red

	&.btn-green
		color: #fff
		background-color: $green

	&.btn-white
		color: $green
		background-color: #fff

	&.btn-grey
		color: $green
		background-color: $grey_f3

	&.btn-grey-empty
		color: $grey_51
		background-color: transparent



//   &.btn-block
//     padding: 9px 10px
//     display: block
//     text-align: center

//   &.btn-black
//     color: #fff
//     background-color: $grey_33

//   &.btn-black-empty
//     color: $grey_33
//     padding-top: 8px !important
//     padding-bottom: 8px !important
//     border: 1px solid $grey_33
//     background-color: $white


// .input-text
//   width: 100%
//   padding: 10px 0
//   border: none
//   border-bottom: 2px solid #dddddd
//   box-sizing: border-box



/*_______________________________________________________________________________________________________________________*/
/*_______________________________________________________________________ MAIN GRID _______*/
/*_______________________________________________________________________________________________________________________*/

.maintenance
	.wrapper
		padding-top: 40px
		.navigation
			padding-top: 85px
			.navigation-header
				top: 40px
		.right-sidebar
			top: 65px
		.header
			display: block


.two-columns
	&.minimized
		.content, .footer
			margin-left: 50px
			min-width: 1000px
		.footer
			width: calc(100% - 50px)
	.wrapper
		min-width: 1024px
	.content, .footer
		margin-left: 220px
		min-width: 850px
	.footer
		width: calc(100% - 220px)

.three-columns
	&.minimized
		.content, .footer
			margin: 0 250px 0 50px
			min-width: 770px
		.footer
			width: calc(100% - 300px)

	.wrapper
		min-width: 1024px
	.content, .footer
		margin: 0 250px 0 220px
		min-width: 600px
	.footer
		width: calc(100% - 470px)









/*_______________________________________________________________________________________________________________________*/
/*___________________________________________________________________________ LOGIN _______*/
/*_______________________________________________________________________________________________________________________*/

.login-wrapper
	display: table
	width: 100%
	height: 100%
	min-height: 100%
	background-color: $grey_51
	.login-wrapper-inner
		display: table-cell
		vertical-align: middle
		.center-block
			width: 330px
			text-align: center
			.login-block
				padding: 40px
				background-color: $grey_ee
				+border_radius(3px)
				+shadow(0, 12px, 14px, 0, rgba(0,0,0,0.2))
				-webkit-perspective: 600px
				-ms-perspective: 600px
				perspective: 600px
				h1
					font-size: 23px
					color: $grey_51
					text-align: center
					text-transform: uppercase

				.col-block
					text-align: left

				.password-block
					position: relative
					.form-control
						position: relative
						z-index: 1
						padding-right: 30px
					.show-pass
						position: absolute
						z-index: 2
						right: 9px
						top: 9px
						width: 15px
						height: 15px
						cursor: pointer
						&.shown
							.icon-eye
								opacity: 0
							.icon-eye-slash
								opacity: 1

						.icon-eye,
						.icon-eye-slash
							position: absolute
							top: 0
							left: 0
							font-size: 15px
							color: $grey_51
						.icon-eye
							opacity: 1
						.icon-eye-slash
							opacity: 0


				.message-block
					margin-top: 30px
					font-size: 15px
					text-align: center
					line-height: 20px
					padding: 7px 10px 6px
					&.error
						color: $red
						border: 1px solid $red
						background-color: rgba(254, 65, 71, 0.1)
					&.success
						color: $green
						border: 1px solid $green
						background-color: rgba(115, 190, 69, 0.1)

				.btn
					text-align: center
					margin-top: 20px
				.btn-submit
					margin-top: 30px
					text-transform: uppercase
			.footer-block
				padding-top: 25px
				color: $grey_cc
				font-size: 14px
				font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
				a
					color: $grey_cc
					text-transform: uppercase
					&:hover
						color: $green

.shake
	-webkit-animation: kf_shake 0.4s 1 linear
	-moz-animation: kf_shake 0.4s 1 linear
	-o-animation: kf_shake 0.4s 1 linear

@-webkit-keyframes kf_shake
	0%
		-webkit-transform: translate(30px)
	20%
		-webkit-transform: translate(-30px)
	40%
		-webkit-transform: translate(15px)
	60%
		-webkit-transform: translate(-15px)
	80%
		-webkit-transform: translate(8px)
	100%
		-webkit-transform: translate(0px)

@-moz-keyframes kf_shake
	0%
		-moz-transform: translate(30px)
	20%
		-moz-transform: translate(-30px)
	40%
		-moz-transform: translate(15px)
	60%
		-moz-transform: translate(-15px)
	80%
		-moz-transform: translate(8px)
	100%
		-moz-transform: translate(0px)

@-o-keyframes kf_shake
	0%
		-o-transform: translate(30px)
	20%
		-o-transform: translate(-30px)
	40%
		-o-transform: translate(15px)
	60%
		-o-transform: translate(-15px)
	80%
		-o-transform: translate(8px)
	100%
		-o-origin-transform: translate(0px)







/*_______________________________________________________________________________________________________________________*/
/*__________________________________________________________________________ HEADER _______*/
/*_______________________________________________________________________________________________________________________*/

.header
	// display: none
	position: fixed
	left: 0
	right: 0
	top: 0
	z-index: 20
	text-align: center

.message
	padding: 9px 0
	line-height: 20px
	font-family: 'Proxima Nova Bold', Helvetica, Arial, sans-serif
	span
		line-height: 22px
		display: inline-block
	i[class^='icon-']
		display: inline-block
		vertical-align: middle
		font-size: 19px
		line-height: 20px
		margin-right: 5px
	&.message-attention
		position: relative
		z-index: 1
		color: $white
		background-color: $blue
	&.message-error,
	&.message-success
		position: absolute
		z-index: 2
		left: 0
		right: 0
		top: 0
	&.message-error
		color: $white
		background-color: $red
	&.message-success
		color: $white
		background-color: $green


.animated
	-webkit-animation-duration: 0.5s
	animation-duration: 0.5s
	-webkit-animation-fill-mode: both
	animation-fill-mode: both

@-webkit-keyframes slideInDown
	from
		-webkit-transform: translate3d(0, -100%, 0)
		transform: translate3d(0, -100%, 0)
		visibility: visible
	to
		-webkit-transform: translate3d(0, 0, 0)
		transform: translate3d(0, 0, 0)

@keyframes slideInDown
	from
		-webkit-transform: translate3d(0, -100%, 0)
		transform: translate3d(0, -100%, 0)
		visibility: visible

	to
		-webkit-transform: translate3d(0, 0, 0)
		transform: translate3d(0, 0, 0)

.slideInDown
	-webkit-animation-name: slideInDown
	animation-name: slideInDown


@-webkit-keyframes slideInUp
	from
		-webkit-transform: translate3d(0, 100%, 0)
		transform: translate3d(0, 100%, 0)
		visibility: visible

	to
		-webkit-transform: translate3d(0, 0, 0)
		transform: translate3d(0, 0, 0)

@keyframes slideInUp
	from
		-webkit-transform: translate3d(0, 100%, 0)
		transform: translate3d(0, 100%, 0)
		visibility: visible

	to
		-webkit-transform: translate3d(0, 0, 0)
		transform: translate3d(0, 0, 0)

.slideInUp
	-webkit-animation-name: slideInUp
	animation-name: slideInUp




/*_______________________________________________________________________________________________________________________*/
/*__________________________________________________________________________ NAVIGATION _______*/
/*_______________________________________________________________________________________________________________________*/

.hide-scroll
	margin-right: -17px
	display: block
	height: 100%
	overflow-y: auto
	overflow-x: hidden


.minimized
	.navigation
		width: 50px
		.navigation-header
			.navigation-home
				display: none
			.minimize-menu
				width: 100%

		.navigation-menu
			width: 50px
			> li
				padding: 13px 15px

		.navigation-footer
			.project-logo, .name-user
				display: none





.navigation
	width: 220px
	position: fixed
	z-index: 10
	top: 0
	left: 0
	bottom: 0
	padding: 45px 0 50px
	overflow: hidden
	background-color: $grey_51

	+transition(width, 0.3s, ease)
	i[class^='icon-']
		&:before
			margin: 0
	.navigation-header
		position: absolute
		top: 0
		left: 0
		right: 0

		text-align: center
		border-bottom: 1px solid rgba(255,255,255,0.1)
		i[class^='icon-']
			color: $grey_f2
			font-size: 18px
			// +transition(color, 0.3s, ease)
			// &:hover
			// 	color: $white

		.minimize-menu
			float: right
			width: 50%
			height: 45px
			padding: 13px 0
			// margin: 18px 0 0 30px
		.navigation-home
			float: left
			width: 50%
			height: 45px
			padding: 13px 0
			border-right: 1px solid rgba(255,255,255,0.1)

			// margin: 18px 30px 0 0

	.navigation-menu
		list-style: none
		margin: 20px 0
		padding: 0
		width: 220px
		+transition(width, 0.3s, ease)
		i[class^='icon-']
			&:before
				margin: 0
		> li
			width: 220px
			display: block
			padding: 13px 25px 13px 30px
			+transition(padding, 0.3s, ease)
			&.current
				> a
					color: $white
					.nav-icon
						i[class^='icon-']
							color: $white
			&.open-menu-item
				.navigation-sub-menu
					max-height: 50rem
			> a
				display: block
				color: $grey_86
				font-size: 18px
				font-family: 'Proxima Nova Bold', Helvetica, Arial, sans-serif
				+transition(color, 0.3s, ease)
				&:hover
					color: $white
					// .nav-number
					//   background-color: $white
					.nav-icon
						i[class^='icon-']
							color: $white
				&:after
					clear: both
					content: ""
					display: table
				.nav-icon
					float: left
					width: 20px
					margin: 3px 15px 0 0
					i[class^='icon-']
						display: block
						text-align: center
						color: $grey_86
						font-size: 18px
						+transition(color, 0.3s, ease)
				.nav-caret
					float: right
					margin-top: 1px
					font-size: 15px
					color: $grey_86
					+transition(color, 0.3s, ease)
					i[class^='icon-']
						&:before
							line-height: 22px
					&:hover
						color: $white
				.nav-number
					float: right
					width: 23px
					height: 23px
					color: $grey_51
					font-size: 13px
					line-height: 24px
					text-align: center
					background-color: $grey_86
					+border_radius(12px)
					+transition(background-color, 0.3s, ease)
				.nav-text
					display: block

			.navigation-sub-menu
				// display: none
				list-style: none
				// margin: -10px 0 15px 54px
				// padding: 1px 0 0
				// margin: 0 0 -13px
				overflow: hidden
				max-height: 0
				+transition(max-height, 0.3s, ease)
				li
					display: block
					margin: 0 0 2px 35px
					&.current
						a
							color: $white
					a
						display: block
						// padding: 5px 0
						color: $grey_86
						font-size: 15px
						font-weight: 400
						font-family: 'Proxima Nova Bold', Helvetica, Arial, sans-serif
						&:hover
							color: $white

	.navigation-footer
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 50px
		text-align: center
		border-top: 1px solid rgba(255,255,255,0.1)
		white-space: nowrap
		// i[class^='icon-']
		// 	color: $grey_86
		// 	font-size: 24px
		// 	+transition(color, 0.3s, ease)
		// 	&:hover
		// 		color: $white
		// 	&:before
		// 		margin: 0
		.project-logo
			position: absolute
			top: 0
			left: 0
			width: 50px
			height: 50px
			border-right: 1px solid rgba(255,255,255,0.1)

		.navigation-exit
			position: absolute
			top: 0
			right: 0
			border-left: 1px solid rgba(255,255,255,0.1)
			a
				display: block
				width: 50px
				height: 50px
				padding: 15px
			i[class^='icon-']
				display: block
				color: $grey_f2
				font-size: 20px
				text-align: center
		.name-user
			position: absolute
			left: 60px
			right: 60px
			top: 0
			height: 50px
			// line-height: 50px
			color: $grey_cc
			overflow: hidden
			white-space: normal
			display: table
			width: calc(100% - 120px)
			p
				display: table-cell
				vertical-align: middle



		// .logo-icon
		// 	display: block
		// 	margin: 0 auto
		// 	+shadow(0, 0, 15px, 5px, rgba(0,0,0,0.2))
		// .navigation-home
		// 	float: right
		// 	margin: 18px 30px 0 0



/*_______________________________________________________________________________________________________________________*/
/*__________________________________________________________________________ RIGHT SIDEBAR _______*/
/*_______________________________________________________________________________________________________________________*/

.right-sidebar
	width: 250px
	position: fixed
	z-index: 10
	top: 25px
	right: 0
	bottom: 0
	// padding: 0 0 25px
	overflow: hidden
	background-color: $grey_f3
	.hide-scroll
		.right-sidebar-wrap
			width: 250px
	h2
		text-align: center
		color: $grey_51
		&.before-tabs
			margin: 0
			padding: 16px 0 25px
			background-color: $white


	.right-select
		.nav-tabs
			> li
				width: 33.3333%
				> a
					border: none
					background: none
					text-align: center
				&.active
					a
						color: $green
	.btn-center
		margin-bottom: 20px

	.right-element
		margin: 0 0 20px
		padding: 10px
		background-color: $grey_d8
		.right-element-img
			position: relative
			&:hover
				.remove-element
					opacity: 1
			.remove-element
				position: absolute
				z-index: 3
				opacity: 0
				border: none
				left: 0
				right: 0
				bottom: 0
				margin: 0
				width: 100%
				height: 100%
				color: $white
				font-size: 30px
				background-color: rgba(81,88,96,0.7)
				+transition(opacity, 0.3s, ease)
				i[class^='icon-']
					position: absolute
					top: 50%
					left: 50%
					margin: -16px 0 0 -12px
			// .img-check
			// 	position: absolute
			// 	top: 0
			// 	right: 0
			// 	cursor: pointer
			// 	background-color: $grey_cc
			// 	+transition(color, 0.3s, ease)
			// 	&:hover
			// 		color: $red
			// 	i[class^='icon-']
			// 		display: block
			// 		font-size: 16px
			// 		padding: 0 0 4px 4px
			// 		margin: -5px -5px 0 0
			a
				position: relative
				z-index: 1
				display: block
				img
					display: block
					width: 100%

		.form-control
			margin: 10px 0 0



	.right-file-element
		position: relative
		margin: 0 -20px
		padding: 8px 30px 7px 50px
		border-top: 1px solid #E4E4E4
		&.edit
			.file-title
				display: none
			.file-title-edit
				display: block
		&:last-child
			border-bottom: 1px solid #E4E4E4
		span
			display: block
		.file-type
			position: absolute
			top: 15px
			left: 20px
			font-size: 20px
			text-decoration: none
			i[class^='icon-']
				display: block
			.icon-file-excel-o
				color: #417505
			.icon-file-pdf-o
				color: #D0011B
			.icon-file-word-o
				color: #4990E2
		.file-title
			position: relative
			margin: 7px 0 8px
			white-space: nowrap
			color: $grey_51
			overflow: hidden
			&:before
				position: absolute
				z-index: 1
				top: 0
				right: 0
				bottom: 0
				width: 60px
				content: ''
				background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(242,242,242,1) 100%) /* FF3.6-15 */
				background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(242,242,242,1) 100%) /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(242,242,242,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2f2f2',GradientType=1 ) /* IE6-9 */



		.file-title-edit
			display: none
			.form-control
				margin: 0
		.remove-file
			position: absolute
			top: 18px
			right: 10px
			color: $grey_cc
			font-size: 12px
			cursor: pointer
			i[class^='icon-']
				display: block



/*_______________________________________________________________________________________________________________________*/
/*____________________________________________________________________________ TABS _______*/
/*_______________________________________________________________________________________________________________________*/

.tabs-sidebar, .tabs-content
	&.tabs-2
		.nav-tabs
			> li
				width: 50%
	&.tabs-3
		.nav-tabs
			> li
				width: 33.3333%
	.nav-tabs
		border: none
		border-top: 7px solid #fff
		background-color: #e4e4e4
		> li
			margin-bottom: 0
			> a
				margin: 0
				padding: 10px 20px
				color: $white
				border: none
				border: 0
				background-color: #e4e4e4
				text-align: center
				font-size: 18px
				font-weight: 400
				font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
				+border_radius(0)
				i[class^='icon-']
					color: $grey_51
					font-size: 20px
				.icon-cancel
					color: $red !important
			&.active
				margin-top: -7px
				a
					color: $grey_51
					padding-top: 17px
					border: none
					background-color: #f2f2f2
	.tab-content
		padding: 20px 20px 0
		.tab-textarea
			width: 100%
			height: 125px
			resize: none

		.tab-tags
			margin-bottom: 20px

		.tab-delete-block
			text-align: center
			margin-bottom: 20px
			// &:hover
			// 	.ajax-loader
			// 		display: inline-block
			p
				margin-bottom: 20px
			.ajax-loader
				display: none

.tabs-content
	// margin: 0 0 0 15px
	.nav-tabs
		padding-left: 20px

	.tab-content
		padding: 0 15px 0 0
		.tab-pane
			> .row
				// margin-right: 0
				&:nth-child(even)
					background-color: $white


/*_______________________________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________ CONTENT _______*/
/*_______________________________________________________________________________________________________________________*/


/*____________________________________________________________________________ Styled select2 ____________*/


.styled-select-select2
	position: relative
	width: 100%
	// overflow: hidden
	position: relative
	select
		position: relative
		z-index: 2
		border: 1px solid #f00
		height: 34px
		width: 100%
		margin-bottom: 20px
		opacity: 0


.select2-dropdown
	border: none
	margin-top: 10px
	+shadow(0, 4px, 14px, 0, rgba(0,0,0,0.15))

.select2-container--default
	&.select2-container--focus
		.select2-selection--multiple
			border: 1px solid $grey_cc

	.select2-results__option[aria-selected=true]
		position: relative
		color: $grey_51
		font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
		// &:hover
		// 	background: none
		&:before
			position: absolute
			top: 0
			left: 0
			bottom: 0
			width: 3px
			content: ''
			background-color: $blue


.select2-search--dropdown
	padding: 10px


.select2-container
	display: block
	.select2-selection
		font-size: 16px
		color: $grey_33
		// height: 35px
		line-height: 1.42857143
		padding: 6px 10px 4px
		border: 1px solid #ccc
		margin-bottom: 20px
		+border_radius(0)
		resize: none
		font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
		text-transform: none
		font-weight: 400
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
		&.select2-selection--multiple
			padding: 0
	.select2-search__field
		font-size: 16px
		color: $grey_33
		height: 33px
		padding: 5px 10px
		border: 1px solid #ccc
		+border_radius(0)
		resize: none
		font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
		&:focus
			+shadow(0, 0, 0, 0, rgba(0,0,0,0))
	.select2-selection__arrow
		z-index: 1
		right: 7px !important
		top: 4px !important
		position: relative

	.select2-selection--single
		.select2-selection__rendered
			line-height: 1.42857143
			height: 23px
	.select2-selection--multiple
		.select2-selection__rendered
			display: block
			list-style: none
			margin: 0
			// height: 33px
			overflow: hidden
			padding: 0
			width: 100%
			text-overflow: ellipsis
			white-space: nowrap

		.select2-selection__choice
			color: $white
			background: $grey_51
			cursor: default
			float: left
			margin: 4px 0 0 4px
			height: 25px
			padding: 0 6px
			line-height: 25px
			border: none
			.select2-selection__choice__remove
				margin-right: 5px
				cursor: pointer
				color: $white
				font-weight: 400
		.select2-search--inline
			.select2-search__field
				padding: 0 10px
				min-width: 40px


.select2-results__option
	border-top: 1px solid $grey_f2
	font-family: 'Proxima Nova Regular', Helvetica, Arial, sans-serif
	font-size: 16px
	line-height: 20px
	padding: 10px 20px
	color: $grey_33
	+transition(background-color, 0.3s, ease)
	&.select2-results__option--highlighted
		background-color: $grey_f1

.data-table
	thead
		.select2-container
			.select2-selection
				margin: 0


/*____________________________________________________________________________ Simple styled select _______*/

.styled-select
	position: relative
	width: 100%
	overflow: hidden
	position: relative
	&.form-control
		padding: 0
		&:before
			right: 10px
		select
			height: 35px
	&.action
		background-color: $grey_f3
	&:before
		position: absolute
		z-index: 1
		right: 7px
		top: 6px
		color: $grey_51
		font-size: 14px

	select
		position: relative
		z-index: 2
		border: none
		height: 30px
		width: 115%
		padding: 0 0 0 10px
		color: $grey_51
		font-size: 14px
		line-height: 20px
		background: none
		-webkit-appearance: none !important
		-moz-appearance: none !important
		-ms-appearance: none !important
		appearance: none !important

		text-indent: 0.01px
		text-overflow: ellipsis
		// padding-right: 30%
		white-space: nowrap
		cursor: pointer
		+border_radius(0)
		+transition ( all, 0.3s, ease )

		font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif

		&:focus, &:active
			outline: 0

// select
// 	&.dropdown
// 		color: #c1c6cd
// 		line-height: 20px
// 		height: 30px
// 		padding: 0 5px
// 		border: 0
// 		background-color: $grey_cc
// 		-webkit-appearance: none
// 		-moz-appearance: none
// 		appearance: none
// 		+border_radius(0)
		// color: #000
		// color: rgba(0,0,0,0)
		// text-shadow: 0 0 0 $black


/*____________________________________________________________________________ Content block _______*/

.content
	position: relative
	// min-height: calc(100% - 22px)
	padding: 22px 0 0
	// margin-bottom: -60px
	// overflow-x: hidden

	+transition(margin, 0.3s, ease)
	.content-header
		height: 50px
		padding: 0 40px
		position: relative
		.page-title
			float: left
			margin: 0
			font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif
			i[class^='icon-']
				font-size: 20px
				margin: 0 5px
				display: inline-block
				vertical-align: middle

		.lang-switcher
			position: relative
			margin: 2px 0 0 20px
			float: right
			border: 1px solid #cccccc
			padding: 2px
			+border_radius(3px)
			.move-block
				position: absolute
				z-index: 1
				top: 2px
				left: 2px
				width: 37px
				height: 24px
				padding: 5px 8px
				background-color: $red
				+border_radius(2px)
				+shadow(0, 5px, 10px, 0, rgba(0,0,0,0.2))
				+transition(all, 0.3s, ease)
			a
				position: relative
				z-index: 2
				float: left
				color: #7f7f7f
				padding: 7px 8px
				font-size: 10px
				line-height: 10px
				text-transform: uppercase
				+border_radius(2px)
				font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
				&.current
					color: $white
					// background-color: $red
					// +shadow(0, 5px, 10px, 0, rgba(0,0,0,0.2))
		.btn-add
			float: right
			margin: -2px 0 0 20px
			padding: 8px 20px 8px 15px
			i[class^='icon-']
				float: left
				margin: 2px 10px 0 0

	.content-block
		padding: 15px 0 0 //20px 15px 0 0
		.btn
			margin-bottom: 20px
		.col-block
			h3
				color: $grey_51
				font-size: 17px
				line-height: 28px
				margin-bottom: 15px
				font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif

			&.col-save-buttons
				.btn
					margin-left: 20px
		.col-title
			> *
				float: left
			h3
				margin-right: 40px
			.checkbox-block
				margin: 5px 20px 0 0

		.row-bkg
			// &:nth-child(odd)
			background-color: $grey_f3

		// label
		// 	display: block
		// 	font-size: 12px
		// 	line-height: 22px
		// 	color: #7f7f7f
		// 	margin-bottom: 3px
		// 	span
		// 		color: $red
		// 		font-size: 10px
		// 		line-height: 12px
		// 		text-transform: uppercase
		// .btn
		//   margin-bottom: 20px

		.without-label
			.checkbox-block
				margin-top: 32px
		.checkbox-block
			margin-top: 10px
			.checkbox
				float: left
				margin: 2px 5px 0 0
			label
				float: left
				margin: 0
				// line-height: 25px

	.upload-file
		position: relative
		overflow: hidden
		padding-right: 130px
		margin-bottom: 20px
		&.with-file
			padding-right: 195px
			.btn
				right: 65px
			.download-file,
			.remove-file
				display: block
		.btn
			position: absolute
			right: 0
			top: 0
			width: 110px
			margin: 0

		.download-file,
		.remove-file
			display: none
			font-size: 22px
			color: $grey_51
			position: absolute
			top: 5px
			[class^="icon-"]
				display: block
		.download-file
			right: 30px
			[class^="icon-"]
				margin-top: 2px
		.remove-file
			right: 0
	.content-controls
		padding: 0 40px
		// margin: 5px 0 0
		> .styled-select
			width: 200px
		.content-search
			float: left
			margin-top: 4px
			padding-left: 25px
			position: relative
			&:before
				position: absolute
				z-index: 9
				left: 0
				top: -1px
				font-family: 'icomoon'
				font-size: 15px
				content: '\f002'
				color: $grey_cc
			input[type='search']
				border: none
				color: $grey_cc
				font-size: 16px
				padding: 0
				font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif

		.table-length
			float: right
			width: 60px
		.content-grid
			float: right
			margin-top: 4px
			a
				float: left
				margin: 1px 20px 0 0
				i[class^='icon-']
					color: $grey_cc
					font-size: 22px
					+transition(color, 0.3s, ease)
					&:before
						margin: 0
				&:hover, &.current
					i[class^='icon-']
						color: $grey_51
	.chose-action
		padding: 0 40px
		.styled-select
			float: left
			width: 100px
			margin-right: 10px
		.btn
			float: left

		.action-pager
			float: right
			margin-left: 50px
			a, span
				width: 20px
				margin: 0 2px
				text-align: center
				float: left
				font-size: 12px
				line-height: 20px
				i[class^='icon-']
					font-size: 16px
					line-height: 20px
					&:before
						margin: 0
			a
				color: #c1c6cd
				&:hover
					color: $grey_51
			span
				color: #fff
				background-color: #c1c6cd

		.action-info
			float: right
			color: #c1c6cd
			font-size: 12px
			line-height: 20px



.lang-group
	display: none
	&:first-of-type
		display: block

.tinymce
	margin-bottom: 15px



/*____________________________________________________________________________ DATA TABLE _______*/

.data-table
	table-layout: fixed
	width: 100%
	max-width: 100%
	margin-bottom: 20px
	color: $grey_51
	.width
	a
		color: $grey_51
	&.table-align-center
		thead
			th
				text-align: center
		.checkbox
			margin: 4px auto 0
		tbody
			tr
				td
					padding-right: 0
					&:first-of-type
						padding-left: 10px


	&.articles-list
		tbody
			tr
				+transition(background-color, 0.3s, ease)
				&:hover
					background-color: $grey_f3
					.table-actions
						a
							opacity: 1
	thead
		background-color: $grey_f3
		th
			vertical-align: top
			font-size: 12px
			line-height: 24px
			padding: 8px 20px 7px 0
			text-transform: uppercase
			border-bottom: 1px solid #eeeeee
			font-family: 'Proxima Nova Bold', Helvetica, Arial, sans-serif

			.sorting
				cursor: pointer
				position: relative
				padding-right: 15px
				&.asc //up
					&:before
						color: $grey_51
					// &:after
					// 	display: none
				&.desc //down
					// &:before
					// 	display: none
					&:after
						color: $grey_51
				&:before,
				&:after
					position: absolute
					right: 3px
					top: 0
					color: $grey_cc
					// width: 7px
					// height: 4px
					line-height: 16px
					font-family: 'icomoon'
				&:before //up
					// top: 1px
					content: '\f0de'
				&:after //down
					// bottom: 2px
					content: '\f0dd'
			&.table-check
				width: 39px
				padding: 12px 13px 8px
				input[type='checkbox'], input[type='radio']
					display: block
					margin: 0

			&.table-actions
				width: 200px
	tbody
		tr
			// +transition(background-color, 0.3s, ease)
			// &:hover
			// 	background-color: $grey_f3
			// 	.table-actions
			// 		a
			// 			// display: inline-block
			// 			opacity: 1
			&.unpublished
				background-color: #ffe8e5
			td
				vertical-align: top
				font-size: 14px
				line-height: 24px
				padding: 8px 13px 7px 0
				border-bottom: 1px solid #eeeeee
				&.table-check
					width: 39px
					padding: 12px 13px 5px
					input[type='checkbox'], input[type='radio']
						display: block
						margin: 0
				&.table-actions
					width: 200px
					// width: 165px
					line-height: 22px
					// text-align: center
					// // font-size: 0
					// // letter-spacing : -.36em
					// a
					// 	// display: inline-block
					// 	// display: none
					// 	font-size: 18px
					// 	line-height: 18px
					// 	// letter-spacing: normal
					// 	padding: 0 3px
					// 	color: $grey
					// 	opacity: 0
					// 	+transition(opacity, 0.3s, ease)
					// 	i[class^='icon-']
					// 		font-size: 18px
					// 		// line-height: 18px
					// 	// .icon-pencil
					// 	// .icon-eye
					// 	// .icon-crosshairs
					// 	// .icon-mail-forward
					// 	// .icon-close
					// 	.icon-pencil
					// 		color: $blue
					// 		&:before
					// 			display: inline-block
					// 			margin-top: 2px

					// 	.icon-eye
					// 		color: $green
					// 	// .icon-forward

					// 	// .icon-target
					// 	.icon-chain
					// 		height: 17px
					// 		line-height: 17px

					// 	.icon-close
					// 		color: $red



.translate-item
	cursor: pointer
	&:hover
		i[class^='icon-']
			opacity: 1
	i[class^='icon-']
		opacity: 0
		display: inline-block
		vertical-align: middle
		font-size: 15px
		+transition(opacity, 0.3s, ease)

.translate-item-edit
	.form-control
		margin: 0
		font-size: 14px
		line-height: 18px
		font-family: 'Proxima Nova Regular', Helvetica, Arial, sans-serif




/*____________________________________________________________________________ TABLE ACTIONS _______*/

.table-actions
	width: 165px
	line-height: 22px
	text-align: center
	a
		font-size: 18px
		line-height: 18px
		padding: 0 3px
		color: $grey_51
		opacity: 0
		+transition(opacity, 0.3s, ease)
		i[class^='icon-']
			font-size: 18px
		.icon-pencil
			color: $blue
			&:before
				display: inline-block
				margin-top: 2px
		.icon-eye
			color: $green
		.icon-chain
			height: 17px
			line-height: 17px
		.icon-close
			color: $red


.col-block
	&.error
		.form-control
			border: 1px solid $red
	label
		display: block
		font-size: 14px
		// line-height: 22px
		color: $grey_66
		margin-bottom: 5px
		margin-left: 10px
		font-weight: 400
		font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
		span
			float: right
			color: $red
			font-size: 11px
			line-height: 20px
			margin-top: 1px
			text-transform: uppercase


.form-page
	padding: 0 40px

.row-padding
	padding: 15px 0

.row-padding-big
	padding: 35px 40px 15px 40px


.settings-page
	> .row
		margin: 0
	.row-padding
		padding: 35px 25px 15px 40px

.published
	float: left
	margin-top: 8px
	// label
	// 	display: inline-block !important


/*____________________________________________________________________________ SEARCH RESULTS _______*/

.search-results
	font-size: 0
	letter-spacing: -.36em
	.search-element
		letter-spacing: normal
		font-size: 14px
		display: inline-block
		vertical-align: top
		width: 250px
		padding: 0 15px
		margin: 0 0 30px
		.search-element-wrap
			padding: 10px
			background-color: $grey_f3
			.search-element-img
				position: relative
				width: 200px
				height: 135px
				margin-bottom: 10px
				background: url('../img/ajax-loader.gif') no-repeat 50% 50%
				.img-check
					position: absolute
					top: 0
					right: 0
					background-color: $grey_f3
					input[type="checkbox"]
						display: block
						margin: 0 0 9px 9px
				.search-element-link
					display: block
					img
						display: block
						width: 100%
			.tag-labels
				border-bottom: 1px solid #ccc
				color: #898989
				font-size: 13px
				padding: 0 0 10px
				margin-bottom: 10px
			.date
				color: #898989
				font-size: 13px


/*____________________________________________________________________________ BOOTSTRAP TAGS _______*/

.bootstrap-tagsinput
	min-width: 100%
	color: $grey_33
	padding: 5px
	border: 1px solid #ccc
	+border_radius(0)
	resize: none
	&:focus
		border-color: $blue
	input
		min-width: 100%
	.tag
		position: relative
		float: left
		color: #fff
		font-size: 12px
		margin: 0 4px 4px 0
		padding: 0 5px
		background-color: #52585f
		+border_radius(3px)
		span[data-role="remove"]
			margin-left: 4px
			+transition(color, 0.3s, ease)
			&:hover
				color: $red
				+shadow(0, 0, 0, 0, 0)
			&:after
				font-family: 'fontello'
				font-size: 12px
				content: '\e820'
				cursor: pointer


/*____________________________________________________________________________ BOOTSTRAP TAGS _______*/



.images-gallery
	.gallery-item
		position: relative
		float: left
		min-height: 150px
		margin: 0 20px 20px 0
		&:hover
			.btnDeleteItem
				opacity: 1

		.image
			position: relative
			overflow: hidden
			width: 210px
			//height: 140px
			z-index: 2
			left: 0
			right: 0
			top: 0
			bottom: 0
			background-color: $grey_f3
			img
				// position: relative
				// top: 50%
				display: block
				margin: 0 auto
				max-width: 100%
				max-height: 100%
				// transform: translateY(-50%)
				// -moz-transform: translateY(-50%)
				// -ms-transform: translateY(-50%)
				// -webkit-transform: translateY(-50%)

		.btnAddItem
			position: relative
			z-index: 1
			border: none
			padding: 0
			margin: 0
			width: 210px
			height: 140px
			cursor: pointer
			background-color: $grey_f3
			&:before
				position: absolute
				top: 50%
				left: 50%
				margin: -21px 0 0 -20px
				font-size: 40px
				color: $grey_cc
				font-family: 'icomoon'
				content: "\f03e"

				font-style: normal
				font-weight: normal
				font-variant: normal
				text-transform: none
				line-height: 1



		.btnDeleteItem
			position: absolute
			z-index: 3
			opacity: 0
			border: none
			left: 0
			right: 0
			bottom: 0
			margin: 0
			width: 100%
			height: 100%
			color: $white
			font-size: 30px
			background-color: rgba(81,88,96,0.7)
			+transition(opacity, 0.3s, ease)
			i[class^='icon-']
				position: absolute
				top: 50%
				left: 50%
				margin: -16px 0 0 -12px


.sortable
	list-style-type: none
	// margin: 2em 0
	padding: 0 40px
	li
		&.placeholder
			background-color: $grey_cc
		.ui-sortable-handle
			cursor: move
			margin: 0
			padding: 10px
			border-bottom: 1px dotted #cccccc
			+transition(background-color, 0.3s, ease)
			&:hover
				background-color: $grey_f3
				.table-actions
					a
						opacity: 1
			a
				font-size: 18px
				font-family: 'Proxima Nova Bold', Helvetica, Arial, sans-serif
			.table-actions
				float: right
		ol
			list-style-type: none
			margin: 0 0 0 25px
			padding: 0
			li
				.ui-sortable-handle
					a
						font-size: 16px
						font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
				ol
					li
						.ui-sortable-handle
							a
								font-size: 16px
								font-family: 'Proxima Nova Regular', Helvetica, Arial, sans-serif





.table-block
	display: table
	width: 100%
	height: 100%
	.table-cell-block
		display: table-cell
		vertical-align: middle
		text-align: center


.info-block
	&.not-authorized
		padding-top: 140px
		background-position: top center
		background-repeat: no-repeat
		background-size: 100px 125px
		background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20data-name%3D%22Layer%201%22%20viewBox%3D%220%200%20100%20125%22%20x%3D%220px%22%20y%3D%220px%22%3E%0A%09%3Cpath%20d%3D%22M64.41%2C34.33V27.46a14%2C14%2C0%2C0%2C0-14-14h-.91a14%2C14%2C0%2C0%2C0-14%2C14v6.86q-5.27.42-10.51%2C1.13v-8A24.49%2C24.49%2C0%2C0%2C1%2C49.55%2C3h.91A24.49%2C24.49%2C0%2C0%2C1%2C74.92%2C27.46v8Q69.68%2C34.74%2C64.41%2C34.33Zm-46.9%2C11a174.79%2C174.79%2C0%2C0%2C1%2C65%2C0%2C6.07%2C6.07%2C0%2C0%2C1%2C4.94%2C6V88.21A5.48%2C5.48%2C0%2C0%2C1%2C83%2C93.59l-3.33.63A159.5%2C159.5%2C0%2C0%2C1%2C50%2C97a159.5%2C159.5%2C0%2C0%2C1-29.65-2.78L17%2C93.59a5.48%2C5.48%2C0%2C0%2C1-4.46-5.38V50.78A5.48%2C5.48%2C0%2C0%2C1%2C17%2C45.4ZM43.87%2C79.75a16.86%2C16.86%2C0%2C0%2C0%2C12.26%2C0A1.36%2C1.36%2C0%2C0%2C0%2C56.92%2C78l-3.19-9a6%2C6%2C0%2C1%2C0-7.45%2C0l-3.19%2C9A1.36%2C1.36%2C0%2C0%2C0%2C43.87%2C79.75Z%22%20fill%3D%22%23ED4147%22%2F%3E%0A%3C%2Fsvg%3E%0A')
		h2
			line-height: 24px
			color: $red
			margin: 0
			font-family: 'Proxima Nova Bold', Helvetica, Arial, sans-serif








// .styled-radio
//   display: inline-block
//   label
//     position: relative
//     padding-left: 21px
//     margin-right: 10px
//     font-size: 12px
//     color: $grey_33
//     i[class^="icon-"]
//       position: absolute
//       font-size: 18px
//       top: -1px
//       left: 0
//       color: $grey
//       &:before
//         margin: 0
//     .icon-circle-empty
//       color: #999 !important
//     .icon-dot-circled
//       display: none

//   input[type=radio]:not(old)
//     display: none

//   input[type=radio]:not(old) + label
//     display: inline-block
//     cursor: pointer

//   input[type=radio]:not(old):checked + label
//     .icon-circle-empty
//       display: none
//     .icon-dot-circled
//       display: block


// .styled-checkbox
//   display: inline-block
//   label
//     position: relative
//     padding-left: 25px
//     margin-right: 10px
//     font-size: 12px
//     color: $grey_33
//     i[class^="icon-"]
//       position: absolute
//       font-size: 20px
//       top: 0
//       color: $grey
//       &:before
//         margin: 0
//     .icon-check-empty
//       color: #999 !important
//       left: -0.5px
//     .icon-check
//       display: none
//       left: 1px

//   input[type=checkbox]:not(old)
//     display: none

//   input[type=checkbox]:not(old) + label
//     display: inline-block
//     cursor: pointer

//   input[type=checkbox]:not(old):checked + label
//     .icon-check-empty
//       display: none
//     .icon-check
//       display: block







/*_______________________________________________________________________________________________________________________*/
/*__________________________________________________________________________ FOOTER _______*/
/*_______________________________________________________________________________________________________________________*/

// .footer
// 	padding: 35px 0 27px
// 	font-size: 13px
// 	font-size: 0
// 	letter-spacing : -.36em
// 	.container
// 		text-align: center
// 		.footer-legal
// 			float: left
// 			color: $grey_66
// 			font-size: 13px
// 			letter-spacing: 1px
// 			text-transform: uppercase

.footer
	// position: absolute
	// bottom: 0
	float: left
	padding: 15px 40px
	a
		font-size: 14px
		line-height: 20px
		text-decoration: none
		span
			color: $green_a
		&:hover, &:focus
			color: $green_a


/*_______________________________________________________________________________________________________________________*/
/*__________________________________________________________________________ MEDIA ________*/
/*_______________________________________________________________________________________________________________________*/


// @media screen and (min-width: 1440px)

// @media screen and (max-width: 1439px)


// @media screen and (max-width: 1180px)



// @media screen and (max-width: 1100px)



// @media screen and (max-width: 1024px)


// @media screen and (max-width: 790px)




// @media screen and (max-width: 758px)




// @media screen and (max-width: 584px)




// @media screen and (max-width: 480px)


.row-save-actions
	box-shadow: #363A41 0 0 10px
	position: fixed
	padding-top: 15px
	padding-bottom: 15px
	z-index: 100
	background: #FFFFFF
	bottom: 0
	left: 210.08px
	right: 0


$grey_1d: #1D1C1C
$grey_24: #242424
$grey_33: #333333
$grey_3c: #3c3c3c
$grey_44: #444452
$grey_4a: #4a4a4a
$grey_55: #555555
$grey_66: #666666
$grey_73: #737373
$grey_88: #888888
$grey_99: #999999
$grey_9b: #9B9B9B
$grey_aa: #aaaaaa
$grey_bb: #bbbbbb
$grey_cc: #cccccc
$grey_dc: #dcdcdc
$grey_dd: #dddddd
$grey_df: #dfdfdf
$grey_ee: #eeeeee
$grey_ed: #ededed
$grey_e6: #E6E6E6
$grey_e7: #E7E7E7
$grey_f1: #f1f1f1
$grey_f3: #F6F3F8
$grey_f5: #F5F5F5
$grey_f6: #f6f6f6
$grey_f7: #f7f7f7
$grey_f8: #f8f8f8


$black_opacity_03: rgba(0,0,0,0.03)
$black_opacity_05: rgba(0,0,0,0.05)
$black_opacity_08: rgba(0,0,0,0.08)


$main_grey: #2F333A
$main_green: #11998E

$green: #51BB00
$red: #E74C3C
$yellow: #FFB100
$blue: #3498DB
$blue_light: #7C90A3
$blue_dark: #34495E
$orange: #E67E22
$purple: #9B59B6
$sea: #1ABC9C
$algeae: #2ECC71


$amigo_green: #4aba47


$main_font: 'Roboto', Helvetica, Arial, sans-serif
$second_font: 'Montserrat Alternates', Helvetica, Arial, sans-serif







.test-section
	padding: 30px 0
	.category-element
		text-align: center
		margin-bottom: 20px
		h1
			position: relative
			z-index: 2
			margin: -30px 0 10px

		h2
			color: #DAE2EA

		.category-image
			position: relative
			margin: 0 auto
			width: 130px
			height: 130px
			&:before
				position: absolute
				z-index: 1
				top: 0
				right: 0
				left: 0
				bottom: 0
				content: ''
				border-radius: 50%
				opacity: 0.1
			img
				position: relative
				z-index: 2
				display: block
				padding: 5px



// .test-questions-block
// 	.one-question
// 		.one-question-trigger


.questions-block-selected
	margin: 0 -20px
	.toggle-block
		.toggle-button
			font-weight: 700
		.toggle-action
			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Crect%20stroke%3D%22%23EAEAEA%22%20stroke-width%3D%222%22%20x%3D%222%22%20y%3D%222%22%20width%3D%2220%22%20height%3D%2220%22%20rx%3D%223%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23E74C3C%22%20d%3D%22M6%2011h12v2H6z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')


.toggle-block
	border-top: 1px solid #DAE2EA
	position: relative
	// &:hover
	// 	.toggle-button
	// 		background-color: $grey_f7

	.toggle-button
		position: relative
		cursor: pointer
		font-size: 16px
		line-height: 20px
		padding: 24px 55px
		-webkit-transition: background-color .25s ease-in-out
		transition: background-color .25s ease-in-out
		.toggle-button-val
			position: absolute
			top: 24px
			left: 15px
			width: 24px
			height: 24px
			text-align: center
			font-size: 13px
			line-height: 24px
			font-weight: 900
			font-family: $second_font
			color: white
			border-radius: 50%
			+shadow(0, 4px, 8px, 0, rgba(0,0,0,0.15))


			&.val_1
				background-color: $purple
			&.val_2
				background-color: $blue
			&.val_3
				background-color: $green
			&.val_4
				background-color: $orange
			&.val_5
				background-color: $red

	.toggle-action
		position: absolute
		z-index: 2
		top: 24px
		right: 15px
		width: 24px
		height: 24px
		cursor: pointer
		background-repeat: no-repeat
		background-position: center center
		background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%238ACE12%22%20d%3D%22M11%206h2v12h-2z%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%238ACE12%22%20d%3D%22M6%2011h12v2H6z%22%2F%3E%0A%20%20%20%20%3Crect%20stroke%3D%22%23EAEAEA%22%20stroke-width%3D%222%22%20x%3D%222%22%20y%3D%222%22%20width%3D%2220%22%20height%3D%2220%22%20rx%3D%223%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')

	.toggle-panel
		display: none
		padding: 0 20px 25px 55px
		img
			display: block
			max-width: 100%
		*:last-child
			margin-bottom: 0


.test-questions-block
	margin: 0 -20px 30px
	.toggle-block
		&:last-child
			border-bottom: 1px solid #DAE2EA

.single-variant
	padding-left: 36px
	color: $blue_dark
	font-size: 18px
	line-height: 24px
	margin-bottom: 18px
	background-repeat: no-repeat
	background-position: 0 0
	background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpath%20id%3D%22a%22%20d%3D%22M20%2020V5H5v15z%22%2F%3E%0A%20%20%20%20%3Cfilter%20x%3D%22-23.3%25%22%20y%3D%22-23.3%25%22%20width%3D%22146.7%25%22%20height%3D%22146.7%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22b%22%3E%0A%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%221.5%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowBlurInner1%22%2F%3E%0A%20%20%20%20%20%20%3CfeOffset%20dy%3D%222%22%20in%3D%22shadowBlurInner1%22%20result%3D%22shadowOffsetInner1%22%2F%3E%0A%20%20%20%20%20%20%3CfeComposite%20in%3D%22shadowOffsetInner1%22%20in2%3D%22SourceAlpha%22%20operator%3D%22arithmetic%22%20k2%3D%22-1%22%20k3%3D%221%22%20result%3D%22shadowInnerInner1%22%2F%3E%0A%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.3%200%22%20in%3D%22shadowInnerInner1%22%2F%3E%0A%20%20%20%20%3C%2Ffilter%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%0A%20%20%20%20%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23b%29%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%0A%20%20%20%20%3Cuse%20stroke%3D%22%23BBB%22%20stroke-width%3D%222%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')


.lines-block
	margin-top: -30px
	.line
		width: 100%
		height: 21px
		margin-top: 10px
		border-bottom: 1px solid $blue_light

.text-with-line
	position: relative
	font-size: 18px
	line-height: 24px
	margin-bottom: 10px
	&:before
		position: absolute
		z-index: 1
		left: 0
		right: 0
		bottom: 3px
		width: 100%
		height: 1px
		content: ''
		background-color: $blue_light
	.text
		display: inline-block
		position: relative
		z-index: 2
		&:before
			position: absolute
			z-index: 1
			top: -5px
			left: 0
			right: -5px
			bottom: -5px
			content: ''
			background-color: white


	span
		position: relative
		z-index: 2

.more-tests-block
	text-align: center


.comments-block
	margin: 30px 0 50px
	textarea
		width: 100%
		resize: none
		padding: 20px
		min-height: 220px
		color: $blue_dark
		border: 2px solid $blue_light
		background-color: $grey_f7
		box-sizing: border-box
		font-size: 20px
		line-height: 22px
		-webkit-transition: -webkit-box-shadow .25s ease-in-out
		transition: box-shadow .25s ease-in-out
		+shadow(0, 10px, 20px, 0, rgba(0,0,0,0))
		&:focus
			+shadow(0, 10px, 20px, 0, rgba(0,0,0,0.1))

.final-section
	padding: 70px 0
	h1, h2
		text-align: center
	h2
		color: #DAE2EA
		margin-bottom: 20px

.actions-wrapper
	height: 100px
// margin-bottom: 30px

.final-actions-block
	padding: 10px 0

	// -webkit-transition: -webkit-box-shadow .25s ease-in-out
	// transition: box-shadow .25s ease-in-out
	&.fixed
		position: fixed
		top: 0
		left: 0
		right: 0
		z-index: 2
		background-color: white
		+shadow(0, 4px, 8px, 0, rgba(0,0,0,0.15))
	.btn
		width: 48px
		min-width: auto
		font-size: 15px
		letter-spacing: normal
		margin: 0 10px
		svg
			display: inline-block
			vertical-align: top
		// margin-right: 5px

		span
			display: none

.final-questions-block
	margin: 0 -20px
	.one-question
		padding: 20px 15px
		border-top: 1px solid #DAE2EA
		font-size: 16px
		line-height: 20px
		color: $blue_dark
		// &:last-child
		// 	border-bottom: 1px solid #DAE2EA
		.one-question-header
			position: relative
			padding-left: 30px
			span
				position: absolute
				top: 0
				left: -10px
				width: 30px
				text-align: right
				font-weight: 700


		.one-question-body
			padding: 20px 0 0 30px

			img
				max-width: 100%


			.single-variant
				background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%2334495E%22%20stroke-width%3D%222%22%20d%3D%22M20%2020V5H5v15z%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')

			.lines-block
				margin: -10px 0



@media (min-width: 768px)

	.single-variant
		&.true-false-variant
			width: 50%
			float: left


@media (min-width: 1025px)


	.test-section
		padding: 50px 0 100px
		.category-element
			margin-bottom: 40px
			h1
				margin: -30px 0 30px
			.category-image
				top: 0
				width: 170px
				height: 170px

				img
					padding: 25px


	.test-block-select
		margin-bottom: 30px


	.questions-block-selected
		margin: 0
		.toggle-block
			.toggle-action
				&:hover
					background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M4%201h16a3%203%200%200%201%203%203v16a3%203%200%200%201-3%203H4a3%203%200%200%201-3-3V4a3%203%200%200%201%203-3zm2%2010v2h12v-2H6z%22%20fill%3D%22%23E74C3C%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')




	.test-questions-block
		margin: 0 0 50px

	.toggle-block
		&:hover
			.toggle-button
				background-color: $grey_f7

		.toggle-button
			font-size: 20px
			line-height: 28px
			padding: 30px 70px
			.toggle-button-val
				top: 32px
				left: 20px

		.toggle-action
			top: 32px
			right: 20px

		.toggle-panel
			padding: 40px 70px 50px 70px
			img
				display: block
				max-width: 100%
			*:last-child
				margin-bottom: 0



	.single-variant
		&.true-false-variant
			width: 20%


	.final-actions-block
		padding: 20px 0
		.btn
			min-width: 190px
			span
				display: inline-block
			svg
				margin-right: 5px

	.actions-wrapper
		margin-bottom: 30px


	.final-questions-block
		margin: 0
		.one-question
			padding: 30px 20px
			border-top: 1px solid #DAE2EA
			font-size: 20px
			line-height: 28px
			.one-question-header
				padding-left: 50px
				span
					top: 0
					left: 0
					width: 40px

			.one-question-body
				padding: 25px 0 0 70px
				.lines-block
					margin: 20px 0


