
html, body, div, span, object, iframe,h1, h2, h3,
h4, h5, h6, p, blockquote, pre,abbr, address, cite,
code,del, dfn, em, img, ins, kbd, q, samp,small, strong,
sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form,
label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,footer, header,
hgroup, menu, nav, section, summary,time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	outline: 0
	font-size: 100%
	vertical-align: baseline
	background: transparent
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale


/*__________________________________________________________________________ Fonts ______________________*/


@font-face
	font-family: 'Proxima Nova Semibold'
	src: url('../../../admin-assets/fonts/proxima_nova_semibold.eot')
	src: url('../../../admin-assets/fonts/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'), url('../../../admin-assets/fonts/proxima_nova_semibold.woff2') format('woff2'), url('../../../admin-assets/fonts/proxima_nova_semibold.woff') format('woff'), url('../../../admin-assets/fonts/proxima_nova_semibold.ttf') format('truetype'), url('../../../admin-assets/fonts/proxima_nova_semibold.svg#proxima_nova_ltsemibold') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Proxima Nova Regular'
	src: url('../../../admin-assets/fonts/proxima_nova_regular.eot')
	src: url('../../../admin-assets/fonts/proxima_nova_regular.eot?#iefix') format('embedded-opentype'), url('../../../admin-assets/fonts/proxima_nova_regular.woff2') format('woff2'), url('../../../admin-assets/fonts/proxima_nova_regular.woff') format('woff'), url('../../../admin-assets/fonts/proxima_nova_regular.ttf') format('truetype'), url('../../../admin-assets/fonts/proxima_nova_regular.svg#proxima_nova_rgregular') format('svg')
	font-weight: normal
	font-style: normal



/*__________________________________________________________________________ Colors ______________________*/

$black: #000000
$white: #ffffff

$grey_99: #999999
$grey_66: #666666



/*__________________________________________________________________________ Mixins ______________________*/

=transition($transition, $sec , $ease)
	transition:         $transition $sec $ease
	-o-transition:      $transition $sec $ease
	-ms-transition:     $transition $sec $ease
	-moz-transition:    $transition $sec $ease
	-webkit-transition: $transition $sec $ease

=border_radius($radius)
	border-radius:         $radius
	-o-border-radius:      $radius
	-ms-border-radius:     $radius
	-moz-border-radius:    $radius
	-webkit-border-radius: $radius

=border_radius_custom($radius_1, $radius_2, $radius_3, $radius_4)
	border-radius:         $radius_1 $radius_2 $radius_3 $radius_4
	-o-border-radius:      $radius_1 $radius_2 $radius_3 $radius_4
	-ms-border-radius:     $radius_1 $radius_2 $radius_3 $radius_4
	-moz-border-radius:    $radius_1 $radius_2 $radius_3 $radius_4
	-webkit-border-radius: $radius_1 $radius_2 $radius_3 $radius_4

=shadow($h_length, $v_length, $blur, $radius, $color)
	box-shadow:         $h_length $v_length $blur $radius $color
	-o-box-shadow:      $h_length $v_length $blur $radius $color
	-ms-box-shadow:     $h_length $v_length $blur $radius $color
	-moz-box-shadow:    $h_length $v_length $blur $radius $color
	-webkit-box-shadow: $h_length $v_length $blur $radius $color


/*__________________________________________________________________________ Basic ______________________*/

body
	position: relative
	color: black
	font-family: 'Proxima Nova Regular', Helvetica, Arial, sans-serif
	font-size: 15px
	line-height: 25px
	background-color: white

a, input, button, textarea, select
	&:focus, &:active
		outline:  0

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
	color: black
	font-weight: 400
	font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
	margin: 0 0 15px

strong, b
	font-family: 'Proxima Nova Regular', Helvetica, Arial, sans-serif

i, em
	font-style: italic

a
	color: black
	+transition ( color, 0.3s, ease )
	&:hover
		text-decoration: none

.clearfix:before,
.clearfix:after
	content: " "
	display: table

.clearfix:after
	clear: both

*
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-tap-highlight-color: transparent


/*__________________________________________________________________________ maintenance page ______________________*/

.maintenance-page,
.maintenance-page body
	height: 100%
	.wrapper
		width: 100%
		height: 100%
		min-height: 480px
		.main-block
			display: table
			position: relative
			width: calc(100% - 40px)
			padding: 0 20px
			height: 100%
			// &:before
			// 	position: absolute
			// 	z-index: 1
			// 	top: 0
			// 	right: 0
			// 	left: 0
			// 	bottom: 0
			// 	content: ''
			// 	opacity: 0.07
			// 	background: url('../img/back.png') no-repeat center center
			// 	background-size: cover

.maintenance-page body
	background: white url('../img/maintenance_bg.png') repeat center center


.main-wrap
	position: relative
	z-index: 2
	display: table-cell
	vertical-align: middle
	text-align: center
	.cover-container
		margin: 30px auto
		width: 600px //580px
		padding: 75px 0 0
		// height: 420px
		// text-align: left
		background-color: white


		.logo
			display: inline-block
			margin-bottom: 65px
			img
				display: block



		h3
			font-size: 24px
			line-height: 29px
			margin-bottom: 65px
			padding: 0 100px



		.contacts
			margin-bottom: 65px
			font-size: 0
			letter-spacing : -.36em
			a
				display: inline-block
				margin-right: 132px
				position: relative
				font-size: 20px
				line-height: 24px
				letter-spacing: normal
				text-decoration: none
				font-family: 'Proxima Nova Semibold', Helvetica, Arial, sans-serif
				&:before
					position: absolute
					top: -8px
					left: calc(100% + 65px)
					bottom: -8px
					width: 2px
					content: ''
					background-color: #EDEDED
				&:last-child
					margin: 0
					&:before
						display: none







@media screen and (max-width: 1240px)

	// .main-wrap
	// 	.cover-container
	// 		width: 100%


@media screen and (max-width: 767px)


@media screen and (max-width: 640px)

	// .main-wrap
	// 	.cover-container
	// 		width: 100%

	.main-wrap
		.cover-container
			height: auto
			width: auto
			padding: 40px 0 0
			.logo
				margin-bottom: 30px
			h3
				padding: 0 10%
				margin-bottom: 30px
			.contacts
				margin-bottom: 40px
				a
					margin: 0 62px 0 0
					&:before
						left: calc(100% + 30px)


@media screen and (max-width: 480px)


	.main-wrap
		.cover-container
			height: auto
			width: auto
			h3
				padding: 0 20px

			.contacts
				a
					display: block
					margin: 0 0 42px
					&:before
						top: calc(100% + 20px)
						left: calc(50% - 20px)
						bottom: auto
						width: 40px
						height: 2px


	// .main-wrap
	// 	.cover-container
	// 		h1
	// 			font-size: 30px
	// 			line-height: 40px
	// .partners
	// 	text-align: left
	// 	.one-partner
	// 		width: 49%
	// 		.one-partner-wrap
	// 			margin: 0
